<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/search/results']">Résultats de la recherche</a>
  </li>
  <li class="active">Détails</li>
</ol>

<div class="row">
  <div class="col-xs-12 pull-right" style="margin-bottom: 1em;">
    <a href="javascript:history.go(-1)">
      <button type="button" class="btn btn-secondary btn-sm" name="button">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour à la liste
      </button>
    </a>
  </div>
</div>

<div widget class="widget" id="search-details">
  <header>
    <div class="post-user mt-n-xs">
      <span class="thumb pull-left mr">
        <img class="img-circle" [src]="result.avatar">
      </span>
      <h6 class="mb-xs mt-xs"><span class="fw-semi-bold">{{ fullName }}</span></h6>
      <p class="fs-mini text-muted" *ngIf="!isEmpty(fullTitle) && fullTitle != fullName">{{ fullTitle }}
        <span class="label label-pill label-danger" style="margin-left: 5px">
          {{ (matching.toString().indexOf('.') < 0) ? matching : matching.toString().split('.')[0] }}%
        </span>
      </p>
    </div>
  </header>

  <div class="widget-body search-result-body" *ngIf="offerComplete">
    <div class="container-fluid mt-xs">
      <div class="row">

        <div class="col-md-12 col-xs-12">
          <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
            <div [innerHTML]="alert.msg"></div>
          </alert>

          <div *ngIf="candidatureAllowed">
            <legend><strong>Coordonnées :</strong></legend>
            <div><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;{{ result.email }}</div>
            <div><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{{ result.tel }}</div>
          </div>

          <div [hidden]="!languages || languages.length == 0">
            <legend><strong>Langues {{ projectTarget == 'employer' ? 'maîtrisées' : 'requises' }} :</strong></legend>
            <ul class="post-links">
              <li *ngFor="let l of languages">{{ l.libelle }}</li>
            </ul>
          </div>

          <div [hidden]="!qualities || qualities.length == 0">
            <legend><strong>Qualités {{ projectTarget == 'employer' ? 'recherchées' : 'requises' }} :</strong></legend>
            <ul class="post-links">
              <li *ngFor="let q of qualities">{{ q.libelle }}</li>
            </ul>
          </div>

          <div class="col-md-12 col-xs-12 button-bar">
            <recruit-button
              [jobyer]="result"
              (onRecruite)="onRecruite($event)"
              *ngIf="projectTarget == 'employer' && !isRecruteur"
              class="top-element"
            ></recruit-button>
            <button
              type="submit"
              class="btn btn-secondary btn-sm top-element"
              (click)="switchJobyerInterest()" [disabled]="isInterestBtnDisabled"
              *ngIf="projectTarget == 'jobyer' && currentUser"
              style="background-color: #40aea9; color: white; float: right;"
            >
              {{jobyerInterestLabel}}
            </button>
          </div>
          <div *ngIf="videoAvailable" class="col-md-12">
            <iframe
              class="iframe-class"
              width="100%"
              height="360px"
              target="_parent"
              [style.display]="videoAvailable?'block':'none'"
              [src]="youtubeLinkSafe"
            >
            </iframe>
          </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="projectTarget == 'jobyer' && result.rate && result.rate > 0">
          <b>Le taux horaire : </b>{{result.rate.toFixed(3)}} &euro; <br />
          <b>Les gains estimés : </b>{{(!estimatedIncome && estimatedIncome==0)? 'Calcul en cours ...':estimatedIncome.toFixed(2)+" €"}}
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="offerComplete.calendarData && offerComplete.calendarData.length > 0">
          <b>{{ projectTarget == 'jobyer' ? 'Disponibilités' : 'Horaires de travail souhaités' }}</b>
          <ul>
            <li *ngFor="let dispo of offerComplete.calendarData, let j = index" [hidden]="dispo.pause">

              <div>
                le <b>{{ toDateString(dispo.date) }} :</b> {{ toHourString(dispo.startHour) }} - {{ toHourString(dispo.endHour) }}
              </div>

            </li>
          </ul>
        </div>

        <div class="col-md-12 col-xs-12">
          <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="content-map">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng">
            </sebm-google-map-marker>
          </sebm-google-map>
        </div>
      </div>

    </div>
  </div>
</div>

<!--<div class="row">

  <div class="col-lg-8 col-xl-offset-2 col-xs-12">
    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
      <div [innerHTML]="alert.msg"></div>
    </alert>
    <section widget class="widget">
      <recruit-button [jobyer]="result" (onRecruite)="onRecruite($event)" *ngIf="projectTarget == 'employer' && !isRecruteur" class="top-element"></recruit-button>

      <button type="submit" class="btn btn-secondary btn-sm top-element" (click)="switchJobyerInterest()" *ngIf="candidatureAllowed && projectTarget == 'jobyer' && currentUser" style="background-color: #40aea9; color: white; float: right;">
        {{jobyerInterestLabel}}
      </button>
      <div class="widget-body">
        <div class="post-user mt-n-xs">
					<span class="thumb pull-left mr">
						<img class="img-circle" [src]="result.avatar">
					</span>
          <h6 class="mb-xs mt-xs"><span class="fw-semi-bold">{{fullName}}</span></h6>
          <p class="fs-mini text-muted">{{projectTarget == 'employer' ? 'Offre de service: ' : 'Offre: '}} {{fullTitle}}
            <span class="label label-pill label-danger" style="margin-left: 5px">{{(matching.toString().indexOf('.') < 0) ? matching:matching.toString().split('.')[0]}}</span>
          </p>
        </div>
        <div class="row col-md-12 col-xs-12"
             style="padding-top: 7px;margin-bottom: 10px;"
             *ngIf="projectTarget == 'employer' || result.accepteCandidature == 'true'" >
          <div class="col-lg-4 col-md-6 col-xs-12">
            <span><i class="fa fa-envelope" aria-hidden="true"></i><b> {{result.email}}</b></span>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <span><i class="fa fa-phone" aria-hidden="true"></i><b> {{result.tel}}</b></span>
          </div>
        </div>
        <div class="widget-middle-overflow windget-padding-md clearfix bg-info text-white">
          <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="content-map">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng">
            </sebm-google-map-marker>
          </sebm-google-map>
        </div>
      </div>
      <footer class="bg-body-light">
        <div class="row">
          <div class="col-lg-6 col-xl-offset-2 col-xs-12 no-margin" [hidden]="!languages || languages.length==0">
            <label>Langues {{projectTarget == 'employer' ?"maîtrisées":"requises"}}</label>
            <ul class="post-links">
              <li *ngFor="let l of languages">{{l.libelle}}</li>
            </ul>
          </div>
          <div class="col-lg-6 col-xl-offset-2 col-xs-12 no-margin" [hidden]="!qualities || qualities.length==0">
            <label>Qualités {{projectTarget == 'employer' ?"recherchées":"requises"}}</label>
            <ul class="post-links">
              <li *ngFor="let q of qualities">{{q.libelle}}</li>
            </ul>
          </div>
        </div>
      </footer>
    </section>
  </div>
</div>-->

<div modal-notification-contract [jobyer]="result" [subject]="subject" *ngIf="projectTarget == 'employer' && !isRecruteur"></div>
<div modal-profile [fromPage]="fromPage" [jobyer]="result" (onProfileUpdated)="onProfileUpdated($event)"></div>
