.img-employer{
width: 100%;
}
.img-jobyer{
width: 100%;
}
.employer{
 padding-left: 0;
//  padding-right: 0;
}
.jobyer{
//  padding-left: 0;
 padding-right: 0;
}
.title {
  color: #14baa6;
  text-align: center;
  padding-top: 1em;
  left: 0;
  right: 0;
  position: absolute;
}
.title2{
  color: #757575;
  text-align: center;
  padding-top: 1em;
  left: 0;
  right: 0;
  position: absolute;
}
.no-padding{
  padding: 0;
}
