<section class="card notifications">
  <header class="card-header">
    <div class="text-xs-center mb-sm">
      <strong>Vous avez {{notifCount}} notifications</strong>
    </div>
  </header>
  <!-- notification list with .thin-scroll which styles scrollbar for webkit -->
  <div id="notifications-list" class="list-group thin-scroll">
    <div *ngFor="let jobyerList of jobyerListNotif; let i = index"
         class="list-group-item" (click)="goToJobyerInterestList(jobyerList)" style="cursor: pointer;">
      <p class="no-margin overflow-hidden">
        <b>{{jobyerList.interestedJobyers}}</b> Jobyers sont interéssé(s) par l'offre <b>{{jobyerList.title}}</b>
      </p>
      <time class="help-block no-margin">
        <!-- &nbsp;&nbsp; -->
      </time>
    </div>
    <div *ngFor="let offer of notifications; let i = index"
         class="list-group-item" (click)="launchSearch(offer,false)" style="cursor: pointer;">
      <p class="no-margin overflow-hidden">
        <b>{{offer.correspondantsCount}}</b> {{offer.text}} <b>{{offer.title}}</b>
      </p>
      <time class="help-block no-margin">
        <!-- &nbsp;&nbsp; -->
      </time>
    </div>
  </div>
  <footer class="card-footer text-sm">
    <!-- ajax-load button. loads offers to #notifications-list
         when clicked -->
    <button class="btn btn-xs btn-link pull-xs-right btn-notifications-reload"
            id="load-notifications-btn"
            (click)="loadOffers($event)">
      <i class="fa fa-refresh"></i>
    </button>
    <span class="fs-mini">&nbsp;&nbsp;</span>
  </footer>
</section>
