<div (click)="toggleFolder()">
  <i class="glyphicon {{ open ? 'glyphicon-folder-open' : 'glyphicon-folder-close' }}" aria-hidden="true" ></i>&nbsp;&nbsp;{{ cd.name }}
</div>
<ul *ngIf="cd && open" class="attachements-directory">
  <li *ngIf="cd.files.length == 0 && cd.folders.length == 0" class="attachement-file attachement-no-file">
    <i>(Vide)</i>
  </li>
  <li *ngFor="let folder of cd.folders" class="attachement-folder">
    <div
      attachements-directory
      [cd]="folder"
      (viewFile)="onViewFile($event)"
      (deleteFile)="onDeleteFile($event)"
      (downloadFile)="onDownloadFile($event)"
    ></div>
  </li>
  <li *ngFor="let a of cd.files" class="attachement-file">
    <div class="row">
      <div class="col-xs-8">
        <i class="glyphicon glyphicon-file" aria-hidden="true" ></i>
        {{a.fileName}}
      </div>
      <div class="col-xs-4 attachements-action">{{a.uploadDate}}&nbsp;
        <button class="btn btn-primary btn-xs" (click)="clickViewFile(a)">
          <span><i class="glyphicon glyphicon-picture" aria-hidden="true" ></i></span>
        </button>
        <button class="btn btn-danger btn-xs" (click)="clickDeleteFile(a)">
          <span><i class="glyphicon glyphicon-trash" aria-hidden="true" ></i></span>
        </button>
      </div>
    </div>
  </li>
</ul>
