.attachements-directory {
  padding-left: 10px;
}

.attachements-directory ul {
  list-style-type:none;
  padding-left: 10px;
}

.attachements-directory li {
  list-style-type:none;
  padding-left: 10px;
}

.attachements-action {
  text-align: right;
}

.attachement-no-file {
  color: grey;
}
