<div class="modal fade modal-margin-top" id="modal-notification-contract">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="showContractNotif">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-xs-center fw-bold mt" id="myModalLabel18">Vit-On-Job</h4>
        <p class="text-xs-center text-muted mt-sm" style="line-height: 2;">Vous êtes sur le point de procéder à la
          validation, complétion et éventuellement modifications des informations qui vont être installées sur votre
          <span *ngIf="projectTarget != 'employer'">contrat de mission</span> <span *ngIf="projectTarget == 'employer'">contrat de mise à disposition</span>.
        </p>
        <p class="text-xs-center text-muted mt-sm" style="line-height: 2;">Cette étape exige toute votre attention pour
          éviter la signature d'un contrat avec des informations erronées.</p>
        <p class="text-xs-center text-muted mt-sm" style="line-height: 2;">Nous avons apporté un soin particulier pour
          vous aider à réussir cette étape.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="gotoContractForm($event)">Je confirme avoir lu et compris
        </button>
        <button type="button" class="btn btn-default" (click)="close()">Annuler</button>
      </div>
    </div>

    <div class="modal-content" *ngIf="showOfferNotif">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-xs-center fw-bold mt" id="myModalLabel18">Vit-On-Job</h4>
        <p class="text-xs-center text-muted mt-sm" style="line-height: 2;">{{hasOffers ? 'Veuillez sélectionner une offre existante, ou en créer une nouvelle pour pouvoir recruter ce jobyer.' : 'Veuillez créer une nouvelle offre pour pouvoir recruter ce jobyer.'}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="gotoModalOffers()" *ngIf="hasOffers">Liste des offres</button>
        <button type="button" class="btn btn-success" (click)="gotoNewOffer()">Nouvelle offre</button>
        <button type="button" class="btn btn-default" (click)="close()">Annuler</button>
      </div>
    </div>

    <div class="modal-content" *ngIf="showAuthNotif">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-xs-center fw-bold mt" id="myModalLabel18">Vit-On-Job</h4>
        <p class="text-xs-center text-muted mt-sm" style="line-height: 2;">Veuillez vous connecter pour pouvoir contacter ce profil.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="gotoLogin()">Se connecter</button>
        <button type="button" class="btn btn-default" (click)="close()">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div modal-offers (refresh)="initState($event)" *ngIf="projectTarget == 'employer' && !isRecruteur"></div>
