<html>
<div class="row log-content">
  <div style="display:none;">
    <div class="content-wrap"></div>
  </div>
  <div class="container-fluid">
    <main id="content" class="widget-login-container" role="main">
      <div class="row">
        <div class="col-xs-12 col-sm-7 centred-div">
          <section class="widget widget-login animated bg-section pad-top">
            <div class="widget-body">
              <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
                <div [innerHTML]="alert.msg"></div>
              </alert>
              <form class="login-form mt-lg">
                <div class="form-group row">
                  <div class="col-xs-12 logo-div">
                    <img class="logo-logo" src="../assets/images/logo.png" alt="" />
                  </div>
                  <label class="col-xs-12 form-control-label aligne-center vit-c">Je me connecte en tant que :</label>
                  <fieldset class="radioset">
                    <ul>
                      <li><input class="active" type="radio" name="radio[]" id="radio1" value="employer" (click)="watchRole($event)" checked><label for="radio1">Employer</label>
                      <li><input type="radio" name="radio[]" id="radio2" id="radio2" value="jobyer" (click)="watchRole($event)"><label for="radio2">Jobyer</label>
                    </ul>
                  </fieldset>
                </div>
                <div class="form-group row">
                  <label class="col-xs-7 col-xs-offset-1 col-sm-7 col-sm-offset-0 form-control-label vitonjob-grey large centred-hoz">Identifiant</label>
                  <!--<div class="col-xs-12 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                    <select class="select2 form-control shadow input-size marg-bt" [(ngModel)]="index">
                      <option *ngFor="let p of pays" [value]="p.indicatif_telephonique"> {{p.nom}}
                        ({{p.indicatif_telephonique}})
                      </option>
                    </select>
                  </div>-->
                  <div class="col-xs-7 col-xs-offset-1 col-sm-7 col-sm-offset-0 centred-hoz">
                    <input [(ngModel)]="phone" type="number" class="form-control shadow input-size" (keyup)="watchPhone($event)" placeholder="Numéro ou Email..." (change)="validatePhone($event)">
                  </div>
                  <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 centred-hoz">
                    <ul class="parsley-errors-list filled" [hidden]="isPhoneNumValid">
                      <li class="parsley-required large red">Veuillez saisir un numéro de téléphone valide.</li>
                    </ul>
                    <ul class="parsley-errors-list filled" [hidden]="isIndexValid">
                      <li class="parsley-required large red">Veuillez saisir un indicatif valide.</li>
                    </ul>
                    <ul class="parsley-errors-list filled" [hidden]="isRoleTelConform">
                      <li class="parsley-required large red">Ce numéro de téléphone ne correspond pas au rôle choisi.</li>
                    </ul>
                  </div>
                </div>
                <div class="form-group row" [hidden]="!showEmailField">
                  <label class="col-xs-7 col-xs-offset-1 col-sm-7 col-sm-offset-0 form-control-label vitonjob-grey large centred-hoz">Email</label>
                  <div class="col-xs-7 col-xs-offset-1 col-sm-7 col-sm-offset-0 centred-hoz">
                    <input [(ngModel)]="email" class="form-control shadow input-size" type="email" (change)="isEmailExist($event)">
                    <ul class="parsley-errors-list filled" [hidden]="!showEmailError()">
                      <li class="parsley-required large red">Veuillez saisir un email valide.</li>
                    </ul>
                    <ul class="parsley-errors-list filled" [hidden]="!emailExist || isEmpty(email)">
                      <li class="parsley-required large red">Cet email est déjà utilisé. Veuillez en choisir un autre.</li>
                    </ul>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xs-7 col-sm-7 col-sm-offset-0 col-xs-offset-1 form-control-label vitonjob-grey large centred-hoz">Mot de passe</label>
                  <div class="col-xs-7 col-xs-offset-1 col-sm-7 col-sm-offset-0 centred-hoz">
                    <div id="hidePasswd" class="input-group shadow">
                      <input [(ngModel)]="password1" class="form-control input-size" type="password">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-success input-size vitonjob-green" (click)="showHidePasswd()"><i
                          class="{{showHidePasswdIcon}}"></i></button>
                      </div>
                    </div>
                    <div id="showPasswd" class="input-group shadow" style="display:none;">
                      <input [(ngModel)]="password1" class="form-control shadow input-size" type="text">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-success input-size vitonjob-green" (click)="showHidePasswd()"><i
                          class="{{showHidePasswdIcon}}"></i></button>
                      </div>
                    </div>
                    <ul class="parsley-errors-list filled" [hidden]="!showPassword1Error()">
                      <li class="parsley-required red large">Taille minimale: 6 caractères.</li>
                    </ul>
                  </div>
                </div>
                <div class="form-group row" [hidden]="!showEmailField">
                  <label class="col-xs-7 col-xs-offset-1 col-sm-7 col-sm-offset-0 form-control-label vitonjob-grey large centred-hoz">Confirmation du mot de passe</label>
                  <div class="col-xs-7 col-xs-offset-1 col-sm-7 col-sm-offset-0 centred-hoz">
                    <div id="hidePasswdConfirm" class="input-group shadow">
                      <input [(ngModel)]="password2" class="form-control input-size" type="password">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-success input-size vitonjob-green" (click)="showHidePasswdConfirm()"><i
                          class="{{showHidePasswdConfirmIcon}}"></i></button>
                      </div>
                    </div>
                    <div id="showPasswdConfirm" class="input-group shadow" style="display:none;">
                      <input [(ngModel)]="password2" class="form-control input-size" type="text">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-success vitonjob-green input-size" (click)="showHidePasswdConfirm()"><i
                          class="{{showHidePasswdConfirmIcon}}"></i></button>
                      </div>
                    </div>
                    <ul class="parsley-errors-list filled" [hidden]="!showPassword2Error()">
                      <li class="parsley-required large red">Mots de passe non identiques !</li>
                    </ul>
                  </div>
                </div>
                <div class="clearfix row">
                  <div class="btn-toolbar col-xs-7 col-xs-offset-1 col-xs-offset-1 col-sm-7 col-sm-offset-0 centred-hoz">
                    <div class="widget-body btn loaderPosition" [hidden]="hideLoader">
                      <div class="loader animated fadeIn handle">
                        <span class="spinner">
												<i class="fa fa-spinner fa-spin"></i>
											</span>
                      </div>
                    </div>
                    <button class="btn btn-inverse btn-sm vitonjob-green-c" (click)="authenticate()" [disabled]="isAuthDisabled() || !hideLoader">{{libelleButton}}</button>
                  </div>
                </div>


              </form>

            </div>

          </section>
        </div>
      </div>
    </main>


  </div>
</div>
<div class="row">
  <div class="col-xs-12 mrg-link">
    <div class="btn-toolbar m-t-1 mrg" [hidden]="showEmailField">
      <div class="mdp-link" style="font-size: small;    width: 130px;;">
        <div modal-component [phone]="phone" [index]="index" [email]="email" [showEmailField]="showEmailField" [isRecruteur]="isRecruteur" [isRoleTelConform]="isRoleTelConform" [isPhoneNumValid]="isPhoneNumValid"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <footer class="page-footer large vitonjob-grey">
      2016 &copy; Vit-On-Job est une marque de Manaona. __version__
    </footer>
  </div>
</div>
</html>
