<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/advert/list']">{{(currentUser.estEmployeur || currentUser.estRecruteur)? 'Mes annonces' : 'Annonces'}}</a></li>
</ol>


<div class="row">
  <div class="col-xs-12 pull-right mr-bot">
    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-secondary btn-sm" name="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
  </div>
</div>


<h1 class="page-title">{{currentUser.estRecruteur ? 'Recruteur' : (currentUser.estEmployeur ? 'Employeur' : 'Jobyer')}} - <span
  class="fw-semi-bold">{{(currentUser.estEmployeur || currentUser.estRecruteur)? 'Mes annonces' : 'Annonces'}}</span></h1>


<div class="row">
  <div class="col-lg-6 col-xs-12">
    <button type="button" class="add-offer btn btn-danger btn-sm" (click)="goToNewAdvert()" *ngIf="isEmployer">Créer une annonce
    </button>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <section class="widget min-h" widget *ngFor="let adv of adverts">
      <div class="widget-body row">
        <h4><strong>{{adv.titre}}</strong></h4>
      </div>

      <div class="pull-left pad-left" *ngIf="adv.isThumbnail">
          <img src="{{adv.thumbnail.fileContent}}" class="max-h" alt="Vit-on-job" >
      </div>

      <div class="col-xs-5 col-md-12 price pull-right">
        <label class="title"><strong>Créée le {{adv.created}} </strong></label>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 mr-left" [innerHTML]="adv.briefContent">
      </div>

      <div class="clearfix">
        <div class="pull-sm-right pull-md-right pull-lg-right pull-xl-right clear-child">
            <button type="button" class="btn btn-primary btn-sm " style="background-color: #40aea9; color: white; border-radius: 0.2rem;" (click)="gotoAdvertDetails(adv)">
              Détails
            </button>
          <button type="button" class="btn btn-warning btn-sm clear-child-3" (click)="gotoEditAdvert(adv)" *ngIf="isEmployer">
            Modifier
          </button>
          <button type="button" class="btn btn-danger btn-sm clear-child-3" (click)="deleteAdv(adv)" *ngIf="isEmployer">Supprimer
            </button>
          <button type="button" class="btn btn-success btn-sm clear-child-3" (click)="goToAdvJobyerInterestList(adv)" *ngIf="isEmployer">{{adv.nbInterest}} jobyer(s) intéressé(s)
          </button>
        </div>
      </div>
    </section>
  </div>
</div>

<modal-options [params]="modalParams"></modal-options>