.min-h {
  min-height: 200px;
}

.mr-left {
  margin-left: 150px;
}

.clear-child {
  position: absolute;
  bottom: 20px;
  right: 34px;
}

.pad-left {
  padding-left: 20px;
}

.max-h {
  max-height: 100px;
}

.mr-bot {
  margin-bottom: 1em;
}

.clear-child-2 {
  background-color: #40aea9;
  color: white;
  border-radius: 0.2rem;
}

.clear-child-3 {
  color: white;
  border-radius: 0.2rem;
}
