.min-h {
  min-height: 170px;
}

.mr-left {
  margin-left: 7em;
}

.clear-child {
  position: absolute;
  bottom: 20px;
  right: 34px;
}

.pad-left {
  padding-left: 20px;
}

.max-h {
  max-height: 100px;
}

.mr-bot {
  margin-bottom: 1em;
}

.clear-child-2 {
  background-color: #40aea9;
  color: white;
  border-radius: 0.2rem;
}

.clear-child-3 {
  color: white;
  border-radius: 0.2rem;
}

.actions-list {
  text-align: right;
}

.adv-list-add {
  margin-bottom: 10px;
}

.adv-list-date {
  text-align: right;
}

.adv-list-picture-container {
  text-align: center;
}

.adv-list-picture {
  height: 100px;
  width: 100px;
  overflow: hidden;
  margin: auto;
  horiz-align: middle;
  img {
    max-height: 91px;
    max-width: 91px;
  }
}

///* TABLET */
//@media screen and (max-width: 767px) {
//  .adv-list-action-button {
//    width: 100%;
//    margin-bottom: 5px;
//  }
//  .adv-list-title {
//    text-align: center;
//  }
//  .adv-list-date {
//    text-align: center;
//  }
//  .actions-list {
//    margin-top: 5px;
//  }
//}

///* SMART */
//@media screen and (max-width: 767px) {
//  .adv-list-action-button {
//    width: 100%;
//    margin-bottom: 5px;
//  }
//  .adv-list-title {
//    text-align: center;
//  }
//  .adv-list-date {
//    text-align: center;
//  }
//  .actions-list {
//    margin-top: 5px;
//  }
//}

/* XS Extra Small devices (phones) */
@media (max-width: 543px) {
  .adv-list-picture-container {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .actions-list {
    margin-top: 1em;
  }
  .adv-list-action-button {
    width: 100%;
    margin-bottom: 5px;
  }
  .adv-list-title {
    text-align: center;
  }
  .adv-list-date {
    text-align: center;
  }
  .adv-list-description {
    text-align: center;
  }
  .actions-list {
    margin-top: 5px;
  }
}

/* SM Small devices (phones) */
@media (min-width: 544px) and (max-width: 767px) {
  .adv-list-action-button {
    width: 100%;
    margin-bottom: 5px;
  }
  .adv-list-title {
    text-align: center;
  }
  .adv-list-date {
    text-align: center;
  }
  .adv-list-description {
    text-align: center;
  }
  .actions-list {
    margin-top: 5px;
  }
}

/* MD Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .adv-list-picture-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .adv-list-picture {
    height: 90px;
    width: 90px;
    img {
      max-height: 81px;
      max-width: 91px;
    }
  }
  .adv-list-action-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 5px;
  }
}

/* LG Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* XL Extra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

.advert-list-elem {
  min-height: 70px;
}

.adv-list-detail-container-primary {

}

.adv-list-detail-container-secondary {
  min-height: 3em;
}
