<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active">
    <a class="breadcrumb-link" [routerLink]="['/advert/list']">
      {{ (currentUser.estEmployeur || currentUser.estRecruteur) ? 'Mes annonces' : 'Annonces'}}
    </a>
  </li>
</ol>

<div class="row">
  <div class="col-lg-6 col-xs-12">
    <button
      *ngIf="isEmployer"
      class="adv-list-add adv-list-action-button btn btn-danger btn-sm"
      type="button"
      (click)="goToNewAdvert()"
    >
      Créer une annonce
    </button>
  </div>
</div>

<div class="row">
  <div
    class="col-lg-12 col-xs-12" infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScrollDown()"
  >
    <section class="widget" widget *ngFor="let adv of adverts">

      <div class="widget-body container-fluid">

        <div class="row">

          <!-- PICTURE -->
          <div class="col-md-2 col-xs-12 adv-list-picture-container">
            <div *ngIf="adv.thumbnail.fileContent" class="img-thumbnail adv-list-picture">
              <img [src]="adv.thumbnail.fileContent" alt="Vit-on-job">
            </div>
          </div>

          <!-- DETAILS -->
          <div class="col-md-10 adv-list-detail-container">

            <!-- TITLE -->
            <div class="row">
              <div class="col-md-8 col-xs-12 adv-list-title">
                <h4><strong>{{ adv.titre }}</strong></h4>
              </div>
              <div class="col-md-4 col-xs-12 adv-list-date">
                <label class="title">
                  <strong>Créée le {{adv.created}} </strong>
                </label>
              </div>
            </div>

            <div class="row">
              <!-- DESCRIPTION -->
              <div class="col-md-9 col-sm-12 col-xs-12 adv-list-description">
                {{ adv.briefContent }}
              </div>

              <!-- ACTIONS -->
              <div class="col-md-3 col-sm-12 col-xs-12 actions-list">
                <button
                  type="button" class="btn btn-primary btn-sm adv-list-action-button"
                  style="background-color: #40aea9; color: white; border-radius: 0.2rem;"
                  (click)="gotoAdvertDetails(adv)"
                >
                  {{ isEmployer ? 'Aperçu' : 'Détails' }}
                </button>
                <button
                  type="button"
                  class="btn btn-warning btn-sm clear-child-3 adv-list-action-button"
                  (click)="gotoEditAdvert(adv)"
                  *ngIf="isEmployer"
                >
                  Modifier
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm clear-child-3 adv-list-action-button"
                  (click)="deleteAdv(adv)"
                  *ngIf="isEmployer"
                >
                  Supprimer
                </button>
                <button
                  type="button"
                  class="btn btn-success btn-sm clear-child-3 adv-list-action-button"
                  (click)="goToAdvJobyerInterestList(adv)"
                  *ngIf="isEmployer"
                >
                  {{adv.nbInterest}} jobyer(s) intéressé(s)
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<modal-options [params]="modalParams"></modal-options>
