<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/contract/list']">Contrats en attente de signature</a></li>
</ol>
<div class="row">
  <div class="col-xs-12 pull-right" style="margin-bottom: 1em;">
    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-secondary btn-sm" name="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
  </div>
</div>
<h1 class="page-title"><span
  class="fw-semi-bold">Contrats en attente de signature</span></h1>

<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
  <div [innerHTML]="alert.msg"></div>
</alert>

<div class="row">
  <div class="col-lg-12 col-xs-12">
    <table class="table table-striped table-condensed" width="400">
      <thead class="no-bd col-xs-12">
      <tr>
        <th>
          Numéro du contrat
        </th>
        <th>
          {{projectTarget == 'jobyer' ? 'Employeur' : 'Jobyer'}}
        </th>
        <th>
          Date de création
        </th>
        <th>
          Début de la mission
        </th>
        <th>
          Actions possibles
        </th>
      </tr>
      </thead>
        <tbody>
          <tr *ngFor="let item of contractList, let i=index">
            <td class="text-align-right">{{item.num}}</td>
            <td class="text-align-right">{{item.nom}} {{item.prenom}}</td>
            <td class="text-align-right">{{toDateString(item.created)}}</td>
            <td class="text-align-right">
              {{ toDateString(item.jour) }}
              à {{ toHourString(item.heure_debut) }}
            </td>

            <!-- ACTIONS -->
            <td class="text-align-right">
              <button
                class="btn btn-secondary mb-xs"
                (click)="goToContractForm(item)"
                *ngIf="projectTarget != 'jobyer'"
              >
                <i class="glyphicon glyphicon-pencil text-success"></i>&nbsp;Compléter
              </button>
              <button
                class="btn btn-secondary mb-xs"
                (click)="reassignContract(item)"
                *ngIf="projectTarget != 'jobyer'"
              >
                <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;Réassigner
              </button>
              <button
                class="btn btn-secondary mb-xs"
                (click)="cancelContract(item)"
              >
                <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Annuler
              </button>
              <button
                class="btn btn-secondary mb-xs"
                (click)="goToDocusignPage(item)"
                [disabled]="item.isDraft.toUpperCase() == 'OUI' || inProgress || (projectTarget == 'jobyer' && item.signature_employeur.toUpperCase() == 'NON')"
              >
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;Signer
              </button>
            </td>

          </tr>
        </tbody>
      </table>
  </div>
</div>
<div
  modal-confirm
  [message]="'Êtes-vous sûr de bien vouloir annuler ce contrat ?'"
  [messageCantConfirm]=""
  [canConfirm]="true"
  (confirmed)="actionConfirm()"
  (aborted)="actionAborted()"
></div>
