@import "../../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@media screen and (min-width: 250px) and (max-width: 530px) {
  .page-title {
    font-size: large;
    width: 100%;
    text-align: center;
  }
}
