<ol class="breadcrumb">
  <li>Vous êtes ici</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/app/offer/list']">Mes offres</a></li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/app/offer/edit']">{{obj == "add" ? 'Nouvelle offre' : 'Détails de l\'offre'}}</a></li>
</ol>
<h1 class="page-title">{{currentUser.estRecruteur ? 'Recruteur' : (currentUser.estEmployeur ? 'Employeur' : 'Jobyer')}} - <span
  class="fw-semi-bold">{{obj == "add" ? 'Nouvelle offre' : 'Détails de l\'offre'}}</span></h1>

<div class="row">
  <div class="col-lg-8 col-xl-offset-2 col-xs-12">
    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
      <div [innerHTML]="alert.msg"></div>
    </alert>
    <section class="widget" widget>
      <header>
        <h6>
          {{obj == "add" ? 'Nouvelle offre' : 'Détails de l\'offre'}}
        </h6>
      </header>
      <div class="widget-body">
        <form class="form-horizontal" role="form">
          <fieldset>
            <legend><strong>Job</strong></legend>
            <div class="form-group row">
              <label class="col-md-4 col-xs-12 form-control-label text-md-right">Secteur</label>
              <div class="col-md-7 col-xs-12">
                <div class="widget-body btn loaderPosition" [hidden]="hideJobLoader">
                  <div class="loader animated fadeIn handle">
										<span class="spinner">
											<i class="fa fa-spinner fa-spin"></i>
										</span>
                  </div>
                </div>
                <select class="form-control" [(ngModel)]="offer.jobData.idSector"
                        (change)="sectorSelected($event.target.value)" [disabled]="!hideJobLoader">
                  <option *ngFor="let s of sectors" [value]="s.id"> {{s.libelle}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="hint-field" class="col-md-4 form-control-label text-md-right">
                Job
              </label>
              <div class="col-md-7 col-xs-12">
                <div class="widget-body btn loaderPosition" [hidden]="hideJobLoader">
                  <div class="loader animated fadeIn handle">
										<span class="spinner">
											<i class="fa fa-spinner fa-spin"></i>
										</span>
                  </div>
                </div>
                <select class="form-control" [(ngModel)]="offer.jobData.idJob"
                        (change)="jobSelected($event.target.value)" [disabled]="!hideJobLoader">
                  <option *ngFor="let j of jobs" [value]="j.id"> {{j.libelle}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-xs-12 form-control-label text-md-right" for="tooltip-enabled">Niveau</label>
              <div class="col-md-7 col-xs-12">
                <div class="abc-radio">
                  <input type="radio" name="radio3" id="radio5" value="junior"
                         [checked]="offer.jobData.level == 'junior'" (click)="watchLevel($event)">
                  <label for="radio5">
                    Débutant
                  </label>
                </div>
                <div class="abc-radio abc-radio-warning">
                  <input type="radio" name="radio3" id="radio6" value="senior"
                         [checked]="offer.jobData.level != 'junior'" (click)="watchLevel($event)">
                  <label for="radio6">
                    Expérimenté
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-xs-12 form-control-label text-md-right">Taux horaire</label>
              <div class="col-md-4 col-xs-12">
                <input type="number" class="form-control" [(ngModel)]="offer.jobData.remuneration" (change)="validateRate($event.target.value)">
              </div>
              <div class="col-md-3 col-xs-12">
                <select class="form-control" disabled>
                  <option> EUR</option>
                </select>
              </div>
            </div>
            <div *ngIf="invalidHourRate"><p class="bg-danger field-format-warning">{{invalidHourRateMessage}}</p></div>
          </fieldset>


          <fieldset *ngIf="convParametersVisible()">
            <legend><strong>Paramètres de la convention collective</strong></legend>
            <div class="form-group row" *ngIf="convNiveauxVisible()">
              <label class="col-md-4 col-xs-12 form-control-label text-md-right">Niveau</label>
              <div class="col-md-7 col-xs-12">
                <select class="form-control" [(ngModel)]="selectedNivConvID"
                        (change)="updateHourRateThreshold('NIV',$event.target.value)" >
                  <option *ngFor="let s of niveauxConventions" [value]="s.id"> {{s.libelle}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row" *ngIf="convEchelonsVisible()">
              <label class="col-md-4 col-xs-12 form-control-label text-md-right">Echelon</label>
              <div class="col-md-7 col-xs-12">
                <select class="form-control" [(ngModel)]="selectedEchConvID"
                        (change)="updateHourRateThreshold('ECH',$event.target.value)" >
                  <option *ngFor="let s of echelonsConventions" [value]="s.id"> {{s.libelle}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row" *ngIf="convCategoriesVisible()">
              <label class="col-md-4 col-xs-12 form-control-label text-md-right">Catégorie</label>
              <div class="col-md-7 col-xs-12">
                <select class="form-control" [(ngModel)]="selectedCatConvID"
                        (change)="updateHourRateThreshold('CAT',$event.target.value)" >
                  <option *ngFor="let s of categoriesConventions" [value]="s.id"> {{s.libelle}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row" *ngIf="convCoefficientsVisible()">
              <label class="col-md-4 col-xs-12 form-control-label text-md-right">Coefficient</label>
              <div class="col-md-7 col-xs-12">
                <select class="form-control" [(ngModel)]="selectedCoefConvID"
                        (change)="updateHourRateThreshold('COEF',$event.target.value)" >
                  <option *ngFor="let s of coefficientsConventions" [value]="s.id"> {{s.libelle}}</option>
                </select>
              </div>
            </div>

          </fieldset>

          <fieldset *ngIf="convParametersVisible()">
            <legend><strong>Avantages en nature</strong></legend>
            <div class="form-group row">
              <label class="col-md-2 col-xs-2 form-control-label">Code</label>
              <label class="col-md-10 col-xs-10 form-control-label">Avantage</label>
            </div>
            <div class="form-group row" *ngFor="let item of categoriesHeure">
              <div class="col-md-2 col-xs-2">
                <span>{{item.code}}</span>
              </div>
              <div class="col-md-10 col-xs-10">
                <span>{{item.libelle}}</span>
              </div>
            </div>
            <div class="form-group row" *ngFor="let item of majorationsHeure">
              <div class="col-md-2 col-xs-2">
                <span>{{item.code}}</span>
              </div>
              <div class="col-md-10 col-xs-10">
                <span>{{item.libelle}}</span>
              </div>
            </div>
            <div class="form-group row" *ngFor="let item of indemnites">
              <div class="col-md-2 col-xs-2">
                <span>{{item.code}}</span>
              </div>
              <div class="col-md-10 col-xs-10">
                <span>{{item.libelle}}</span>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend><strong>Disponibilités</strong></legend>
            <alert *ngFor="let alert of alertsSlot; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
              <div [innerHTML]="alert.msg"></div>
            </alert>
            <div class="form-group row">
              <label class="col-md-6 col-xs-6 form-control-label">Créneaux</label>
              <label class="col-md-2 col-xs-2 form-control-label">De</label>
              <label class="col-md-2 col-xs-2 form-control-label">A</label>
            </div>
            <div class="form-group row" *ngFor="let item of slots, let j = index">
              <div class="col-md-6 col-xs-12">
                <input class="form-control" [(ngModel)]="item.date" disabled/>
              </div>
              <div class="col-md-2 col-xs-12">
                <input class="form-control" [(ngModel)]="item.startHour" disabled/>
              </div>
              <div class="col-md-2 col-xs-12">
                <input class="form-control" [(ngModel)]="item.endHour" disabled/>
              </div>
              <div class="col-md-2 col-xs-12">
                <button class="btn btn-secondary mb-xs" role="button" (click)="removeSlot(j)">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 col-xs-12">
                <datetime id="slotDate" [timepicker]="false" [datepicker]="datepickerOpts"
                          [(ngModel)]="slot.date"></datetime>
              </div>
              <div class="col-md-2 col-xs-12">
                <datetime id="slotSHour" [datepicker]="false" [timepicker]="{ showMeridian: false, minuteStep: 15 }"
                          [(ngModel)]="slot.startHour"></datetime>
              </div>
              <div class="col-md-2 col-xs-12">
                <datetime id="slotEHour" [datepicker]="false" [timepicker]="{ showMeridian: false, minuteStep: 15 }"
                          [(ngModel)]="slot.endHour"></datetime>
              </div>
              <div class="col-md-2 col-xs-12">
                <button class="btn btn-danger mb-xs" role="button" (click)="addSlot()">
                  Ajouter
                </button>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <fieldset>
                <legend><strong>Qualités</strong></legend>
                <div class="form-group row">
                  <div class="col-md-10 col-xs-12">
                    <select class="form-control" [(ngModel)]="selectedQuality">
                      <option *ngFor="let q of qualities" [value]="q.idQuality"> {{q.libelle}}</option>
                    </select>
                  </div>
                  <div class="col-md-2 col-xs-12">
                    <button class="btn btn-danger mb-xs offer-add-button" role="button" (click)="addQuality()">
                      Ajouter
                    </button>
                  </div>
                </div>
                <div class="form-group row" *ngFor="let item of offer.qualityData">
                  <label class="col-md-10 col-xs-6 form-control-label">{{item.libelle}}</label>
                  <div class="col-md-2 col-xs-12">
                    <button class="btn btn-secondary mb-xs" role="button">
                      <i class="glyphicon glyphicon-trash" (click)="removeQuality(item)"></i>
                    </button>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-md-6 col-xs-12">
              <fieldset>
                <legend><strong>Langues</strong></legend>
                <div class="form-group row">
                  <div class="col-md-6 col-xs-12">
                    <select class="form-control" [(ngModel)]="selectedLang">
                      <option *ngFor="let l of langs" [value]="l.idLanguage"> {{l.libelle}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <select class="form-control" [(ngModel)]="selectedLevel">
                      <option value="junior">Débutant</option>
                      <option value="senior">Courant</option>
                    </select>
                  </div>
                  <div class="col-md-2 col-xs-12">
                    <button class="btn btn-danger mb-xs offer-add-button" role="button" (click)="addLanguage()">
                      Ajouter
                    </button>
                  </div>
                </div>
                <div class="form-group row" *ngFor="let item of offer.languageData">
                  <label class="col-md-6 col-xs-6 form-control-label">{{item.libelle}}</label>
                  <label class="col-md-4 col-xs-6 form-control-label">{{item.level == 'junior' ? 'Débutant' :
                    'Courant'}}</label>
                  <div class="col-md-2 col-xs-12">
                    <button class="btn btn-secondary mb-xs" role="button">
                      <i class="glyphicon glyphicon-trash" (click)="removeLanguage(item)"></i>
                    </button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-5 col-sm-offset-2 col-md-2 col-sm-8 col-xs-12">
                <button type="submit" class="btn btn-primary fwidth" (click)="editOffer()">Sauvegarder</button>
              </div>
            </div>
            <div *ngIf="obj === 'detail'" class="row">
              <div class="col-md-4 col-xs-12">
                <button type="submit" class="btn btn-primary fwidth" (click)="copyOffer()">Copier l'offre</button>
              </div>
              <div class="col-md-4 col-xs-12">
                <button type="submit" class="btn btn-primary fwidth" (click)="changePrivacy()">{{offrePrivacyTitle}}</button>
              </div>
              <div class="col-md-4 col-xs-12">
                <button type="submit" class="btn btn-primary fwidth" (click)="launchSearch()">Lancer une recherche</button>
              </div>
              <div class="col-md-4 col-xs-12">
                <button type="submit" class="btn btn-primary fwidth" (click)="autoSearchMode()">{{autoSearchModeTitle}}</button>
              </div>
              <div class="col-md-4 col-xs-12">
                <button type="submit" class="btn btn-primary fwidth" (click)="showQuote()">Consulter le devis</button>
              </div>
              <div class="col-md-4 col-xs-12">
                <button type="submit" class="btn btn-danger fwidth" (click)="deleteOffer()">Supprimer l'offre</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
<modal-options [params]="modalParams" ></modal-options>
<div modal-offer-temp-quote ></div>
