@import "../../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/ng2-datetime/src/vendor/bootstrap-datepicker/bootstrap-datepicker3.min";
@import "../../../node_modules/ng2-datetime/src/vendor/bootstrap-timepicker/bootstrap-timepicker.min";
@import "../../../node_modules/select2/select2";
@import "../../../node_modules/select2-bootstrap-css/select2-bootstrap";
.ajouter{
  margin-top: 1em;
}

.fwidth{
  width:100%;
  margin-bottom: 10px;
}

.news-list {
  margin-bottom: 0;
  padding-left: 0;

  li {
    list-style: none;
    box-sizing: content-box;
    border-top: 1px solid $gray-lighter;
    padding: 12px;
    cursor: pointer;
    @include transition(background-color .2s ease-out);

    &:hover {
      background: $body-bg-light;
    }

    &:last-child {
      margin-bottom: -10px;
    }
  }

  img,
  .icon {
    float: left;
    height: 50px;
    width: 50px;
  }

  .icon {
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
  }

  .news-item-info {
    margin-left: 62px; /*50 + 12px padding*/
  }

  .name {
    text-transform: uppercase;

    a {
      text-decoration: none;
      &:hover {
        color: $link-color;
      }
    }
  }
}

.field-format-warning{
  text-align: right;
  color : #fff !important;
}
