@import "../../../node_modules/ng2-datetime/src/vendor/bootstrap-datepicker/bootstrap-datepicker3.min";
@import "../../../node_modules/ng2-datetime/src/vendor/bootstrap-timepicker/bootstrap-timepicker.min";
@import "../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/select2/select2";
@import "../../../node_modules/select2-bootstrap-css/select2-bootstrap";
//@import "../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";
@import "../../scss/variables";

.fwidth{
  width:100%;
  margin-bottom: 10px;
}

.widget-offer {

  .widget-offer-header {
    background-color: $navbar-dashboard-bg;
    border-color: $navbar-dashboard-border;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0px;
    table-layout: fixed;
  }

  .widget-offer-header-title {
    color: white;
  }

  .required > label:after {
    content: " *";
    color: red;
  }

  select {
    height: 35px;
  }

  .offer-availability-hours {
    width: 115px;
  }

  @media (max-width: map_get($grid-breakpoints, sm)) {
    .offer-hour-new {
      margin-top: 5px;
    }
    .offer-video-btn {
      margin-top: 5px;
    }
  }

  @media (max-width: map_get($grid-breakpoints, md)) {
    .offer-hour-action-button {
      margin-top: 5px;
    }

    .btn-success {
      margin-top: 5px;
    }

    .btn-remove-language {
      margin-top: 5px;
    }
  }
}
