<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/offer/list']">Mes offres</a></li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/offer/edit']">
    {{obj == "add" ? 'Nouvelle offre' : 'Détails de l\'offre'}}</a>
  </li>
</ol>

<div class="row">
  <div class="col-xs-12 pull-right" style="margin-bottom: 1em;">
    <a href="javascript:history.go(-1)">
      <button type="button" class="btn btn-secondary btn-sm" name="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour
      </button>
    </a>
  </div>
</div>

<div class="alert-zone fixed">
  <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
    <div [innerHTML]="alert.msg"></div>
  </alert>
  <alert *ngFor="let alert of alertsSlot; let i = index" [type]="alert.type + ' alert-sm'" dismissible="false">
    <div [innerHTML]="alert.msg"></div>
  </alert>
</div>

<div class="row">
  <div class="{{ isTemplate() == false ? 'col-lg-3 col-xl-4' : '' }} col-xs-12">

    <!-- JOB -->

    <section widget class="widget widget-offer" >
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">Job</span></h6>
      </header>
      <div class="widget-body">

        <legend><strong>Détails du job</strong></legend>

        <!-- Secteur -->
        <div class="form-group row required">
          <label class="col-md-12 col-xs-12 form-control-label">
            Secteur
          </label>
          <div class="col-md-12 col-xs-12">
            <div class="widget-body btn loaderPosition" [hidden]="hideJobLoader">
              <div class="loader animated fadeIn handle">
                <span class="spinner">
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
              </div>
            </div>
            <select
              required id="input-sector-select"
              data-label="Choix du secteur d'activité"
              class="form-control"
              (change)="sectorSelected($event.target.value)"
              [disabled]="!hideJobLoader"
              [(ngModel)]="offer.jobData.idSector"
            >
              <option *ngFor="let s of sectors" [value]="s.id"> {{s.libelle}}</option>
            </select>
            <alert *ngIf="triedValidate && !offer.jobData.idSector" [type]="'danger alert-sm'">
              <div [innerHTML]="'* Veuillez renseigner le secteur'"></div>
            </alert>
          </div>
        </div>

        <!-- Job -->
        <div class="form-group row required">
          <label class="col-md-12 col-xs-12 form-control-label">
            Job
          </label>
          <div class="col-md-12 col-xs-12">
            <div class="widget-body btn loaderPosition" [hidden]="hideJobLoader">
              <div class="loader animated fadeIn handle">
                    <span class="spinner">
                      <i class="fa fa-spinner fa-spin"></i>
                    </span>
              </div>
            </div>
            <input required id="input-job-select" data-label="Choix du Job"
            type="hidden" class="select2 job-select form-control" name="job"
                   placeholder="Rechercher votre job" [(ngModel)]="selectedJob"/>

            <alert *ngIf="triedValidate && !offer.jobData.idJob" [type]="'danger alert-sm'">
              <div [innerHTML]="'* Veuillez renseigner le job'"></div>
            </alert>
          </div>
        </div>

        <!-- Niveau -->
        <div class="form-group row required">
          <label class="col-md-12 col-xs-12 form-control-label">
            Niveau d'expérience
          </label>
          <div class="col-md-12 col-xs-12">
            <div class="abc-radio">
              <input type="radio" name="radio3" id="radio5" value="junior"
                     [checked]="offer.jobData.level == 'junior'" (click)="watchLevel($event)">
              <label for="radio5">
                Débutant
              </label>
            </div>
            <div class="abc-radio">
              <input type="radio" name="radio3" id="radio6" value="senior"
                     [checked]="offer.jobData.level != 'junior'" (click)="watchLevel($event)">
              <label for="radio6">
                Expérimenté
              </label>
            </div>
          </div>
        </div>

        <div *ngIf="displayClassification()">
          <legend><strong>Classification</strong></legend>
          <div
            convention-parameters
            [(offer)]="offer"
            [(convention)]="convention"
            [(toSync)]="refreshParametrage"
            (onValidParametrage)="conventionParametrageChange($event)"
            (onPartialParametrage)="conventionParametrageChange($event)"
          ></div>
        </div>

        <!-- Taux horaire -->
        <div class="form-group row required">
          <label class="col-xs-12 form-control-label">
            {{projectTarget == 'employer' ? "Taux horaire brut en € ":"Taux horaire souhaité (brut en €) " }}
          </label>
          <div class="col-xs-6">
            <input
              required
              id="input-hour-price"
              data-label="Taux horaire brut"
              type="number"
              step="0.01"
              class="form-control"
              min="0"
              [(ngModel)]="offer.jobData.remuneration"
            />
          </div>
          <div class="col-xs-6">
            <select class="form-control" disabled>
              <option>EUR</option>
            </select>
          </div>
          <div class="col-xs-12" *ngIf="displayClassification()">
            <alert
              [hidden]="!(minimumClassificationRate > 0 && offer.jobData.remuneration < minimumClassificationRate)"
              [type]="'danger alert-sm'"
            >
              <div [innerHTML]="'* Le taux horaire devrait être supérieur ou égal à ' + minimumClassificationRate"></div>
            </alert>
            <alert [hidden]="!(minimumClassificationRate == -1)" [type]="'info alert-sm'">
              <div [innerHTML]="'* Veuillez renseigner la classification pour connaitre le taux horaire minimum'"></div>
            </alert>
          </div>
        </div>

        <div class="form-group row required" *ngIf="projectTarget == 'employer'">
          <label class="col-xs-12 form-control-label">
            Nombre de postes
          </label>
          <div class="col-xs-12">

            <input  id="input-nbPoste" required data-label="Nombre de postes disponibles"
                    type="number"
                    step="1"
                    class="form-control"
                    min="1"
                    [(ngModel)]="offer.nbPoste"
            />
          </div>
        </div>
      </div>
    </section>

  </div>

  <div class="col-lg-9 col-xl-8 col-xs-12" *ngIf="isTemplate() == false">

    <!-- CALENDAR -->
    <section class="widget widget-calendar widget-offer">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">
          {{ projectTarget == 'jobyer' ? 'Disponibilités' : 'Horaires de travail souhaités' }}
        </span></h6>
      </header>
      <div
        voj-calendar
        [(slots)]="offer.calendarData"
      ></div>
    </section>
    <!-- !CALENDAR -->

    <!-- VIDEO -->
    <section widget class="widget widget-offer">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">Vidéo</span></h6>
      </header>
      <div class="widget-body widget-offer">

        <div *ngIf="videoAvailable" class="form-group row required">
          <div class="col-xs-12">
            <iframe class="iframe-class" width="100%" height="360px"
                    [style.display]="videoAvailable?'block':'none'" target="_parent" [src]="youtubeLinkSafe">
            </iframe>
          </div>
        </div>

        <div *ngIf="!videoAvailable" class="form-group row">
          <div *ngIf="!isLinkValid" class="col-xs-12">
            <alert [type]="'danger alert-sm'">
              <div [innerHTML]="'Le lien de la vidéo est non valide'"></div>
            </alert>
          </div>

          <div class="col-sm-12 col-xs-12">
            <input
              id="youtubeLink"
              class="form-control"
              name="youtubeLink"
              placeholder="Je me valorise avec une vidéo"
              type="text"
              [(ngModel)]="youtubeLink"
            />
          </div>
          <div class="col-sm-12 col-xs-12">
            <button
              class="btn btn-primary offer-video-btn"
              style="display: block; width: 100%;"
              (click)="updateVideo(false)"
              [disabled]="!youtubeLink || isOfferInContract || isOfferArchived"
            >
              <i class="glyphicon glyphicon-facetime-video"></i>
              Ajouter
            </button>
          </div>
        </div>

        <div *ngIf="videoAvailable" class="form-group row required">
          <div class="col-xs-12">
            <button
              class="btn btn-success offer-video-btn"
              style="display: block; width: 100%;"
              (click)="updateVideo(true)"
              [disabled]="isOfferInContract || isOfferArchived"
            >
              <i class="glyphicon glyphicon-trash"></i>
              Supprimer
            </button>
          </div>
        </div>

      </div>
    </section>
    <!-- !VIDEO -->

  </div>

</div>

<div class="row">
  <div class="col-sm-12">

    <section widget class="widget widget-offer" *ngIf="projectTarget == 'employer'">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">Conditions d'emploi</span></h6>
      </header>
      <div class="widget-body" *ngIf="!personalizeConvention">
        <a href="#" (click)="onPersonalizeConvention()">Personnaliser les conditions d'emploi</a>
      </div>
      <div class="widget-body" *ngIf="personalizeConvention">
        <fieldset>
          <legend><strong>Conditions d'emploi</strong></legend>
          <alert *ngFor="let alert of alertsConditionEmp; let i = index" [type]="alert.type + ' alert-sm'"
                 dismissible="false">
            <div [innerHTML]="alert.msg"></div>
          </alert>

          <table class="table table-condensed">
            <thead>
            <tr>
              <th>Valeurs définies par la convention collective</th>
              <th colspan="3">Valeurs définies par l'employeur</th>
            </tr>
            </thead>

            <tr *ngFor="let item of categoriesHeure" [hidden]="item.code == 'HT'">
              <td>{{ item.libelle }}</td>
              <td>
                <div class="col-xs-10 input-group">
                  <input
                    type="number"
                    class="form-control"
                    [min]="item.coefficient"
                    [(ngModel)]="item.empValue"
                    (change)="watchConditionEmp($event, item)"
                  />
                  <div class="input-group-addon voj-input-group-addon">{{ preventNull(item.typeValue) }}</div>
                </div>
              </td>
              <td class="text-md-right">
                <div class="form-inline" *ngIf="item.debut>=0 && item.fin>=0" >
                  <input type="number" class="form-control" [(ngModel)]="item.debutHeure" min="0" max="23" step="1" />
                  :
                  <input type="number" class="form-control" [(ngModel)]="item.debutMinute" min="0" max="59" step="1" />
                </div>
              </td>
              <td class="text-md-right">
                <div class="form-inline" *ngIf="item.debut>=0 && item.fin>=0" >
                  <input type="number" class="form-control" [(ngModel)]="item.finHeure" min="0" max="23" step="1" />
                  :
                  <input type="number" class="form-control" [(ngModel)]="item.finMinute" min="0" max="59" step="1" />
                </div>
              </td>
            </tr>

            <tr *ngFor="let item of majorationsHeure">
              <td>{{ item.libelle }}</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  [min]="item.coefficient"
                  [(ngModel)]="item.empValue"
                  (change)="watchConditionEmp($event, item)"
                />
                <div class="input-group-addon voj-input-group-addon">{{ preventNull(item.typeValue) }}</div>
              </td>
              <td></td>
              <td></td>
            </tr>

            <tr *ngFor="let item of indemnites">
              <td>{{ item.libelle }}</td>
              <td>
                <div class="col-xs-10 input-group">
                  <input
                    type="number"
                    class="form-control"
                    [min]="item.coefficient"
                    [(ngModel)]="item.empValue"
                    (change)="watchConditionEmp($event, item)"
                  />
                  <div class="input-group-addon voj-input-group-addon">{{ preventNull(item.typeValue) }}</div>
                </div>
              </td>
              <td></td>
              <td></td>
            </tr>

          </table>

        </fieldset>
      </div>
    </section>

    <!--  COORDONNEES ET CONTACT -->
    <section widget class="widget widget-offer">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">Coordonnées</span></h6>
      </header>
      <div class="widget-body widget-offer">

        <!--<div class="form-group row required">-->
          <!--<label class="col-md-4 col-xs-12 form-control-label text-md-right">-->
            <!--{{ projectTarget == 'employer' ? 'Adresse de la mission' : 'Adresse de départ vers le lieu de travail' }}-->
          <!--</label>-->
          <!--<div class="col-md-7 col-xs-12">-->
            <!--<input id="autocompleteOfferAdress" required data-label="Adresse de la mission  "-->
                   <!--type="text" class="form-control"-->
                   <!--placeholder="{{ projectTarget == 'employer' ? 'Saisissez  l\'adresse de la mission' : 'Saisissez  l\'adresse de départ vers le lieu de travail' }}" (keyup)="watchOfferAddress($event)"-->
                   <!--[(ngModel)]="offerAddress" (input)="autocompleteOfferAddress()" />-->
          <!--</div>-->
        <!--</div>-->

        <div class="form-group row required">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">
            {{ projectTarget == 'employer' ? 'Adresse de la mission' : 'Adresse de départ vers le lieu de travail' }}
          </label>
          <div class="col-md-7 col-xs-12">
            <div
              autocomplete-address
              [(address)]="offer.adresse"
              [inputLabel]="'Adresse de la mission'"
              [placeholder]="projectTarget == 'employer' ? 'Saisissez  l\'adresse de la mission' : 'Saisissez  l\'adresse de départ vers le lieu de travail'"
              (validation)="onAddressValidation($event)"
            >
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="projectTarget == 'employer'">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">
            Contact sur place
          </label>
          <div class="col-md-7 col-xs-12">
            <input id="contactsp" type="text" class="form-control" [(ngModel)]="offer.contact" />
          </div>
        </div>
        <div class="form-group row" *ngIf="projectTarget == 'employer'">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">
            N° Téléphone
          </label>
          <div class="col-md-7 col-xs-12">
            <input id="phonesp" type="text" class="form-control" [(ngModel)]="offer.telephone" />
          </div>
        </div>

      </div>
    </section>



    <!--  Specifications -->
    <section widget class="widget widget-offer" *ngIf="projectTarget == 'employer'">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">Prérequis obligatoires</span></h6>
      </header>
      <div class="widget-body">

        <div
          *ngIf="projectTarget == 'employer'"
          class="form-group row"
          select-list
          [(selectedList)]="offer.requirementData"
          [list]=""
          [src]="'prerquis'"
          [allowNewEntry]="true"
          [canSearch]="true"
          [canEdit]="true"
          [label]="'Formations et habilitations'"
          [placeholder]="'Formations et habilitations'"
        ></div>

        <div
          *ngIf="projectTarget == 'employer'"
          class="form-group row"
          select-list
          [(selectedList)]="offer.equipmentData"
          [list]=""
          [src]="'epi'"
          [allowNewEntry]="true"
          [canSearch]="false"
          [canEdit]="true"
          [label]="'Equipement de protection individuel'"
          [placeholder]="'Equipement de protection individuel'"
        ></div>

      </div>
    </section>

    <!-- !JOB -->
    <!-- PROFILE -->

    <section widget class="widget widget-offer">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">{{ projectTarget == 'employer' ? 'Mon jobyer idéal' : 'Profil recherché' }}</span></h6>
      </header>
      <div class="widget-body">

        <!-- Qualities -->
        <div
          class="form-group row"
          select-list
          [(selectedList)]="offer.qualityData"
          [list]="qualities"
          [src]=""
          [allowNewEntry]="false"
          [canSearch]="false"
          [canEdit]="true"
          [label]="(projectTarget == 'employer' ? 'Qualités' : 'Mon employeur idéal')"
        ></div>

        <!-- Langues -->
        <div
          class="form-group row"
          select-languages
          [(selectedList)]="offer.languageData"
          [hasLevel]="projectTarget == 'employer'"
          [canEdit]="!(isOfferInContract || isOfferArchived)"
          [label]="(projectTarget == 'employer') ? 'Langue(s) requise(s)' : 'Langue(s) privilégiée(s)'"
        ></div>

        <div class="form-group row" *ngIf="projectTarget == 'employer' && environmentService.get('EMPLOYER_PHARMA') == 'true'">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">
            Logiciel(s) maitrisé(s)
          </label>

          <div class="col-md-8 col-xs-12">
            <div class="form-group row" *ngFor="let item of savedSoftwares">
              <div class="col-md-9 col-xs-12">
                <input class="form-control" value="{{item.nom}}" disabled/>
              </div>
              <div class="col-md-3 col-xs-12">
                <button
                  style="display: block; width: 100%;"
                  class="btn btn-danger mb-xs btn-remove-language"
                  role="button"
                  (click)="removeSoftware(item)"
                >
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
            </div>

            <!-- New software input -->
            <div class="row">
              <div class="col-md-9 col-xs-12">
                <select class="form-control" [(ngModel)]="selectedSoftware">
                  <option [value]="0"></option>
                  <option *ngFor="let s of softwares" [value]="s.id">{{s.nom}}</option>
                </select>
              </div>
              <div class="col-md-3 col-xs-12">
                <button
                  style="display: block; width: 100%;"
                  class="btn btn-success mb-xs"
                  role="button"
                  (click)="addSoftware()"
                  [disabled]="!selectedSoftware">
                  Ajouter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- !PROFILE -->
    <!-- ACTIONS -->

    <section class="widget" widget >

      <div class="widget-body">
        <form class="form-horizontal" role="form">
          <div class="form-actions">
            <div class="container-fluid">

              <div class="row">
                <div class="col-xs-12">
                  <button
                    type="button"
                    class="btn btn-success fwidth"
                    [disabled]="isOfferInContract || isOfferArchived || !initSectorDone"
                    (click)="saveOffer()"
                  >
                    {{ isPlanif() ? 'Créer l\'offre' : 'Enregistrer' }}
                  </button>
                </div>
              </div>

              <div *ngIf="obj === 'detail' && isConcretOffer()" class="row">
                <div class="col-md-6 col-xs-12">
                  <button
                    type="submit"
                    class="btn btn-primary fwidth"
                    [disabled]="!fullLoad"
                    (click)="copyOffer()"
                  >
                    Copier l'offre
                  </button>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button
                    type="submit"
                    class="btn btn-primary fwidth"
                    (click)="changePrivacy()"
                    [disabled]="isOfferInContract || isOfferArchived"
                  >
                    {{ offer.visible ? "Rendre l'offre privée" : "Mettre l'offre en ligne" }}
                  </button>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button
                    type="submit"
                    class="btn btn-primary fwidth"
                    (click)="autoSearchMode()"
                    [disabled]="isOfferArchived"
                  >
                    {{autoSearchModeTitle}}
                  </button>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button
                    *ngIf="!offer.obsolete"
                    type="submit"
                    class="btn btn-primary fwidth"
                    (click)="launchSearch()"
                    [disabled]="isOfferArchived"
                  >
                    {{isEmployer ? 'Enregistrer et lancer la planification' : 'Lancer la recherche'}}
                  </button>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button
                    *ngIf="projectTarget == 'employer'"
                    type="submit"
                    class="btn btn-primary fwidth"
                    (click)="showQuote()"
                    [disabled]="!initSectorDone"
                  >
                    Enregistrer et consulter le devis
                  </button>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button
                    type="submit"
                    class="btn btn-danger fwidth"
                    (click)="deleteOffer()"
                    [disabled]="offer.visible && !isOfferArchived"
                  >
                    Supprimer l'offre
                  </button>
                </div>
              </div>

              <div *ngIf="isEmployer && obj === 'detail' && isConcretOffer()" class="row">
                <div
                  class="col-xs-12"
                >
                  <button
                    type="submit"
                    class="btn btn-danger fwidth"
                    (click)="useAsType(true)"
                  >
                    Utiliser comme offre type
                  </button>
                </div>
              </div>
              <div *ngIf="isEmployer && obj === 'detail' && isTemplate()" class="row">
                <div
                  class="col-xs-12"
                >
                  <button
                    type="submit"
                    class="btn btn-danger fwidth"
                    (click)="useAsType(false)"
                  >
                    Ne plus utiliser comme offre type
                  </button>
                </div>
              </div>

            </div>
          </div>

        </form>
      </div>
    </section>
    <!-- !ACTIONS -->

  </div>
</div>

<!-- MODALS -->
<modal-options [params]="modalParams"></modal-options>
<modal-offer-temp-quote></modal-offer-temp-quote>
