<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/app/offer/list']">Mes offres</a></li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/app/offer/edit']">{{obj == "add" ? 'Nouvelle offre' :
    'Détails de l\'offre'}}</a></li>
</ol>
<div class="row">
  <div class="col-xs-12 pull-right" style="margin-bottom: 1em;">
    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-secondary btn-sm" name="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
  </div>
</div>
<h1 class="page-title">{{currentUser.estRecruteur ? 'Recruteur' : (currentUser.estEmployeur ? 'Employeur' : 'Jobyer')}}
  - <span
    class="fw-semi-bold">{{obj == "add" ? 'Nouvelle offre' : 'Détails de l\'offre'}}</span></h1>

<div class="row">

  <div class="col-lg-8 col-xl-offset-2 col-xs-12">
    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
      <div [innerHTML]="alert.msg"></div>
    </alert>

    <!-- VIDEO -->

    <section widget class="widget widget-offer">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">Vidéo</span></h6>
      </header>
      <div class="widget-body widget-offer">

        <div *ngIf="videoAvailable" class="form-group row required">
          <div class="col-xs-12">
            <iframe class="iframe-class" width="100%" height="360px"
                    [style.display]="videoAvailable?'block':'none'" target="_parent" [src]="youtubeLinkSafe">
            </iframe>
          </div>
        </div>

        <div *ngIf="!videoAvailable" class="form-group row">
          <div *ngIf="!isLinkValid" class="col-xs-12">
            <alert [type]="'danger alert-sm'">
              <div [innerHTML]="'Le lien de la vidéo est non valide'"></div>
            </alert>
          </div>

          <div class="col-sm-8 col-xs-12">
            <input
              id="youtubeLink"
              class="form-control"
              name="youtubeLink"
              placeholder="Lien de vidéo Youtube"
              type="text"
              [(ngModel)]="youtubeLink"
            />
          </div>
          <div class="col-sm-4 col-xs-12">
            <button
              class="btn btn-primary offer-video-btn"
              style="display: block; width: 100%;"
              (click)="updateVideo(false)"
              [disabled]="!youtubeLink"
            >
              <i class="glyphicon glyphicon-facetime-video"></i>
              Ajouter
            </button>
          </div>
        </div>

        <div *ngIf="videoAvailable" class="form-group row required">
          <div class="col-xs-12">
            <button
              class="btn btn-success offer-video-btn"
              style="display: block; width: 100%;"
              (click)="updateVideo(true)"
            >
              <i class="glyphicon glyphicon-trash"></i>
              Supprimer
            </button>
          </div>
        </div>

      </div>
    </section>

    <!-- !VIDEO -->
    <!-- JOB -->

    <section widget class="widget widget-offer">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">Job</span></h6>
      </header>
      <div class="widget-body">

        <legend><strong>Détails du job</strong></legend>

        <!-- Secteur -->
        <div class="form-group row required">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">
            Secteur
          </label>
          <div class="col-md-8 col-xs-12">
            <div class="widget-body btn loaderPosition" [hidden]="hideJobLoader">
              <div class="loader animated fadeIn handle">
                <span class="spinner">
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
              </div>
            </div>
            <select
              data-minimum-results-for-search="10"
              data-placeholder="Recherchez votre secteur"
              class="sector-select select2 form-control"
              tabindex="-1"
              name="sector"
              id="sector"
              [disabled]="!hideJobLoader"
            >
              <option value=""></option>
              <option *ngFor="let s of sectors" [value]="s.id">{{s.libelle}}</option>
            </select>
            <alert *ngIf="triedValidate && !offer.jobData.idSector" [type]="'danger alert-sm'">
              <div [innerHTML]="'* Veuillez renseigner le secteur'"></div>
            </alert>
          </div>
        </div>

        <!-- Job -->
        <div class="form-group row required">
          <label class="col-md-4 form-control-label text-md-right">
            Job
          </label>
          <div class="col-md-8 col-xs-12">
            <div class="widget-body btn loaderPosition" [hidden]="hideJobLoader">
              <div class="loader animated fadeIn handle">
                    <span class="spinner">
                      <i class="fa fa-spinner fa-spin"></i>
                    </span>
              </div>
            </div>
            <select
              data-minimum-results-for-search="10"
              data-placeholder="Recherchez votre job"
              class="job-select select2 form-control"
              tabindex="-1"
              name="job"
              id="job"
              [disabled]="!hideJobLoader || !offer.jobData.idSector"
            >
              <option value=""></option>
              <option *ngFor="let j of jobs" [value]="j.id">{{j.libelle}}</option>
            </select>
            <alert *ngIf="triedValidate && !offer.jobData.idJob" [type]="'danger alert-sm'">
              <div [innerHTML]="'* Veuillez renseigner le job'"></div>
            </alert>
          </div>
        </div>

        <!-- Niveau -->
        <div class="form-group row required">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">
            Niveau
          </label>
          <div class="col-md-8 col-xs-12">
            <div class="abc-radio">
              <input type="radio" name="radio3" id="radio5" value="junior"
                     [checked]="offer.jobData.level == 'junior'" (click)="watchLevel($event)">
              <label for="radio5">
                Débutant
              </label>
            </div>
            <div class="abc-radio">
              <input type="radio" name="radio3" id="radio6" value="senior"
                     [checked]="offer.jobData.level != 'junior'" (click)="watchLevel($event)">
              <label for="radio6">
                Expérimenté
              </label>
            </div>
          </div>
        </div>

        <!-- Taux horaire -->
        <div class="form-group row required">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">
            Taux horaire brut en €
          </label>
          <div class="col-md-6 col-xs-6">
            <input
              type="number"
              step="0.01"
              class="form-control"
              min="0"
              [(ngModel)]="offer.jobData.remuneration"
              (change)="validateRate($event.target.value)"
            />
            <alert *ngIf="triedValidate && !offer.jobData.remuneration" [type]="'danger alert-sm'">
              <div [innerHTML]="'* Veuillez renseigner le taux horaire'"></div>
            </alert>
            <alert *ngIf="invalidHourRate && offer.jobData.remuneration" [type]="'danger alert-sm'">
              <div [innerHTML]="'* Le taux horaire devrait être supérieur ou égal à ' + invalidHourRateMessage"></div>
            </alert>
          </div>
          <div class="col-md-2 col-xs-6">
            <select class="form-control" disabled>
              <option>EUR</option>
            </select>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">
            Adresse de départ vers le lieu de travail
          </label>
          <div class="col-md-7 col-xs-12">
            <input id="autocompleteOfferAdress" type="text" class="form-control" placeholder="Rechercher une adresse" (keyup)="watchOfferAddress($event)"
                   [(ngModel)]="offerAddress" (input)="autocompleteOfferAddress()"/>
          </div>
        </div>
      </div>

      <fieldset *ngIf="convParametersVisible()">
        <legend><strong>Paramètres de la convention collective</strong></legend>
        <div class="form-group row" *ngIf="convNiveauxVisible()">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">Niveau</label>
          <div class="col-md-8 col-xs-12">
            <select class="form-control" [(ngModel)]="selectedNivConvID"
                    (change)="updateHourRateThreshold('NIV',$event.target.value)">
              <option *ngFor="let s of niveauxConventions" [value]="s.id">{{s.libelle}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row" *ngIf="convEchelonsVisible()">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">Echelon</label>
          <div class="col-md-8 col-xs-12">
            <select class="form-control" [(ngModel)]="selectedEchConvID"
                    (change)="updateHourRateThreshold('ECH',$event.target.value)">
              <option *ngFor="let s of echelonsConventions" [value]="s.id">{{s.libelle}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row" *ngIf="convCategoriesVisible()">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">Catégorie</label>
          <div class="col-md-8 col-xs-12">
            <select class="form-control" [(ngModel)]="selectedCatConvID"
                    (change)="updateHourRateThreshold('CAT',$event.target.value)">
              <option *ngFor="let s of categoriesConventions" [value]="s.id">{{s.libelle}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row" *ngIf="convCoefficientsVisible()">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">Coefficient</label>
          <div class="col-md-8 col-xs-12">
            <select class="form-control" [(ngModel)]="selectedCoefConvID"
                    (change)="updateHourRateThreshold('COEF',$event.target.value)">
              <option *ngFor="let s of coefficientsConventions" [value]="s.id">{{s.libelle}}</option>
            </select>
          </div>
        </div>
      </fieldset>

      <fieldset *ngIf="convParametersVisible()">
        <legend><strong>Avantages salariaux</strong></legend>
        <div class="form-group row required">
          <label class="col-md-2 col-xs-2 form-control-label">Code</label>
          <label class="col-md-10 col-xs-10 form-control-label">Avantage</label>
        </div>
        <div class="form-group row" *ngFor="let item of categoriesHeure">
          <div class="col-md-2 col-xs-2">
            <span>{{item.code}}</span>
          </div>
          <div class="col-md-10 col-xs-10">
            <span>{{item.libelle}}</span>
          </div>
        </div>
        <div class="form-group row" *ngFor="let item of majorationsHeure">
          <div class="col-md-2 col-xs-2">
            <span>{{item.code}}</span>
          </div>
          <div class="col-md-10 col-xs-10">
            <span>{{item.libelle}}</span>
          </div>
        </div>
        <div class="form-group row" *ngFor="let item of indemnites">
          <div class="col-md-2 col-xs-2">
            <span>{{item.code}}</span>
          </div>
          <div class="col-md-10 col-xs-10">
            <span>{{item.libelle}}</span>
          </div>
        </div>
      </fieldset>

      <fieldset [hidden]="projectTarget=='jobyer'">
        <legend><strong>Prérequis obligatoires</strong></legend>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-10">
              <input type="hidden" class="select2 prerequis-select form-control" name="prerequis"
                     placeholder="Prérequis" [(ngModel)]="prerequisOb" />
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary"
                      role="button" (click)="addPrerequis()" >
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">&nbsp;</div>
          </div>
          <div *ngFor="let p of prerequisObligatoires" class="row" style="margin-bottom: 5px">
            <div class="col-xs-2">
              <button class="btn btn-danger"
                      role="button" (click)="removePrerequis(p)" >
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
            <div class="col-xs-10" style="font-size: medium">
              {{p}}
            </div>
          </div>
        </div>

      </fieldset>

    </section>

    <!-- !JOB -->
    <!-- DISPO -->

    <section widget class="widget widget-offer">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">Disponibilités</span></h6>
      </header>
      <div class="widget-body">

        <legend><strong>Créneaux</strong></legend>

        <!-- Créneaux -->
        <div class="form-group row required">
          <label class="col-md-6 col-xs-6 form-control-label">Créneaux</label>
          <label class="col-md-2 col-xs-3 form-control-label">De</label>
          <label class="col-md-2 col-xs-3 form-control-label">A</label>
        </div>

        <div *ngFor="let item of slots, let j = index">
          <div class="form-group row">
            <div class="col-md-6 col-sm-5 col-xs-12">
              <input class="form-control" [(ngModel)]="item.date" disabled/>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 offer-hour-new">
              <input class="form-control" [(ngModel)]="item.startHour" disabled/>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 offer-hour-new">
              <input class="form-control" [(ngModel)]="item.endHour" disabled/>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 offer-hour-action-button">
              <button
                style="display: block; width: 100%;"
                class="btn btn-danger mb-xs col-md-2 col-xs-12"
                role="button"
                (click)="removeSlot(j)" [disabled]="isDeleteSlotDisabled()">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <alert *ngFor="let alert of alertsSlot; let i = index" [type]="alert.type + ' alert-sm'" dismissible="false">
          <div [innerHTML]="alert.msg"></div>
        </alert>
        <alert *ngIf="triedValidate && slots.length == 0" [type]="'danger alert-sm'">
          <div [innerHTML]="'* Veuillez renseigner au moins un créneau'"></div>
        </alert>

        <div class="form-group row required">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <datetime
              id="slotDate"
              style="display: block; width: 100%;"
              [timepicker]="false"
              [datepicker]="datepickerOpts"
              [(ngModel)]="slot.date"
            ></datetime>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 offer-hour-new">
            <datetime
              id="slotSHour"
              [datepicker]="false"
              [timepicker]="{ showMeridian: false, minuteStep: 15 }"
              [(ngModel)]="slot.startHour"
            ></datetime>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 offer-hour-new">
            <datetime
              id="slotEHour"
              [datepicker]="false"
              [timepicker]="{ showMeridian: false, minuteStep: 15 }"
              [(ngModel)]="slot.endHour"
            ></datetime>
          </div>
          <div class="col-md-2 col-xs-12">
            <button
              style="display: block; width: 100%;"
              class="btn btn-success mb-xs"
              role="button"
              (click)="addSlot()"
              [disabled]="!(slot.date && slot.startHour && slot.endHour)"
            >
              Ajouter
            </button>
          </div>
        </div>

      </div>
    </section>

    <!-- !DISPO -->
    <!-- PROFILE -->

    <section widget class="widget widget-offer">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">Profil</span></h6>
      </header>
      <div class="widget-body">

        <!-- Qualities -->
        <div class="form-group row">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">
            Mon {{ currentUser.estEmployeur ? 'jobyer' : 'employeur' }} idéal
          </label>

          <div class="col-md-8 col-xs-12">

            <!-- Selected Qualities -->
            <div class="form-group row" *ngFor="let item of offer.qualityData">
              <div class="col-md-9 col-xs-9">
                <input class="form-control" value="{{item.libelle}}" disabled/>
              </div>
              <div class="col-md-3 col-xs-3">
                <button
                  style="display: block; width: 100%;"
                  class="btn btn-danger mb-xs"
                  role="button"
                  (click)="removeQuality(item)"
                >
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
            </div>

            <!-- New quality input -->
            <div class="row">
              <div class="col-md-9 col-xs-12">
                <select class="form-control" [(ngModel)]="selectedQuality">
                  <option *ngFor="let q of qualities" [value]="q.idQuality">{{q.libelle}}</option>
                </select>
              </div>
              <div class="col-md-3 col-xs-12">
                <button
                  style="display: block; width: 100%;"
                  class="btn btn-success mb-xs offer-add-button"
                  role="button"
                  (click)="addQuality()"
                  [disabled]="!selectedQuality"
                >
                  Ajouter
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Langues -->
        <div class="form-group row">
          <label class="col-md-4 col-xs-12 form-control-label text-md-right">
            Langues
          </label>

          <div class="col-md-8 col-xs-12">

            <!-- Selected Languages -->
            <div class="form-group row" *ngFor="let item of offer.languageData">
              <div class="col-md-6 col-xs-6">
                <input class="form-control" value="{{item.libelle}}" disabled/>
              </div>
              <div class="col-md-3 col-xs-6">
                <input class="form-control" value="{{item.level == 'junior' ? 'Débutant' : 'Courant'}}" disabled/>
              </div>
              <div class="col-md-3 col-xs-12">
                <button
                  style="display: block; width: 100%;"
                  class="btn btn-danger mb-xs btn-remove-language"
                  role="button"
                  (click)="removeLanguage(item)"
                >
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
            </div>

            <!-- New language input -->
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <select class="form-control" [(ngModel)]="selectedLang">
                  <option *ngFor="let l of langs" [value]="l.idLanguage">{{l.libelle}}</option>
                </select>
              </div>
              <div class="col-md-3 col-xs-6">
                <select class="form-control" [(ngModel)]="selectedLevel">
                  <option value="junior">Débutant</option>
                  <option value="senior">Courant</option>
                </select>
              </div>
              <div class="col-md-3 col-xs-12">
                <button
                  style="display: block; width: 100%;"
                  class="btn btn-success mb-xs"
                  role="button"
                  (click)="addLanguage()"
                  [disabled]="!(selectedLang && selectedLevel)"
                >
                  Ajouter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- !PROFILE -->
    <!-- ACTIONS -->

    <section class="widget" widget>

      <div class="widget-body">
        <form class="form-horizontal" role="form">
          <div class="form-actions">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">
                  <button type="button" class="btn btn-success fwidth" (click)="editOffer()">
                    Enregistrer
                  </button>
                </div>
              </div>
              <div *ngIf="obj === 'detail'" class="row">
                <div class="col-md-6 col-xs-12">
                  <button type="submit" class="btn btn-primary fwidth" (click)="copyOffer()">
                    Copier l'offre
                  </button>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button type="submit" class="btn btn-primary fwidth" (click)="changePrivacy()">
                    {{offrePrivacyTitle}}
                  </button>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button type="submit" class="btn btn-primary fwidth" (click)="autoSearchMode()">
                    {{autoSearchModeTitle}}
                  </button>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button type="submit" class="btn btn-primary fwidth" (click)="launchSearch()" *ngIf="!offer.obsolete">
                    Lancer une recherche
                  </button>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button type="submit" class="btn btn-primary fwidth" (click)="showQuote()" *ngIf="currentUser.estEmployeur">
                    Enregistrer et consulter le devis
                  </button>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <button type="submit" class="btn btn-success fwidth" (click)="deleteOffer()">
                    Supprimer l'offre
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </section>

    <!-- !ACTIONS -->

  </div>
</div>

<!-- MODALS -->
<modal-options [params]="modalParams"></modal-options>
<modal-offer-temp-quote></modal-offer-temp-quote>
