@import "../../../node_modules/ng2-datetime/src/vendor/bootstrap-datepicker/bootstrap-datepicker3.min";
@import "../../../node_modules/ng2-datetime/src/vendor/bootstrap-timepicker/bootstrap-timepicker.min";
@import "../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/select2/select2";
@import "../../../node_modules/select2-bootstrap-css/select2-bootstrap";
//@import "../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";
@import "../../scss/variables";
@import "../../../node_modules/fullcalendar/dist/fullcalendar";
@import "../../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.fwidth{
  width:100%;
  margin-bottom: 10px;
}

.widget-offer {

  .widget-offer-header {
    background-color: $navbar-dashboard-bg;
    border-color: $navbar-dashboard-border;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0px;
    table-layout: fixed;
  }

  .widget-offer-header-title {
    color: white;
  }

  div.required > label:after {
    content: " *";
    color: red;
  }

  select {
    height: 35px;
  }

  .offer-availability-hours {
    width: 115px;
  }

  @media (max-width: map_get($grid-breakpoints, sm)) {
    .offer-hour-new {
      margin-top: 5px;
    }
    .offer-video-btn {
      margin-top: 5px;
    }
  }

  @media (max-width: map_get($grid-breakpoints, md)) {
    .offer-hour-action-button {
      margin-top: 5px;
    }

    .btn-success {
      margin-top: 5px;
    }

    .btn-remove-language {
      margin-top: 5px;
    }
  }
}

/**************************/
/* Full Calendar Override */
/**************************/

.fc-grid th{
  text-transform: uppercase;
}

.fc-event {
  padding: 2px 3px;
  border: none;
  font-weight: $font-weight-normal;
  background-color: $gray-semi-lighter;
  color: $text-color;
}

.fc-today{
  background-color: #fff1b8;
}

a.fc-event{
  height: auto;
  line-height: $line-height-base;
}

/***********************************/
/**      Full Calendar Custom     **/
/***********************************/

.full-calendar{
  margin-top: 10px;
}

.calendar-controls{
  .btn{
    font-size: $font-size-mini;
  }
}

.calendar-external-events{
  margin-top: 20px;

  .external-event{
    margin: 10px 0;
    padding: 6px;
    font-size: $font-size-mini;
    cursor: pointer;
    border-radius: $border-radius;
    background-color: $white;
    border: 1px solid #bbb;
  }
}

.two-thirds-field {
  width:75% !important;
}

.sector-select {
  width: 100%;
}
.voj-input-group-addon {
  padding: 0.600rem 0.75rem;
}

.warning-empty{
	border-color:red !important;
}
[hover]{
	cursor:pointer;
}
.warn-focus{
	box-shadow:0 0 1em rgba(42,42,42,.42);
}


/* Fix (add over generic styles) */
.select2-container .select2-choice > .select2-chosen{
    white-space: pre-wrap;
    text-overflow: clip;
}
.select2-container .select2-choice {
    height: auto !important;
}

.list-button {
  width: 100%
}
.boxes {
  margin: auto;
  padding: 50px;
  background: #484848;
}


/*Checkboxes styles*/

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1.5px solid #14baa6;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-box{
  margin-top: 1em;
}
