#entreprises-selector {
  .selected {
    background-color: #14baa6;
    color: white;
    font-weight: bold;
  }

  .available {
    cursor: pointer;
    font-weight: bold;
  }

  .available:hover {
    background-color: #f5f5f5;
  }
}
