@import "../../../scss/application";

#entreprises-selector {
  .selected {
    background-color: $primary-color-one;
    color: white;
    font-weight: bold;
  }

  .available {
    cursor: pointer;
    font-weight: bold;
  }

  .available:hover {
    background-color: #f5f5f5;
  }
}
