<a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#my-modal18-content">
  Modifier les heures prévues
</a>
<div class="modal fade" id="my-modal18-content">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-xs-center fw-bold mt" id="myModalLabel18">VitOnJob</h4>
        <p class="text-xs-center fs-mini text-muted mt-sm">
          Relevé d'heures de travail du contract avec {{ contract.prenom }} {{ contract.nom }}
        </p>
      </div>
      <div class="modal-body bg-gray-lighter">
        <form>
          <div class="widget-body">
            <div *ngFor="let day of missionHours, let i=index">
              <table class="table table-striped table-condensed" width="400">
                <thead class="no-bd col-xs-12">
                <tr>
                  <th colspan="4">
                    Jour {{i + 1}}: {{day.jour_debut | dateConverter:'long'}}
                  </th>
                </tr>
                <tr>
                  <th>Heure</th>
                  <th class="text-align-right">Prévu</th>
                  <th class="text-align-center" *ngIf="isEmployer && upperCase(contract.approuve) == 'NON'">
                    Jobyer
                  </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td class="text-align-right" width="100">Début</td>
                  <td class="text-align-right" width="100">
                    <input type="time" [(ngModel)]="day.heure_debut_temp" (change)="watchInput(i, j, true, false)" [style.backgroundColor]="!isEmpty(day.heure_debut_new) ? 'orange' : 'gray'"/>
                  </td>
                  <td class="text-align-center" width="100">
                <span
                  class="label label-{{ (
                    upperCase(day.is_heure_debut_corrigee) == 'NON'
                      ? 'success'
                      : (upperCase(day.is_heure_debut_corrigee) == 'OUI'
                        ? 'danger'
                        : 'default'
                    ))
                  }}"
                >
                  {{ (day.heure_debut_pointe) ? day.heure_debut_pointe : '--:--' }}
                </span>
                  </td>
                </tr>
                <tr *ngFor="let pause of missionPauses[i], let j=index">
                  <td colspan="3" style="padding: 0; padding-top: 10px;">
                    <table class="table table-striped table-condensed" width="400">
                      <tbody>
                      <tr>
                        <td class="text-align-right" width="100" colspan="3">Pause {{j + 1}}</td>
                      </tr>
                      <tr>
                        <td class="text-align-right" width="100">Début</td>
                        <td class="text-align-right" width="100">
                          <input type="time" [(ngModel)]="pause.pause_debut_temp" (change)="watchInput(i, j, false, true)" [style.backgroundColor]="!isEmpty(pause.pause_debut_new) ? 'orange' : 'gray'"/>
                        </td>
                        <td class="text-align-right" width="100">
                          <input type="time" [(ngModel)]="pause.pause_debut_pointe" [hidden]="contract.option_mission == '1.0'|| isNewMission" [style.backgroundColor]="upperCase(pause.is_pause_debut_corrigee) == 'OUI' ? 'red' : (upperCase(pause.is_pause_debut_corrigee) == 'NON' ? 'green' : '')" disabled="true"/>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-align-right" width="100">Fin</td>
                        <td class="text-align-right" width="100">
                          <input type="time" [(ngModel)]="pause.pause_fin_temp" (change)="watchInput(i, j, false, false)" [style.backgroundColor]="!isEmpty(pause.pause_fin_new) ? 'orange' : 'gray'"/>
                        </td>
                        <td class="text-align-right" width="100">
                          <input type="time" [(ngModel)]="pause.pause_fin_pointe" [hidden]="contract.option_mission == '1.0'|| isNewMission" [style.backgroundColor]="upperCase(pause.is_pause_fin_corrigee) == 'OUI' ? 'red' : (upperCase(pause.is_pause_fin_corrigee) == 'NON' ? 'green' : '')" disabled="true"/>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td class="text-align-right" width="100">Fin</td>
                  <td class="text-align-right" width="100">
                    <input type="time" [(ngModel)]="day.heure_fin_temp" (change)="watchInput(i, j, false, false)" [style.backgroundColor]="!isEmpty(day.heure_fin_temp) ? 'orange' : 'gray'"/>
                    </td>
                  <td class="text-align-center" width="100">
                <span
                  class="label label-{{ (
                    upperCase(day.is_heure_fin_corrigee) == 'NON'
                      ? 'success'
                      : (upperCase(day.is_heure_fin_corrigee) == 'OUI'
                        ? 'danger'
                        : 'default'
                    ))
                  }}"
                >
                  {{ (day.heure_fin_pointe) ? day.heure_fin_pointe : '--:--' }}
                </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-gray" (click)="modifyScheduledHour()">Valider</button>
      </div>
    </div>
  </div>
</div>
