<div class="form-group row">
  <label class="col-md-4 col-xs-12 form-control-label text-md-right" for="title">
    Titre de civilité
    <span class="asterisk">*</span>
  </label>
  <div class="col-md-7 col-xs-12">
    <select data-style="btn-secondary"
    class="titleSelectPicker form-control"
    tabindex="-1" id="title" [(ngModel)]="title">
    <option value="Mme">Mme</option>
    <option value="Mlle">Mlle</option>
    <option value="M.">M.</option>
  </select>
</div>
</div>
<div class="form-group row">
  <label for="lastname" class="col-md-4 col-xs-12 form-control-label text-md-right">
    Nom
    <span class="asterisk">*</span>
  </label>
  <div class="col-md-7 col-xs-12">
    <input type="text" id="lastname" class="form-control" placeholder="Nom" [(ngModel)]="lastname"
    name="lastname" (keyup)="watchLastname($event)">
  </div>
  <div class="col-md-offset-4 col-md-7 col-xs-12">
    <span class="hint label label-danger">{{lastnameHint}}</span>
  </div>
</div>

<div class="form-group row">

  <label for="firstname" class="col-md-4 col-xs-12 form-control-label text-md-right">
    Prénom
    <span class="asterisk">*</span>
  </label>
  <div class="col-md-7 col-xs-12">
    <input type="text" id="firstname" class="form-control" [(ngModel)]="firstname" name="firstname"
    placeholder="Prénom" (keyup)="watchFirstname($event)">
  </div>

  <div class="col-md-offset-4 col-md-7 col-xs-12">
    <span class="hint label label-danger">{{firstnameHint}}</span>
  </div>
</div>
