<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/offer/list']">Mes offres</a></li>
</ol>
<div class="row">
  <div class="col-xs-12 pull-right" style="margin-bottom: 1em;">
    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-secondary btn-sm" name="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
  </div>
</div>
<h1 class="page-title">{{currentUser.estRecruteur ? 'Recruteur' : (currentUser.estEmployeur ? 'Employeur' : 'Jobyer')}} - <span
  class="fw-semi-bold">Mes offres</span></h1>
<div class="row">
  <div class="col-lg-6 col-xs-12">
    <button type="button" class="add-offer btn btn-danger btn-sm" (click)="goToNewOffer()">Créer une offre
      {{projectTarget == 'employer' ? " d'emploi" : " de service"}}
    </button>
      <button class="btn btn-info btn-sm add-offer" role="button" (click)="sortOffers()">
          Trier les offres
      </button>

  </div>
  <div class="col-lg-6 col-xs-12">
    <div class="btn-group pull-lg-right pull-md-right pull-sm-right pull-xl-right btn-grp">
      <label class="btn btn-gray btn-1" btnRadio="0" [(ngModel)]="typeOfferModel" (click)="watchTypeOfferModel()">
        En ligne
      </label>
      <label class="btn btn-gray btn-2" btnRadio="1" [(ngModel)]="typeOfferModel" (click)="watchTypeOfferModel()">
        Privée(s)
      </label>
      <label class="btn btn-gray btn-3" btnRadio="2" [(ngModel)]="typeOfferModel" (click)="watchTypeOfferModel()">
        Archive
      </label>
    </div>
  </div>
</div>
<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
  <div [innerHTML]="alert.msg"></div>
</alert>

<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div *ngFor="let globalList of globalOfferList" style="margin-bottom: 10px;" [hidden]="globalList.list.length <=0">
      <section class="widget" widget *ngFor="let item of globalList.list" [hidden]="!item.visible || typeOfferModel != '0' || item.etat == 'en archive'">
        <div class="widget-body row">
          <div class="col-xs-8">
            <div class="abc-radio abc-style abc-radio-{{item.obsolete ? 'danger':'success'}}">
              <input type="radio" checked>
              <label class="title">{{item.title}}</label>
            </div>
          </div>
          <div class="pull-right" style="padding-left: 20px;">
            <div class="checkbox-inline checkbox-ios collapse navbar-collapse">
              <label class="switch">
                <input type="checkbox" class="ios" [checked]="item.rechercheAutomatique" (click)="autoSearchMode(item)"><i></i>
              </label>
              <label class="labelS">Activer l'alerte</label>
            </div>

          </div>
          <div class="col-xs-5 col-md-12 price pull-right">
            <h4 class="" style="margin-bottom:0px"><strong>{{item.jobData.remuneration}} € </strong></h4>
            <label class="" style="font-size: small; color: #ccc">DE L'HEURE</label>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <b>{{ projectTarget == 'jobyer' ? 'Disponibilités' : 'Horaires de travail souhaités' }}</b>
            <ul>
              <li *ngFor="let dispo of item.slots, let j = index" [hidden]="dispo.pause">

                <div *ngIf="dispo.nbDays < 1">
                  le <b>{{dispo.date}} :</b> {{dispo.startHour}} - {{dispo.endHour}}
                </div>

                <div *ngIf="dispo.nbDays >= 1">
                  du <b>{{dispo.date}} :</b> {{dispo.startHour}}<br>
                  au <b>{{dispo.dateEnd}} :</b> {{dispo.endHour}}
                </div>

              </li>
            </ul>
          </div>
        </div>

        <div class="clearfix">
          <div class="col-md-1 pull-sm-right pull-md-right pull-lg-right pull-xl-right">
            <!--<div class="input-group-btn grp-search">-->
              <!--<button-->
                <!--type="button"-->
                <!--class="btn btn-secondary btn-sm btn-search"-->
                <!--style="background-color: #40aea9; color: white; border-radius: 0.2rem;"-->
                <!--(buttonClick)="launchSearch(item)"-->
                <!--*ngIf="!item.obsolete"-->
                <!--[disabled]="item.correspondantsCount <= 0"-->
              <!--&gt;-->
                <!--{{ (item.correspondantsCount == 0) ? 'Aucun résultat trouvé' : '' }}-->
                <!--{{ (item.correspondantsCount == 1) ? '1 résultat trouvé' : '' }}-->
                <!--{{ (item.correspondantsCount > 1) ? item.correspondantsCount + ' résultats trouvés' : '' }}-->
              <!--</button>-->

              <div
                *ngIf="item.obsolete == false"
                button-number
                [label]="'Lancer la plannification'"
                [number]="item.correspondantsCount"
                [tooltip]="'Jobyers disponibles'"
                (buttonClick)="launchSearch(item)"
              ></div>

              <button
                type="button"
                class="btn btn-success btn-sm clear-child-3 adv-list-action-button"
                *ngIf="!item.obsolete && projectTarget == 'employer'"
                (click)="goToJobyerInterestList(item)"
                [disabled]="item.interestedCount <= 0"
              >
                {{ (item.interestedCount == 0) ? 'Aucun jobyer intéressé' : '' }}
                {{ (item.interestedCount == 1) ? '1 jobyer intéressé' : '' }}
                {{ (item.interestedCount > 1) ? item.interestedCount + ' jobyers intéressés' : '' }}
              </button>

            <!--</div>-->
          </div>
          <div class="col-md-1 col-xs-2 pull-sm-right pull-md-right pull-lg-right pull-xl-right">
            <button type="button" class="btn btn-secondary btn-sm btn-detail-offre" (click)="goToDetailOffer(item)">Détails de l'offre
            </button>
          </div>
        </div>
        <div class="alert alert-warning alert-sm alertDispo" *ngIf="item.obsolete">
          Cette offre est obsolète. Veuillez mettre à jour les {{ projectTarget == 'jobyer' ? ' créneaux de disponibilités' : ' horaires de travail souhaités' }}
        </div>
      </section>
      <section class="widget" widget *ngFor="let item of globalList.list" [hidden]="item.visible || typeOfferModel != '1'">
        <div class="widget-body row">
          <div class="col-xs-8">
            <div class="abc-radio abc-style">
              <input type="radio">
              <label class="title">{{item.title}}</label>
            </div>
          </div>
          <div class="col-xs-12 price pull-left" style="padding-right: 25px;">
            <h4 class="" style="margin-bottom:0px"><strong>{{item.jobData.remuneration}} € </strong></h4>
            <label class="" style="font-size: small; color: #ccc">DE L'HEURE</label>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <b>{{ projectTarget == 'jobyer' ? 'Disponibilités' : 'Horaires de travail souhaités' }}</b>
            <ul>
              <li *ngFor="let dispo of item.slots, let j = index"><b>{{dispo.date}} :</b> {{dispo.startHour}} - {{dispo.endHour}} </li>
            </ul>
          </div>
        </div>

        <div class="clearfix">
          <div class="col-md-1 col-xs-2 pull-sm-right pull-md-right pull-lg-right pull-xl-right">
            <button type="button" class="btn btn-secondary btn-sm btn-detail-offre-2" (click)="goToDetailOffer(item)">Détails de l'offre
            </button>
          </div>
        </div>
        <div class="alert alert-warning alert-sm alertDispo" *ngIf="item.obsolete">
          Cette offre est obsolète. Veuillez mettre à jour les {{ projectTarget == 'jobyer' ? ' créneaux de disponibilités' : ' horaires de travail souhaités' }}
        </div>
      </section>
      <section class="widget" widget *ngFor="let item of globalList.list" [hidden]="item.etat != 'en archive' || typeOfferModel != '2'">
        <div class="widget-body row">
          <div class="col-xs-8">
            <div class="abc-radio abc-style">
              <input type="radio">
              <label class="title">{{item.title}}</label>
            </div>
          </div>
          <div class="col-xs-12 price pull-left" style="padding-right: 25px;">
            <h4 class="" style="margin-bottom:0px"><strong>{{item.jobData.remuneration}} € </strong></h4>
            <label class="" style="font-size: small; color: #ccc">DE L'HEURE</label>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <b>{{ projectTarget == 'jobyer' ? 'Disponibilités' : 'Horaires de travail souhaités' }}</b>
            <ul>
              <li *ngFor="let dispo of item.slots, let j = index"><b> {{dispo.date}} :</b> {{dispo.startHour}} - {{dispo.endHour}} </li>
            </ul>
          </div>
        </div>

        <div class="clearfix">
          <div class="col-md-1 col-xs-2 pull-sm-right pull-md-right pull-lg-right pull-xl-right">
            <button type="button" class="btn btn-secondary btn-sm btn-detail-offre-2" (click)="goToDetailOffer(item)">Détails de l'offre
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
