@import "../../scss/application";

//@import "../../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.labelS{
  margin-top: -15px;
  vertical-align: middle;
  padding-left: 10px;
}

.offer-list-button-bar {
  margin-bottom: 1em;
}

.abc-style{
  padding-left: 0px !important;
}

.title{
  font-size:1.25rem;
}
/**
 * Switchery.
 */
 .switch{
   box-sizing: content-box;
   margin-left: -20px;
 }

 .switch input {
   display: none;
 }
 .switch i {
   display: inline-block;
   cursor: pointer;
   padding-right: 20px;
   transition: all ease 0.2s;
   -webkit-transition: all ease 0.2s;
   border-radius: 20px;
   box-shadow: inset 0 0 1px rgba(0,0,0,.5);
 }
 .switch i:before {
   display: block;
   content: '';
   width: 30px;
   height: 30px;
   padding: 1px;
   border-radius: 20px;
   background: white;
   box-shadow: 0 1px 2px rgba(0,0,0,.5);
 }
 .switch :checked + i {
   padding-right: 0;
   padding-left: 20px;
   background: rgb(100, 189, 99);
 }


.alertDispo {
  margin: 15px -20px -15px;
  padding: 0 12px;
}
@media screen and (min-width: 250px) and (max-width: 530px) {
  .page-title {
    font-size: large;
    width: 100%;
    text-align: center;
  }

  .add-offer {
    display: table;
    margin: 0 auto 1em;
    width: 100%;
  }

  .btn-grp {
    display: table!important;
    margin: 0 auto 1em !important;
  }

  .title {
    font-size: 1em;
  }

  .btn-detail-offre {
    width: 100%!important;
    margin: 1em auto 0 !important;
  }

  .grp-search {
    width: 100%!important;
  }

  .btn-search {
    width: 100%!important;
    border-radius: 0.2rem;
  }

  .title-2 {
    font-size: 1em;
  }

  .btn-detail-offre-2 {
    width: 100%!important;
    margin: 1em auto 0 !important;
  }

  .price {
    text-align: right;
    margin-top: 1em;
  }



  .radio {
    margin-top: 1.7em;
    float: left;
  }
}
