<ol class="breadcrumb">
	<li>Vous êtes ici</li>
	<li class="active">Mes offres</li>
</ol>
<h1 class="page-title">{{currentUser.estEmployeur ? 'Employeur' : 'Jobyer'}} - <span class="fw-semi-bold">Mes offres</span></h1>
<div class="row">
	<div class="col-lg-6 col-xs-6">
		<button type="button" class="btn btn-danger btn-sm" (click)="goToNewOffer()">Créer une offre {{currentUser.estEmployeur ? " d'emploi" : " de service"}}</button>
	</div>
	<div class="col-lg-6 col-xs-6">
		<div class="btn-group pull-xs-right">
			<label class="btn btn-gray" btnRadio="0" [(ngModel)]="typeOfferModel" (click)="watchTypeOfferModel()">
				Mes offres en ligne
			</label>
            <label class="btn btn-gray" btnRadio="1" [(ngModel)]="typeOfferModel" (click)="watchTypeOfferModel()">
				Mes offres en brouillon
			</label>
		</div>        
	</div>
</div>
<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
	<div [innerHTML]="alert.msg"></div>
</alert>

<div class="row">
	<div class="col-lg-12 col-xs-12">
		<div *ngFor="let globalList of globalOfferList" style="margin-bottom: 10px;" [hidden]="globalList.list.length <=0">
			<section class="widget" widget *ngFor="let item of globalList.list" [hidden]="!item.visible || typeOfferModel == '1'">
				<div class="widget-body row">
					<div class="col-md-1 col-xs-4">
						<button class="btn btn-info mb-xs" role="button" style="border-radius: 50%;" (click)="changePrivacy(item)">
							<i class="glyphicon glyphicon-eye-close" style="font-size: 17px;"></i>
						</button>
					</div>
					<h5 class="name no-margin mb-xs col-md-8 col-xs-12">{{item.title}}</h5>
					<div class="col-md-2 col-xs-4" style="padding-left: 20px;">
						<div class="checkbox-inline checkbox-ios">
							<label class="switch">
								<input type="checkbox" class="ios" [checked] = "item.rechercheAutomatique" (click)="autoSearchMode(item)"><i></i>
							</label>
						</div>
						<label class="labelSwitch">Activer l'alerte</label>
					</div>
					<div class="col-md-1 col-xs-2 pull-xs-right" style="padding-right: 25px;">
						<h4 class="pull-xs-right" style="margin-bottom:0px"><strong>{{item.jobData.remuneration}} € </strong></h4>
						<label class="pull-xs-right" style="font-size: small; color: #ccc">DE L'HEURE</label>
					</div>
				</div>
					
				<div class="clearfix">
					<div class="col-md-1 col-xs-2 pull-xs-right">
						<div class="input-group-btn">
							<button type="button" class="btn btn-secondary btn-sm" style="background-color: #40aea9; color: white;" (click)="launchSearch(item)">Lancer la recherche</button>
							<button class="btn btn-gray btn-sm" type="button">{{(item.correspondantsCount < 0) ? '' : item.correspondantsCount}}</button>
						</div>
					</div>
					<div class="col-md-1 col-xs-2 pull-xs-right">
						<button type="button" class="btn btn-secondary btn-sm" (click)="goToDetailOffer(item)">Détails de l'offre</button>
					</div>
				</div>
				<div class="alert alert-warning alert-sm alertDispo" *ngIf="item.obsolete">Cette offre est obsolète. Veuillez mettre à jour les créneaux de disponibilité</div> 
			</section>			
			<section class="widget" widget *ngFor="let item of globalList.list" [hidden]="item.visible || typeOfferModel == '0'">
				<div class="widget-body row">
					<div class="col-md-1 col-xs-4">
						<button class="btn btn-info mb-xs" role="button" style="border-radius: 50%;" (click)="changePrivacy(item)">
							<i class="glyphicon glyphicon-eye-open" style="font-size: 17px;"></i>
						</button>
					</div>
					<h5 class="name no-margin mb-xs col-md-10 col-xs-12">{{item.title}}</h5>
					<div class="col-md-1 col-xs-2 pull-xs-right" style="padding-right: 25px;">
						<h4 class="pull-xs-right" style="margin-bottom:0px"><strong>{{item.jobData.remuneration}} € </strong></h4>
						<label class="pull-xs-right" style="font-size: small; color: #ccc">DE L'HEURE</label>
					</div>
				</div>
				
				<div class="clearfix">
					<div class="col-md-1 col-xs-2 pull-xs-right">
						<button type="button" class="btn btn-secondary btn-sm" (click)="goToDetailOffer(item)">Détails de l'offre</button>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>