@import "../../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";

/**
 * Switchery.
 */

.switch {
  box-sizing: content-box;
  margin-left: -20px;
}

.switch input {
  display: none;
}

.switch i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
}

.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}

.labelSwitch {
  padding-left: 10px;
  vertical-align: middle;
}

.alertDispo {
  margin-bottom: -15px;
  margin-top: 15px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 12px;
}
@media screen and (min-width: 300px) and (max-width: 500px) {

  .add-offer{
    display: table;
    margin: 0 auto;
    margin-bottom: 1em;
    width: 100%;
  }
  .btn-grp{
    display: table!important;
    margin: 0 auto!important;
    margin-bottom: 1em;
  }
  .title{
    font-size: 1em;
  }
  .btn-detail-offre{
    width: 100%!important;
    margin: 0 auto!important;
    margin-top: 1em!important;
  }

  .grp-search{
    width: 100%!important;
  }
  .btn-search{
  width: 100%!important;
  border-radius: 0.2rem;
  }
  .title-2{
    font-size: 1em;
  }
  .btn-detail-offre-2{
    width: 100%!important;
    margin: 0 auto!important;
    margin-top: 1em!important;
  }
  .price{
    text-align: right;
    margin-top: 1em;
  }
  .labelSwitch{
    float: right;
    padding-left: 0!important;
    font-size: 13px;
  }
  .radio{
    margin-top: 1.7em;
    float: left;
  }
}
