<ol class="breadcrumb">
  <li>Vous êtes ici</li>
  <li class="active">Mes missions</li>
  <li class="active">Détails de la mission</li>
</ol>

<div class="row">
  <div class="col-lg-8 col-xl-offset-2 col-xs-12">

    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
      <div [innerHTML]="alert.msg"></div>
    </alert>

    <section class="widget" widget>
      <header>
        <h4>
          {{ contract.titre }}
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </a>
          <a data-widgster="collapse" title="Collapse" href="#">
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a>
        </div>
      </header>
      <div class="widget-body">

        <h5>Relevé d'heures de travail duc contract avec {{ contract.prenom }} {{ contract.nom }}.</h5>

        <div *ngFor="let day of missionHours, let i=index">


          <table class="table table-striped table-condensed">

            <thead class="no-bd col-xs-12">
            <tr>
              <th colspan="4">
                Jour {{i + 1}}: {{day.jour_debut | dateConverter:'long'}}
                <!-- TODO : Add break time -->
                <!--<button class="btn btn-default pull-right" (click)="onCardClick(i)">-->
                  <!--[{{ !isNewMission || !isEmployer || upperCase(contract.signature_jobyer) == 'NON' }}]-->
                  <!--<span-->
                    <!--[hidden]="!isNewMission || !isEmployer || upperCase(contract.signature_jobyer) == 'NON'"-->
                    <!--class="glyphicon glyphicon-plus"-->
                  <!--&gt;</span> Ajouter pause-->
                <!--</button>-->
              </th>
            </tr>
            <tr>
              <th>Heure</th>
              <th class="text-align-right">Prévu</th>
              <th class="text-align-center" *ngIf="isEmployer && upperCase(contract.approuve) == 'NON'">
                Jobyer
              </th>
              <th class="text-align-center" *ngIf="isEmployer && upperCase(contract.approuve) == 'NON' && (day.heure_debut_pointe || day.heure_fin_pointe)">
                {{enterpriseName}}
              </th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td class="text-align-right">Début</td>
              <td class="text-align-right">{{ day.heure_debut | timeConverter: 'minute' }}</td>
              <td class="text-align-center">
                <span
                  class="label label-{{ (
                    upperCase(day.is_heure_debut_corrigee) == 'NON'
                      ? 'success'
                      : (upperCase(day.is_heure_debut_corrigee) == 'OUI'
                        ? 'danger'
                        : 'default'
                    ))
                  }}"
                >
                  {{ (day.heure_debut_pointe) ? day.heure_debut_pointe : '--:--' }}
                </span>
              </td>
              <td
                class="text-align-center"
                *ngIf="isEmployer && upperCase(contract.approuve) == 'NON' && day.heure_debut_pointe"
              >
                <div class="btn-group">
                  <label
                    class="btn btn-gray btn-sm"
                    (click)="onPointedHourClick(i, j, true, false, 'approve')"
                  >
                    <i class="glyphicon glyphicon-ok"></i> Accepter
                  </label>
                  <label
                    class="btn btn-gray btn-sm"
                    (click)="onPointedHourClick(i, j, true, false, 'decline')"
                  >
                    <i class="glyphicon glyphicon-remove"></i> Refuser
                  </label>
                </div>

              </td>
            </tr>
            <tr>
              <td class="text-align-right">Fin</td>
              <td class="text-align-right">{{ day.heure_fin | timeConverter: 'minute' }}</td>
              <td class="text-align-center">
                <span
                  class="label label-{{ (
                    upperCase(day.is_heure_fin_corrigee) == 'NON'
                      ? 'success'
                      : (upperCase(day.is_heure_fin_corrigee) == 'OUI'
                        ? 'danger'
                        : 'default'
                    ))
                  }}"
                >
                  {{ (day.heure_fin_pointe) ? day.heure_fin_pointe : '--:--' }}
                </span>
              </td>
              <td
                class="text-align-center"
                *ngIf="isEmployer && upperCase(contract.approuve) == 'NON' && day.heure_fin_pointe"
              >
                <div class="btn-group">
                  <label
                    class="btn btn-gray btn-sm"
                    (click)="onPointedHourClick(i, j, false, false, 'approve')"
                  >
                    <i class="glyphicon glyphicon-ok"></i> Accepter
                  </label>
                  <label
                    class="btn btn-gray btn-sm"
                    (click)="onPointedHourClick(i, j, false, false, 'decline')"
                  >
                    <i class="glyphicon glyphicon-remove"></i> Refuser
                  </label>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
        <div class="col-xs-12">

          <button
            type="button" class="btn btn-primary btn-sm"
            (click)="validateWork()"
            [style.color]="themeColor"
            *ngIf="isEmployer && !isNewMission && upperCase(contract.approuve) == 'OUI' && !(upperCase(contract.releve_jobyer) != 'OUI' && contract.option_mission == '3.0')"
          >
            {{ !isEmployer }} - {{ isNewMission }} - {{ upperCase(contract.approuve) != 'OUI' }} - {{
            (upperCase(contract.releve_jobyer) != 'OUI' && contract.option_mission == '3.0') }}
            Fin de mission
          </button>
          <button
            type="button" class="btn btn-primary btn-sm"
            (click)="eomReleve()"
            [style.color]="themeColor"
            *ngIf="isReleveAvailable"
          >
            Signer le relevé
          </button>
          <button
            type="button" class="btn btn-primary btn-sm"
            (click)="eomInvoice()"
            [style.color]="themeColor"
            *ngIf="isInvoiceAvailable"
          >
            Signer la facture
          </button>
          <button
            type="button" class="btn btn-primary btn-sm"
            (click)="generateTimesheet()"
            [style.color]="themeColor"
            *ngIf="!(missionHours && missionHours.length == 0) && isEmployer && contract.option_mission != '1.0' && !isNewMission || upperCase(contract.releve_employeur) != 'OUI'"
            [disabled]="disableTimesheetButton()"
          >
            (hidden et disabled) Générer et envoyer le relevé d'heure
          </button>
          <button
            type="button" class="btn btn-primary btn-sm"
            (click)="validatePauses()"
            [style.color]="themeColor"
            *ngIf="isNewMission && !(missionHours && missionHours.length == 0) && isEmployer && upperCase(contract.signature_jobyer) != 'NON'"
          >
            Valider et notifier le Jobyer
          </button>
          <button
            type="button" class="btn btn-primary btn-sm"
            (click)="signSchedule()"
            [style.color]="themeColor"
            *ngIf="!isNewMission && isEmployer && upperCase(contract.approuve) != 'OUI' && !(contract.option_mission == '2.0' && upperCase(contract.releve_employeur) == 'NON')"
          >
            Signer les horaires
          </button>
          <button
            type="button" class="btn btn-primary btn-sm"
            (click)="resetForm()"
            [style.color]="themeColor"
            *ngIf="isNewMission && !(missionHours && missionHours.length == 0) && isEmployer && upperCase(contract.signature_jobyer) != 'NON'"
          >
            Réinitialiser
          </button>

        </div>

        <div class="col-xs-12">
          <h5>Informations :</h5>
          <ul>
            <li><span class="label label-success">Horaire</span> validé par l'employeur</li>
            <li><span class="label label-danger">Horaire</span> invalidé par l'employeur</li>
            <li><span class="label label-warning">Horaire</span> prévu modifié et validé par l'employeur</li>
            <li><span class="label label-default">Horaire</span> prévu et validé par l'employeur</li>
          </ul>
        </div>

      </div>
    </section>

  </div>
</div>
