@import "../../scss/application";

@import "../../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";

div[signup] {
  height: 100vh;
  background-image: url('../../assets/images/bg_jobyer.png');
  background-size: cover;
  background-position-y: 50%;
}

/* Small devices (phones) */
@media (max-width: 767px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

.login-page .page-footer {

  margin-bottom: 25px;
  font-size: $font-size-mini;
  color: $text-muted;
  text-align: center;
  @media (min-height: 600px) {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.signup-footer {
  text-align: center;
}

.widget-signup-container {
  padding-top: 10%;
}

.widget-signup-logo {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: $font-weight-normal;
  .fa-circle {
    font-size: 13px;
    margin: 0 20px;
  }
}

.widget-signup {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);

  > header {
    h1, h2, h3, h4, h5, h6 {
      font-weight: $font-weight-normal;
    }
  }
}

.widget-signup-info {
  font-size: $font-size-mini;
  color: #888;
  margin-top: 1px;
  margin-bottom: 0;
}

.signup-form {
  .form-control {
    font-size: $font-size-mini;
    border: none;
    background-color: $gray-lighter;
    &:focus {
      background-color: $gray-semi-lighter;
    }
  }

  .labelRadio {
    padding-right: 20px;
    font-size: 13px;
  }

  .abc-radio {
    padding-top: 10px;
  }

  .parsley-errors-list {
    font-size: $font-size-smaller;
    padding-left: 0;
    margin-bottom: 5px;

    li {
      list-style: none;
      color: $brand-danger;
    }
  }

  .loaderPosition {
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
