<div class="row">

  <div class="col-lg-3 col-xs-12">
    <section widget class="widget">
      <div class="widget-controls">
        <a href="#"><i class="fa fa-refresh"></i></a>
        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
      </div>
      <div class="widget-body">
        <div class="widget-top-overflow windget-padding-md clearfix bg-warning text-white">
          <h3 class="mt-lg mb-lg">Liste des <span class="fw-semi-bold">Jobyers</span><br />
            disponibles pour cette offre
          </h3>
          <!--<ul class="tags text-white pull-right">-->
            <!--<li><a href="#">features</a></li>-->
          <!--</ul>-->
        </div>
        <div class="post-user mt-n-lg">
          <span class="thumb-lg pull-left mr">
            <img class="img-circle" src="assets/images/people/a4.jpg" alt="...">
          </span>
          <h6 class="m-b-1 fw-normal text-white">Jeremy <small class="text-white text-light">@sing</small></h6>
          <p class="fs-mini text-muted"><time>25 mins</time> &nbsp; <i class="fa fa-map-marker"></i> &nbsp; near Amsterdam</p>
        </div>
        <p class="text-light fs-mini m">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
          thoughts, ideas. </p>
      </div>
      <footer class="bg-body-light">
        <ul class="post-links">
          <li><a href="#">1 hour</a></li>
          <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
          <li><a href="#">Comment</a></li>
        </ul>
        <ul class="post-comments mt mb-0">

          <li
            *ngFor="let jobyer of jobyers"
            class="offer-recruit-jobyer-available"
            (mouseover)="previewJobyer(jobyer)"
            (mouseleave)="cancelPreviewJobyer()"
          >
            <span class="thumb-xs avatar pull-left mr-sm">
              <img class="img-circle" src="assets/images/avatar.png" alt="..." />
            </span>
            <div class="comment-body">
              <h6 class="author fs-sm fw-semi-bold">
                {{ jobyer.prenom }} {{ jobyer.nom }}
                <!--<small>6 mins ago</small>-->
              </h6>
              <!--<p class="fs-mini">Hey, have you heard anything about that?</p>-->
              <p class="fs-mini">-</p>
            </div>
          </li>

          <li>
            <span class="thumb-xs avatar pull-left mr-sm">
              <img class="img-circle" src="assets/images/avatar.png" alt="...">
            </span>
            <div class="comment-body">
              <input class="form-control form-control-sm" type="text" placeholder="Write your comment...">
            </div>
          </li>

        </ul>
      </footer>
    </section>
  </div>

  <div class="col-lg-9 col-xs-12">

    <section class="widget widget-calendar widget-offer">
      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">
          Horaires de travail souhaités à répartir
        </span></h6>
      </header>
      <!--<div-->
      <!--voj-calendar-dispatch-->
      <!--&gt;</div>-->

      <div class="table-responsive offer-recruit-slots-container">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th colspan="4"></th>
            <th *ngFor="let h of displayedHour" colspan="8" class="offer-recruit-slots-headers">
              {{ h }}:00
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let day of slotsPerDay.slotsPerDay; let d = index;">
            <td class="offer-recruit-slots-day">
              {{ toDateString(day.date) }}
            </td>
            <td *ngFor="let quartId of quartPerDay;" class="offer-recruit-slots-quart">
              <div class="offer-recruit-slots-quart-fill {{ getQuartColor(day, quartId) }}">
                &nbsp;
              </div>
            </td>
          </tr>
          <!--<tr *ngFor="let slot of slotsPerDay2.slotsPerDay; let d = index;">-->
            <!--<td>-->
              <!--Jour {{ d }} : {{ toDateString(slot.date) }}-->
            <!--</td>-->
            <!--<td *ngFor="let quartId of quartPerDay; let q = index;" class="offer-recruit-slots-quart">-->
              <!--<div *ngIf="isQuart(slot, quartId)" class="offer-recruit-slots-quart-fill">|</div>-->
            <!--</td>-->
          <!--</tr>-->

          </tbody>
        </table>
      </div>

    </section>

  </div>

</div>
