<div class="row">

  <div class="col-xs-12">
    <section widget class="widget">
      <h3>
        Gestion de la planification des jobyers sur une offre multi-créneaux
      </h3>
      <p>Vous sélectionnez le jobyer, puis deux modes sont possibles :</p>
      <ul>
        <li><b>1er mode :</b> vous cliquez sur le créneau à planifier et/ ou</li>
        <li><b>2ème mode :</b> vous cliquez sur "Assigner automatiquement" et le système utilise au mieux ses disponibilités sur le maximum de créneaux horaires.</li>
      </ul>
    </section>
  </div>
  <div class="col-lg-3 col-xs-12">
    <section widget class="widget">
      <div class="widget-controls">
        <!--<a href="#"><i class="fa fa-refresh"></i></a>-->
        <!--<a data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>-->
      </div>
      <div class="widget-body">
        <div class="widget-top-overflow windget-padding-md clearfix bg-warning text-white">
          <h3 class="mt-lg mb-lg">
            <span class="fw-semi-bold">Équipe</span>
          </h3>
          <!--<ul class="tags text-white pull-right">-->
            <!--<li><a href="#">features</a></li>-->
          <!--</ul>-->
        </div>
        <div class="post-user mt-n-lg {{ getDetailStatusClass() }}">
          <span
            class="pull-left mr {{ getDetailStatusClass() == 'offer-recruit-detail-open' ? 'thumb-open' : 'thumb-close' }}"
          >
            <img
              class="img-circle"
              src="{{ jobyerHover !== null && jobyerHover.avatar ? jobyerHover.avatar : 'assets/images/avatar.png' }}"
              alt="..."
            />
          </span>
          <h6 class="m-b-1 fw-normal text-white" *ngIf="jobyerHover !== null">
            {{ jobyerHover.titre }} {{ jobyerHover.prenom }} {{ jobyerHover.nom }}
            <!--<small class="text-white text-light">@sing</small>-->
          </h6>
          <!--<p class="fs-mini text-muted"><time>25 mins</time> &nbsp; <i class="fa fa-map-marker"></i> &nbsp; near Amsterdam</p>-->
          <div
            *ngIf="getDetailStatusClass() == 'offer-recruit-detail-open'"
            class="container-fluid offer-recruit-description"
          >

            <div class="widget-controls slot-description-actions">
              <!--<a href="#">-->
                <!--<i class="fa fa-refresh"></i>-->
              <!--</a>-->
              <a (click)="unselectAll()" data-widgster="close">
                <i class="glyphicon glyphicon-remove"></i>
              </a>
            </div>

            <div class="row">
              <div class="col-xs-12" *ngIf="jobyerHover !== null">
                <button
                  (click)="assignToSelectedJobyer()"
                  class="btn slot-description-assign"
                >
                  Assigner automatiquement
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <footer class="bg-body-light">
        <ul class="post-links">
          <!--<li><a href="#">1 hour</a></li>-->
          <!--<li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>-->
          <!--<li><a href="#">Comment</a></li>-->
        </ul>
        <ul class="post-comments mt mb-0">
          <li>
            <input type="text" class="search-box" [(ngModel)]="searchedJobyer">
            <button type="button" class="btn btn-secondary btn-sm search-btn"
              (click)="seekJobyer()" >
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </li>
          <li
            *ngFor="let jobyer of jobyers"
            class="offer-recruit-jobyer-available offer-recruit-jobyer-{{ (
              (jobyer.toujours_disponible)
                ? '1'
                : ((!jobyer.toujours_disponible && jobyer.disponibilites.length > 0) ? '2' : '5')
              ) }}"
            (click)="selectJobyer(jobyer)"
          >
            <!--(mouseover)="previewJobyerAvailabilities(jobyer)"-->
            <!--(mouseleave)="cancelPreviewJobyerAvailabilities()"-->
            <!--(click)="assignToSelectedJobyer(jobyer)"-->
            <span class="thumb-xs avatar pull-left mr-sm">
              <img
                class="img-circle"
                [src]="jobyer.avatar"
                alt="..."
              />
            </span>
            <div class="comment-body">
              <h6 class="author fs-sm fw-semi-bold">
                {{ jobyer.titre }} {{ jobyer.prenom }} {{ jobyer.nom }}
              </h6>
              <p class="fs-mini" *ngIf="jobyer.toujours_disponible">
                Toujours disponible
              </p>
              <p class="fs-mini" *ngIf="!jobyer.toujours_disponible && jobyer.disponibilites.length == 0">
                Indisponible
              </p>
              <p class="fs-mini" *ngIf="!jobyer.toujours_disponible && jobyer.disponibilites.length > 0">
                Partiellement disponible
              </p>
            </div>
          </li>

          <!--<li>-->
            <!--<span class="thumb-xs avatar pull-left mr-sm">-->
              <!--<img class="img-circle" src="assets/images/avatar.png" alt="...">-->
            <!--</span>-->
            <!--<div class="comment-body">-->
              <!--<input class="form-control form-control-sm" type="text" placeholder="Write your comment...">-->
            <!--</div>-->
          <!--</li>-->

        </ul>
      </footer>
    </section>
  </div>

  <div class="col-lg-9 col-xs-12">
    <section class="widget widget-calendar widget-offer">

      <header class="bb widget-offer-header">
        <h6><span class="fw-semi-bold widget-offer-header-title">
          Horaires de travail souhaités à répartir
        </span></h6>
        <div class="widget-controls">
          <a (click)="unassignMode()" data-widgster="close">
            <i class="glyphicon glyphicon-remove"></i> Désassigner créneaux
          </a>
        </div>
      </header>

      <div class="table-responsive offer-recruit-slots-container">
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th colspan="4"></th>
            <th *ngFor="let h of displayedHour" colspan="8" class="offer-recruit-slots-headers">
              {{ h }}:00
            </th>
            <th colspan="4"></th>
            <th>Jobyer</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let day of employerPlanning.quartersPerDay; let d = index;">
            <td class="offer-recruit-slots-day">
              {{ getFrenchDateString(day.date) }}
            </td>
            <td *ngFor="let quarterId of quartersPerDay;" class="offer-recruit-slots-quart">
              <div
                class="offer-recruit-slots-quarter-fill-container {{ planningColor[d] && planningColor[d][quarterId] }}"
              >.
              </div>
              <div
                class="offer-recruit-slots-quarter-fill {{ planningColorHover[d] && planningColorHover[d][quarterId] }}"
                (click)="selectSlot(day, quarterId)"
              >.
              </div>
            </td>
            <td class="offer-recruit-assigned-to">{{ planningJobyer[d] }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <alert
          *ngFor="let alert of alerts; let i = index"
          [type]="alert.type + ' alert-sm'"
          dismissible="true"
          style="width: 100%"
        >
          <div [innerHTML]="alert.msg"></div>
        </alert>
      </div>

      <div class="row">
        <div class="col-xs-12 offer-recruit-action-button">
          <button
            class="btn btn-success"
            (click)="saveRepartition()"
          >
            Valider la répartition
          </button>
        </div>
      </div>

    </section>
  </div>

</div>

<div
  modal-team
  [(jobyers)]="jobyers"
  (jobyerSelected)="modalJobyerSelected($event)"
></div>

<div
  modal-notification-contract
  [jobyer]="currentJobyer"
  [subject]="subject"
></div>
