.contract-page{
  width: 70%;
  display: table;
  margin: 0 auto;
}
.title{
  margin: 2em;
  text-align: center;
  font-size: large;
}
.col-1{
  width: 50%;
}
.col-2{
  width: 50%;
}
.title-form{
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 250px) and (max-width: 530px) {
  .computer{
    display: none;
  }
}
@media screen and (min-width: 531px) {
  .mobile{
    display: none;
  }
}
