<div class="row contract-page">
  <form #formCtrl="ngForm" name="contractForm"  (ngSubmit)="goToYousignPage()">
    <div class="row">
      <div class="col-xs-12 title-form">
        <div class="title">
          INFORMATION GENERALE
        </div>
        <div class="form-group">
          <label >Agence d'intérim</label>
          <input type="text" name="interimaire" class="form-control"  [(ngModel)]="contractData.interim"  aria-describedby="interimaire" disabled="true">
          <small class="form-text text-muted"></small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 title-form">
        <div class="title">
          CONTRAT DE MISSION
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>Société utilisatrice&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <input type="text" name="companyName" class="form-control"  [(ngModel)]="companyName" aria-describedby="societe-utilisatrice" required>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Contact</label>
          <input type="text" name="contact" class="form-control"  [(ngModel)]="employerFullName" aria-describedby="contact" >
          <small class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>Lieu de la mission&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <input type="text" name="workAddress" class="form-control"  [(ngModel)]="workAdress" aria-describedby="lieu-de-la-mission" required>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Moyen d'accès</label>
          <input type="text" name="moyenAcces" class="form-control"  [(ngModel)]="contractData.moyenAcces" aria-describedby="moyen-acces" >
          <small class="form-text text-muted"></small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 title-form">
        <div class="title">
          SALARIE INTERIMAIRE
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>Nom</label>
          <span class="asterisk">*</span>
          <input type="text" name="lastname" class="form-control" [(ngModel)]="jobyer.nom" aria-describedby="nom" readonly>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Prénom</label>
          <span class="asterisk">*</span>
          <input type="text" name="firstname" class="form-control"  [(ngModel)]="jobyer.prenom" aria-describedby="prenom" readonly/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label >N° de sécurité sociale</label>
          <span class="asterisk">*</span>
          <input type="text" name="numss" class="form-control" [(ngModel)]="jobyer.numSS" aria-describedby="nss" readonly/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Date de naissance</label>
          <span class="asterisk">*</span>
          <input type="date" name="birthdate" class="form-control" [(ngModel)]="jobyerBirthDate" aria-describedby="date-de-naissance" readonly/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Lieu de naissance</label>
          <span class="asterisk">*</span>
          <input type="text" name="birthplace" class="form-control"  [(ngModel)]="jobyer.lieuNaissance" aria-describedby="lieu" readonly/>
          <small class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 col-2">
        <div class="form-group">
          <label>Nationalité</label>
          <span class="asterisk">*</span>
          <input type="text" name="nationality" class="form-control" [(ngModel)]="jobyer.nationaliteLibelle" aria-describedby="nat" readonly/>
          <small class="form-text text-muted"></small>
        </div>
        <!--<div class="form-group" *ngIf="jobyer.nationaliteLibelle !== '' && isEuropean==1 && isCIN">-->
          <!--<label>CNI ou Passeport</label>-->
          <!--<input type="text" name="cni" class="form-control" [(ngModel)]="cni" readonly/>-->
          <!--<small class="form-text text-muted"></small>-->
        <!--</div>-->
        <!--<div class="form-group" *ngIf="jobyer.nationaliteLibelle !== '' && isEuropean == 0 && isCIN">-->
          <!--<label>CNI ou Passeport</label>-->
          <!--<input id="combined-input" class="form-control" type="text" [(ngModel)]="cni" readonly>-->
          <!--<small class="form-text text-muted"></small>-->
        <!--</div>-->

        <div [hidden]="isEuropean == 1 || !isCIN" class="form-group">
          <label>CNI ou Passeport</label>
          <input type="text" name="cni" class="form-control" [(ngModel)]="cni" readonly/>
          <small class="form-text text-muted"></small>
        </div>

        <!--<div class="form-group" *ngIf="jobyer.nationaliteLibelle !== '' && isEuropean == 1 && !isCIN">-->
          <!--<label>N° de la carte résident</label>-->
          <!--<input id="combined-input" class="form-control" type="text" [(ngModel)]="numStay" readonly>-->
          <!--<small class="form-text text-muted"></small>-->
        <!--</div>-->

        <div [hidden]="isEuropean == 1 || isCIN" class="form-group">
          <label>N° de la carte de ressortissant</label>
          <input class="form-control" type="text" [(ngModel)]="numStay" readonly>
          <small class="form-text text-muted"></small>
        </div>

        <div class="form-group" *ngIf="isEuropean == 1">
          <label>{{!isResident ? 'N° du titre de séjour' : 'N° de la carte résident'}}</label>
          <input class="form-control" type="text" [(ngModel)]="numStay" readonly>
          <small class="form-text text-muted"></small>
        </div>

        <!--<div class="form-group" *ngIf="jobyer.nationaliteLibelle == ''">-->
          <!--<label>Num. Titre de travail</label>-->
          <!--<span class="asterisk">*</span>-->
          <!--<input type="text" name="numTitreTravail" class="form-control" [(ngModel)]="contractData.numeroTitreTravail" aria-describedby="num" readonly/>-->
          <!--<small class="form-text text-muted"></small>-->
        <!--</div>-->

        <div class="form-group">
          <label>Valable DU</label>
          <span class="asterisk">*</span>
          <input type="text" name="debutTitreTravail" class="form-control" [(ngModel)]="contractData.debutTitreTravail" aria-describedby="val" readonly/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label >Valable AU</label>
          <span class="asterisk">*</span>
          <input type="text" name="finTitreTravail" class="form-control" [(ngModel)]="contractData.finTitreTravail" readonly/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Qualification</label>
          <span class="asterisk">*</span>
          <input type="text" name="qualification" class="form-control" [(ngModel)]="contractData.qualification" aria-describedby="qual" readonly/>
          <small class="form-text text-muted"></small>
        </div>

      </div>
      <div class="col-xs-12"
           *ngIf="missingJobyerData()"
      >
        <alert [type]="'info alert-sm'">
          <div [innerHTML]="'Le Jobyer est en train de saisir ses informations'"></div>
        </alert>
        <span class="btn btn-primary" (click)="notifyJobyerMissingData()">Relancer le jobyer</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 title-form">
        <div class="title">
          MISSION
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label >Début de mission&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <datetime id="birthdate" [(ngModel)]="contractData.missionStartDate" name="missionStartDate" [timepicker]="false"
                            [datepicker]="{language:'fr-FR',autoclose: true,format: 'dd/mm/yyyy',icon: 'fa fa-calendar'}"
                            (ngModelChange)="watchMissionStartDate($event)"></datetime>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>P. essai (J) </label>
          <input type="text" name="trialPeriod" class="form-control" [(ngModel)]="contractData.trialPeriod" aria-describedby="essai" readonly/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Début terme </label>
          <datetime id="birthdate" [(ngModel)]="contractData.termStartDate" name="termStartDate" [timepicker]="false"
                            [datepicker]="{language:'fr-FR',autoclose: true,format: 'dd/mm/yyyy',icon: 'fa fa-calendar'}"></datetime>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Recours &nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <select
                  data-style="btn-secondary" #recoursSelect
                  class="recoursSelectPicker form-control contract-form-select" id="recours-select" [(ngModel)]="contractData.motif"
                  name="recours_slct" (change)="recoursSelected($event)" required>
            <option *ngFor="let r of recours" value="{{r.libelle}}">{{r.libelle}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 col-2">
        <div class="form-group">
          <label >Fin de mission&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <datetime id="birthdate" [(ngModel)]="contractData.missionEndDate" name="missionEndDate" [timepicker]="false"
                            [datepicker]="{language:'fr-FR',autoclose: true,format: 'dd/mm/yyyy',icon: 'fa fa-calendar'}"
                            (ngModelChange)="watchMissionEndDate($event)"></datetime>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Période non travaillée</label>
          <input type="text" name="periode" class="form-control" [(ngModel)]="contractData.periodesNonTravaillees" aria-describedby="periode" />
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label >Fin terme</label>
          <datetime id="birthdate" [(ngModel)]="contractData.termEndDate" name="termEndDate" [timepicker]="false"
                    [datepicker]="{language:'fr-FR',autoclose: true,format: 'dd/mm/yyyy',icon: 'fa fa-calendar'}"></datetime>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Motif &nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>

            <select
              data-style="btn-secondary"
              class="justificationSelectPicker form-control contract-form-select" id="justifications-select" [(ngModel)]="contractData.justification"
              name="justification_slct" required>
              <option *ngFor="let r of justificatifs" value="{{r.libelle}}">{{r.libelle}}</option>
            </select>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 col-2">
        <div class="form-group">
          <label >Début de souplesse</label>
          <!--<input type="date" name="debutSouplesse" class="form-control" [(ngModel)]="contractData.debutSouplesse" aria-describedby="debut" />-->
          <datetime id="birthdate" [(ngModel)]="contractData.debutSouplesse" name="debutSouplesse" [timepicker]="false"
                            [datepicker]="{language:'fr-FR',autoclose: true,format: 'dd/mm/yyyy',icon: 'fa fa-calendar'}"></datetime>
        </div>
        <div class="checkbox contract-form-checkbox">
          <label >
            <input type="checkbox" [(ngModel)]="embaucheAutorise" />
            A l'issue de la mission, l'embauche par l'entreprise utilisatrice n'est pas interdite
            &nbsp;<span  style="color: #ff0000;font-size: small;" >*</span>
          </label>
        </div>

      </div>
      <div class="col-md-6 col-xs-12 col-2">
        <div class="form-group">
          <label >Fin de souplesse</label>
          <!--<input type="date" name="finSouplesse" class="form-control" [(ngModel)]="contractData.finSouplesse" aria-describedby="fin" />-->
          <datetime id="birthdate" [(ngModel)]="contractData.finSouplesse" name="finSouplesse" [timepicker]="false"
                            [datepicker]="{language:'fr-FR',autoclose: true,format: 'dd/mm/yyyy',icon: 'fa fa-calendar'}"></datetime>
        </div>
        <div class="checkbox contract-form-checkbox">
          <label >
            <input type="checkbox" [(ngModel)]="rapatriement" />
            Le rapatriement est à la charge de l'entreprise de travail temporaire (si la mission s'effectue hors du territoire métropolitain)
            &nbsp;<span  style="color: #ff0000;font-size: small;" >*</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 title-form">
        <div class="title">
          POSTE DE TRAVAIL ET ORGANISATION DU TEMPS DE TRAVAIL
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>Qualification&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <input type="text" name="qualification" class="form-control"
                 [(ngModel)]="contractData.qualification" aria-describedby="qual" required/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Caractéristiques du poste&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <input type="text" name="characteristics" class="form-control"
                 [(ngModel)]="contractData.characteristics" aria-describedby="cara" required/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Temps de travail (H)&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <input type="text" name="workTimeHours" class="form-control"
                 [(ngModel)]="contractData.workTimeHours" aria-describedby="temps" required/>
          <small class="form-text text-muted"></small>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <label>Heure habituelle du début de travail&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
            <datetime
              id="usualSHour"
              [datepicker]="false"
              [timepicker]="{ showMeridian: false, minuteStep: 15 }"
              [(ngModel)]="contractData.workStartHour"
              required></datetime>
            <small class="form-text text-muted"></small>
          </div>
        </div>

        <div class="col-xs-3 col-2">
          <div class="form-group">
            <label>Heure habituelle de fin du travail&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
            <datetime
              id="usualEHour"
              [datepicker]="false"
              [timepicker]="{ showMeridian: false, minuteStep: 15 }"
              [(ngModel)]="contractData.workEndHour"
              required></datetime>
            <small class="form-text text-muted"></small>
          </div>
        </div>


      </div>
      <div class="col-md-6 col-xs-12 col-2">
        <div class="form-group">
          <label>Risques</label>
          <input type="text" name="postRisks" class="form-control"
                 [(ngModel)]="contractData.postRisks" aria-describedby="risques" />
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
           <label>Surveillance médicale renforcée</label>
          <div class="abc-radio">
            <input type="radio" name="radio1" value="OUI" id="medicalRadio1" (click)="watchMedicalSupervision($event)">
            <label for="medicalRadio1" class="labelRadio">
              Oui &nbsp;&nbsp;
            </label>
            <input type="radio" name="radio1" value="NON" id="medicalRadio2" (click)="watchMedicalSupervision($event)">
            <label for="medicalRadio2" class="labelRadio">
              Non
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Equipements de protection individuelle</label>
          <input type="text" name="epi" class="form-control" [(ngModel)]="contractData.equipements" aria-describedby="epi" />
          <small class="form-text text-muted"></small>
        </div>
        <div class="checkbox contract-form-checkbox">
          <label >
            <input type="checkbox" [(ngModel)]="contractData.epi" />
            Equipements fournis par l'entreprise de travail temporaire
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 title-form">
        <div class="title">
          SALAIRE DE REFERENCE-DUREE DU TRAVAIL
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>Taux horaire brut&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <input type="text" name="sal" class="form-control" [(ngModel)]="contractData.baseSalary" aria-describedby="sal" required/>
          <small class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 col-2">
        <div class="form-group">
          <label >Durée collective moyenne</label>
          <input type="text" name="duree" class="form-control" [(ngModel)]="contractData.MonthlyAverageDuration" aria-describedby="duree" />
          <small class="form-text text-muted"></small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 title-form">
        <div class="title">
          REMUNERATION
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label >Heures normales</label>
          <input type="text" name="norm" class="form-control" [(ngModel)]="contractData.baseSalary" aria-describedby="norm" readonly/>
        </div>
        <div class="form-group">
          <label>Condition de rémunération &nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <select
            data-style="btn-secondary" #recoursSelect
            class="recoursSelectPicker form-control contract-form-select" id="conditions-remuneration-select" [(ngModel)]="contractData.periodicite"
            name="conditions_slct"  required>
            <option *ngFor="let r of periodicites" value="{{r.id}}">{{r.libelle}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 col-2">
        <div class="form-group">
          <label >Ind. fin de mission</label>
          <input type="text" name="ind" class="form-control" [(ngModel)]="contractData.indemniteFinMission" aria-describedby="ind" disabled />
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Ind. congés payés</label>
          <input type="text" name="indemnites" class="form-control" [(ngModel)]="contractData.indemniteCongesPayes" disabled />
          <small class="form-text text-muted"></small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 title-form">
        <div class="title">
          MEDECINE DU TRAVAIL
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label>Centre de médecine ETT</label>
          <input type="text" name="centreMedecine" class="form-control" [(ngModel)]="contractData.centreMedecineETT" aria-describedby="centre" readonly/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label >Adresse Centre de médecine ETT</label>
          <input type="text" name="address1" class="form-control" [(ngModel)]="contractData.adresseCentreMedecineETT" aria-describedby="adresse" readonly/>
          <small class="form-text text-muted"></small>
        </div>

      </div>
      <div class="col-md-6 col-xs-12 col-2">
        <div class="form-group">
          <label>Centre de médecine Entreprise</label>
          <input type="text" name="centreMedecineEntreprise" class="form-control" [(ngModel)]="contractData.centreMedecineEntreprise" aria-describedby="centre2" />
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label>Adresse Centre de médecine Entreprise</label>
          <input type="text" name="address2" class="form-control" [(ngModel)]="contractData.adresseCentreMedecineEntreprise" aria-describedby="adresse2" />
          <small class="form-text text-muted"></small>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 title-form">
        <div class="title">
          INFORMATIONS COMPLEMENTAIRES
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label>Primes</label>
          <input type="text" name="prime" class="form-control" [(ngModel)]="contractData.primes" aria-describedby="primes" />
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label >Siège social&nbsp;<span  style="color: #ff0000;font-size: small;" >*</span></label>
          <input type="text" name="siege" class="form-control" [(ngModel)]="contractData.headOffice" aria-describedby="siege" required/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label >Contenu de la mission</label>
          <input type="text" name="contenu" class="form-control" [(ngModel)]="contractData.missionContent" aria-describedby="contenu"/>
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label >Catégorie</label>
          <select
            data-style="btn-secondary" class="recoursSelectPicker form-control contract-form-select" id="categorie-select" [(ngModel)]="contractData.category"
            name="categorie_slct"  required>
            <option value="Employé" >Employé</option>
            <option value="Ouvrier" >Ouvrier</option>
            <option value="Technicien" >Technicien</option>
            <option value="AM" >AM</option>
            <option value="Cadre" >Cadre</option>
          </select>
          <small class="form-text text-muted"></small>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-2">
        <div class="form-group">
          <label >Filière</label>
          <input type="text" name="filiere" class="form-control" [(ngModel)]="contractData.sector" aria-describedby="filiere" />
          <small class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label >Titre de transport</label>
          <div class="abc-radio">
              <input type="radio" name="radio1" id="radio1" value="OUI" (click)="watchTransportTitle($event)" [checked]="contractData.titreTransport == 'OUI'">
              <label for="radio1" class="labelRadio">
                Oui &nbsp;&nbsp;
              </label>
              <input type="radio" name="radio1" id="radio2" value="NON" (click)="watchTransportTitle($event)" [checked]="contractData.titreTransport == 'NON'">
              <label for="radio2" class="labelRadio">
                Non
              </label>
          </div>
        </div>
        <div class="form-group" [hidden]="contractData.titreTransport == 'NON'">
          <label >Zones de transport</label>
          <input type="text" class="form-control" [(ngModel)]="contractData.zonesTitre" aria-describedby="zones" />
          <small class="form-text text-muted"></small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-form">
        <button
          class="btn btn-primary"
          class="btn btn-primary">Soumettre le contrat</button>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <alert [type]="'danger alert-sm'" *ngIf="!formCtrl.form.valid || !rapatriement || !embaucheAutorise">
        <div [innerHTML]="'Vous ne pouvez actuellement pas soumettre ce contrat car certaines de vos informations sont manquantes ou incorrectes'"></div>
      </alert>
      <alert [type]="'danger alert-sm'" *ngIf="missingJobyerData()">
        <div [innerHTML]="'Vous ne pouvez actuellement pas soumettre ce contrat car des informations liées au jobyer sont manquantes'"></div>
      </alert>
      <alert [type]="'danger alert-sm'" [hidden]="isMissionDateValid">
        <div [innerHTML]="'Vous ne pouvez actuellement pas soumettre ce contrat car les dates de début et fin de mission ne sont pas cohérentes'"></div>
      </alert>
    </div>
  </form>
</div>
