@import "../../../node_modules/select2/select2";
@import "../../../node_modules/select2-bootstrap-css/select2-bootstrap";
@import "../../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/ng2-datetime/src/vendor/bootstrap-datepicker/bootstrap-datepicker3.min";
@import "../../../node_modules/ng2-datetime/src/vendor/bootstrap-timepicker/bootstrap-timepicker.min";

.input-group .date {
  width: 100% !important;
}

.color-font {
  color: #ff0000;
  font-size: small;
}

.contract-page {
  width: 70%;
  display: table;
  margin: 0 auto;
}

.title {
  margin: 2em;
  text-align: center;
  font-size: large;
}

.title-form {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 250px) and (max-width: 530px) {
  .computer {
    display: none;
  }
}
@media screen and (min-width: 531px) {
  .mobile {
    display: none;
  }
}

.contract-form-select {
  height: 3.25rem;
}

.contract-form-checkbox {
  padding-top: 30px;
  font-size: 1.10rem;
}

.asterisk {
  color: red;
}

.contract-control-row{
  margin-top:5px;
}
