<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/app/profile']">Mon compte</a></li>
</ol>
<h1 class="page-title">{{currentUser.estRecruteur ? 'Recruteur' : (currentUser.estEmployeur ? 'Employeur' : 'Jobyer')}}
  - <span class="fw-semi-bold">Profil</span>
</h1>
<div class="row profile">
  <div class="col-lg-6 col-xs-12">
    <section class="widget">
      <div class="widget-body">
        <div class="widget-top-overflow text-white">
          <div class="height-250 overflow-hidden">
            <!-- <img class="img-fluid" src="assets/images/pictures/19.jpg"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12 text-xs-center">
            <div class="post-user post-user-profile">
              <span class="thumb-xlg">
                <img [ngClass]="setImgClasses()" src={{sharedService.getProfilImageUrl()}} alt="..." data-toggle="modal"
                     data-target="#modal-picture" style="cursor: pointer;">
              </span>
              <div modal-picture></div>
              <h5 class="fw-normal">{{isNewUser ? "Cliquez sur l'avatar ci-dessus pour charger votre photo de profil" :
                currentUserFullname }}</h5>
              <p>{{isEmployer? (isRecruiter ? "Recruteur":"Employeur"):"Jobyer"}}</p>

              <ul class="contacts">
                <li><i class="fa fa-phone fa-fw mr-xs"></i><a href="#"> {{phoneNumber}}</a></li>
                <li><i class="fa fa-envelope fa-fw mr-xs"></i><a href="#"> {{email}}</a></li>
              </ul>
              <button [disabled]="showForm" class="btn btn-primary btn-sm mt" (click)="initForm()">
                Modifier les informations
              </button>
              <br>
              <button [disabled]="showForm" class="btn btn-primary btn-sm mt" data-toggle="modal"
                      data-target="#modal-bank-account">
                Modifier les coordonnées bancaires
              </button>
            </div>
          </div>
          <div modal-bank-account></div>
        </div>
      </div>
    </section>
  </div>
  <div [hidden]="!showForm" class="col-lg-6 col-xs-12">
    <section class="widget">
      <div class="widget-body">
        <form #myForm="ngForm" class="profile-form form-horizontal" role="form">
          <fieldset>
            <legend><strong>Saisie des Informations</strong></legend>
            <alert *ngIf="isNewUser" [type]="'info'+ ' alert-sm'" dismissible="true">
              <div>
                <span class="fw-semi-bold">Bienvenue sur Vit-On-Job.</span><br>
                Veuillez renseigner les informations de votre profil pour pouvoir créer une offre
              </div>
            </alert>
            <div class="form-group row">
              <label class="col-md-4 col-xs-12 form-control-label text-md-right" for="title">
                Civilité
              </label>
              <div class="col-md-7 col-xs-12">
                <select data-style="btn-secondary"
                        class="titleSelectPicker form-control"
                        tabindex="-1" id="title" [(ngModel)]="title">
                  <option value="Mme">Mme</option>
                  <option value="Mlle">Mlle</option>
                  <option value="M.">M.</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="lastname" class="col-md-4 col-xs-12 form-control-label text-md-right">
                Nom
              </label>
              <div class="col-md-7 col-xs-12">
                <input type="text" id="lastname" class="form-control" placeholder="Nom" [(ngModel)]="lastname"
                       name="lastname" (keyup)="watchLastname($event)">
              </div>
              <div class="col-md-offset-4 col-md-7 col-xs-12">
                <span class="hint label label-danger">{{lastnameHint}}</span>
              </div>
            </div>

            <div class="form-group row">

              <label for="firstname" class="col-md-4 col-xs-12 form-control-label text-md-right">
                Prénom
              </label>
              <div class="col-md-7 col-xs-12">
                <input type="text" id="firstname" class="form-control" [(ngModel)]="firstname" name="firstname"
                       placeholder="Prénom" (keyup)="watchFirstname($event)">
              </div>

              <div class="col-md-offset-4 col-md-7 col-xs-12">
                <span class="hint label label-danger">{{firstnameHint}}</span>
              </div>
            </div>

            <div *ngIf="!isRecruiter">

              <div *ngIf="isEmployer" class="form-group row">
                <label for="companyname" class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Raison Sociale
                </label>
                <div class="col-md-7 col-xs-12">
                  <input type="text" id="companyname" class="form-control" [(ngModel)]="companyname" name="companyname"
                         placeholder="Raison Sociale" (keyup)="watchCompanyname($event)"
                         (change)="IsCompanyExist($event, 'companyname')">
                </div>
                <div class="col-md-offset-4 col-md-7 col-xs-12">
                  <span class="hint label label-danger">{{companynameHint}}</span>
                </div>
              </div>

              <div *ngIf="isEmployer" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right" for="siret">
                  SIRET
                  <!-- <span class="help-block">999 999 999 99999</span> -->
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="siret" type="text" class="form-control" [textMask]="{mask: maskSiret}" [(ngModel)]="siret"
                         name="siret" placeholder="999 999 999 99999" (keyup)="watchSiret($event)"
                         (change)="IsCompanyExist($event, 'siret')">
                </div>
                <div class="col-md-offset-4 col-md-7 col-xs-12">
                  <span class="hint label label-danger">{{siretHint}}</span>
                </div>
              </div>

              <div *ngIf="isEmployer" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  NAF
                  <!-- <span class="help-block">9999A</span> -->
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="ape" type="text" class="form-control" [textMask]="{mask: maskApe}"
                         [(ngModel)]="ape" name="ape" placeholder="9999A" (keyup)="watchApe($event)">
                </div>
                <div class="col-md-offset-4 col-md-7 col-xs-12">
                  <span class="hint label label-danger">{{apeHint}}</span>
                </div>

              </div>

              <div *ngIf="isEmployer" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right" >
                  Convention collective
                </label>
                <div class="col-md-7 col-xs-12">
                  <select
                    placeholder="Convention collective" data-style="btn-secondary"
                    class="nationalitySelectPicker form-control" id="convention-select"
                    [(ngModel)]="conventionId"
                    name="convention_slct" >
                    <option *ngFor="let c of conventions" value="{{c.id}}">{{c.libelle}} - {{c.libelle}}</option>
                  </select>
                </div>
              </div>

              <div *ngIf="!isEmployer" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right" for="birthDate">
                  Date de naissance
                </label>
                <div class="col-md-7 col-xs-12">
                  <datetime id="birthdate" [ngModel]="birthdate" name="birthdate" [timepicker]="false"
                            [datepicker]="{autoclose: true,format: 'dd/mm/yyyy',icon: 'fa fa-calendar'}"
                            (ngModelChange)="watchBirthdate($event)"></datetime>
                </div>
                <div class="col-md-offset-4 col-md-7 col-xs-12">
                  <span class="hint label label-danger">{{birthdateHint}}</span>
                </div>
              </div>

              <div *ngIf="!isEmployer" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">Né en France (DOM, TOM, POM)</label>
                <div class="abc-radio">
                  <input type="radio" name="radio1" id="radio1" value="1" (click)="watchIsFrench($event)"
                         [checked]="isFrench">
                  <label for="radio1" class="labelRadio">
                    Oui
                  </label>
                  <input type="radio" name="radio1" id="radio2" value="0" (click)="watchIsFrench($event)"
                         [checked]="!isFrench">
                  <label for="radio2" class="labelRadio">
                    Non
                  </label>
                </div>
              </div>

              <div *ngIf="!isEmployer && !isFrench" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Pays de naissance
                </label>
                <div class="col-md-7 col-xs-12">
                  <select class="select2 form-control" [(ngModel)]="index">
                    <option *ngFor="let p of pays" [value]="p.indicatif_telephonique"> {{p.nom}}
                    </option>
                  </select>
                </div>
              </div>

              <div *ngIf="!isEmployer && !isFrench" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Code postal du lieu de naissance
                </label>
                <div class="col-md-7 col-xs-12">
                  <div class="input-group">
                    <span class="input-group-addon">99</span>
                    <input id="combined-input" class="form-control" type="text" [(ngModel)]="index" disabled>
                  </div>
                </div>
              </div>

              <div [hidden]="isEmployer || !isFrench" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  <!--Code postal du lieu de naissance-->
                  Département de naissance
                </label>
                <div class="col-md-7 col-xs-12">
                  <!--<input type="hidden" class="select2 cp-select form-control" name="birthcp"
                         placeholder="Code postal du lieu de naissance" [(ngModel)]="birthcp" name="birthcp"/>-->
                  <input type="hidden" class="select2 dep-select form-control" placeholder="Département de naissance" [(ngModel)]="birthdep" name="birthdep"/>
                </div>
              </div>

              <div [hidden]="isEmployer || !isFrench" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Lieu de naissance
                  <span class="help-block">ex: Palaiseau (91)</span>
                </label>
                <div class="col-md-7 col-xs-12">
                  <input type="hidden" class="select2 commune-select form-control" name="birthplace"
                         placeholder="Lieu de naissance" [(ngModel)]="birthplace" name="birthplace"/>
                </div>
              </div>

              <div *ngIf="!isEmployer" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  N° de sécurité sociale
                </label>
                <div class="col-md-7 col-xs-12">
                  <input type="text" id="numSS" class="form-control" [(ngModel)]="numSS" name="numSS"
                         placeholder="N° de sécurité sociale" (keyup)="watchNumSS($event)" maxlength="15">
                </div>
                <div class="col-md-offset-4 col-md-7 col-xs-12">
                  <span class="hint label label-danger">{{numSSHint}}</span>
                </div>
              </div>

              <div *ngIf="!isEmployer && !isFrench" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Nationalité
                </label>
                <div class="col-md-7 col-xs-12">
                  <select
                          placeholder="Nationalité" data-style="btn-secondary"
                          class="nationalitySelectPicker form-control" id="nationality-select"
                          [(ngModel)]="nationalityId"
                          name="nationality_slct" (change)="selectNationality($event)">
                    <option *ngFor="let n of nationalities" value="{{n.pk_user_nationalite}}">{{n.libelle}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row" *ngIf="!isEmployer && !isFrench">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Identifiant de nationalité
                </label>
                <div class="col-md-7 col-xs-12">
                  <select class="select2 form-control" [(ngModel)]="isEuropean" disabled>
                    <option value="0"> EU, EEE</option>
                    <option value="1"> Autre</option>
                  </select>
                </div>
              </div>

              <div *ngIf="!isEmployer && !isFrench && isEuropean == 1"  class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">Type de document</label>
                <div class="abc-radio">
                  <input type="radio" name="radio2" id="stayRadio" value="0" (click)="watchTypeDocStranger($event)"
                         [checked]="!isResident">
                  <label for="stayRadio" class="labelRadio">
                    Carte de séjour temporaire &nbsp;&nbsp;&nbsp;
                  </label>
                  <input type="radio" name="radio2" id="residentRadio" value="1" (click)="watchTypeDocStranger($event)"
                         [checked]="isResident">
                  <label for="residentRadio" class="labelRadio">
                    Carte de résident
                  </label>
                </div>
              </div>

              <div *ngIf="!isEmployer && !isFrench && isEuropean == 1" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{!isResident ? 'N° du titre de séjour' : 'N° de la carte résident'}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input type="text" class="form-control" [(ngModel)]="numStay">
                </div>
              </div>

              <div *ngIf="!isEmployer && !isFrench && isEuropean == 1" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{!isResident ? 'Titre de séjour délivré le' : 'Carte résident délivrée le'}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="dateStay" type="date" class="form-control" [(ngModel)]="dateStay"/>
                </div>
              </div>

              <div *ngIf="!isEmployer && !isFrench && isEuropean == 1" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{!isResident ? 'Titre de séjour valable du' : 'Carte de résident valable du'}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="dateFromStay" type="date" class="form-control" [(ngModel)]="dateFromStay"/>
                </div>
              </div>

              <div *ngIf="!isEmployer && !isFrench && isEuropean == 1" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{!isResident ? 'Titre de séjour valable au' : 'Carte de résident valable au'}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="dateToStay" type="date" class="form-control" [(ngModel)]="dateToStay"/>
                </div>
              </div>

              <div [hidden]="isEmployer || isEuropean == 0 || isFrench" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Délivré par
                </label>
                <div class="col-md-7 col-xs-12">
                  <input type="hidden" class="select2 whoDeliver-select form-control" name="whoDeliverStay"
                         [(ngModel)]="whoDeliverStay" name="whoDeliverStay"/>
                </div>
              </div>

              <div [hidden]="isEmployer || isEuropean == 1" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  CNI ou Passeport
                </label>
                <div class="col-md-7 col-xs-12">
                  <input type="text" id="cni" class="form-control" [(ngModel)]="cni" name="cni" placeholder="N° du titre"
                         (keyup)="watchOfficialDocument($event)" maxlength="13">
                </div>
                <div class="col-md-offset-4 col-md-7 col-xs-12">
                  <span class="hint label label-danger">{{cniHint}}</span>
                </div>
              </div>

              <div *ngIf="isEmployer" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Organisme de médecine de travail
                </label>
                <div class="col-md-7 col-xs-12">
                  <input type="hidden" class="select2 medecine-select form-control" name="medecineTravail"
                         placeholder="Organisme de médecine de travail" [(ngModel)]="medecineTravail"
                         name="medecineTravail"/>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Joindre une photo {{scanTitle}}
                </label>
                <div class="col-md-8 col-xs-12">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                         style="width: 200px; height: 150px;">
                    </div>
                    <div>
                      <span class="btn btn-default btn-file"><span class="fileinput-new">Choisir</span><span
                              class="fileinput-exists">Modifier</span><input type="file" name="..."></span>
                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Enlever</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{personalAddressLabel}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="autocompletePersonal" type="text" class="form-control" placeholder="Rechercher une adresse"
                         [(ngModel)]="personalAddress" (input)="autocompletePersonalAddress()"/>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{jobAddressLabel}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="autocompleteJob" type="text" class="form-control" placeholder="Rechercher une adresse"
                         [(ngModel)]="jobAddress" (input)="autocompleteJobAddress()"/>
                </div>
              </div>
            </div>


          </fieldset>
          <div *ngIf="isEmployer" class="form-group row">
            <div class="col-md-12 col-xs-12 col-lg-12">
              <alert *ngIf="!!companyAlert" [type]="'danger'+ ' alert-sm'" dismissible="false">
                <div>
                  <span class="fw-semi-bold">Attention:</span>
                  {{companyAlert}}
                  <div>
                    <button class="btn btn-danger btn-xs pull-xs-right mr-xs" (click)="focus('companyname')">changer la
                      valeur
                    </button>
                    <button *ngIf="showCurrentCompanyBtn" class="btn btn-danger btn-xs pull-xs-right mr-xs"
                            (click)="setDefaultValue('companyname')">valeur par défault
                    </button>
                  </div>
                </div>
              </alert>
              <alert *ngIf="!!siretAlert" [type]="'danger'+ ' alert-sm'" dismissible="false">
                <div>

                  <span class="fw-semi-bold">Attention:</span>
                  {{siretAlert}}
                  <button class="btn btn-danger btn-xs pull-xs-right mr-xs" (click)="focus('siret')">changer la valeur
                  </button>
                  <button *ngIf="showCurrentSiretBtn" class="btn btn-danger btn-xs pull-xs-right mr-xs"
                          (click)="setDefaultValue('siret')">valeur par défault
                  </button>
                </div>
              </alert>
            </div>
          </div>
          <div class="clearfix">
            <div class="btn-toolbar pull-xs-right m-t-1">
              <div class="widget-body btn loaderPosition" [hidden]="!validation">
                <div class="loader animated fadeIn handle">
  										<span class="spinner">
  											<i class="fa fa-spinner fa-spin"></i>
  										</span>
                </div>
              </div>
              <button class="btn btn-primary" [disabled]="!isValidForm() || validation" (click)="updateCivility()">
                Valider
              </button>
              <button class="btn btn-default" (click)="closeForm()">Annuler</button>
            </div>
          </div>


        </form>
      </div>
    </section>
  </div>
</div>
