<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/app/profile']">Mon compte</a></li>
</ol>
<div class="row">
  <div class="col-xs-12 pull-right" style="margin-bottom: 1em;">
    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-secondary btn-sm" name="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
  </div>
</div>
<h1 class="page-title">{{currentUser.estRecruteur ? 'Recruteur' : (currentUser.estEmployeur ? 'Employeur' : 'Jobyer')}}
  - <span class="fw-semi-bold">Profil</span>
</h1>

<div class="row voj-profile">
  <div class="col-xl-offset-2 col-xl-8 col-lg-offset-1 col-lg-10 col-xs-12">
    <section class="widget">
      <div class="widget-body">
        <div class="widget-top-overflow text-white">
          <div class="height-250 overflow-hidden">
            <img class="img-fluid" src="assets/images/pictures/19.jpg">
          </div>
          <div class="btn-toolbar">
            <button
              [disabled]="showForm" class="btn btn-outline btn-sm pull-right" data-toggle="modal"
              data-target="#modal-bank-account"
            >
              <i class="fa fa-credit-card mr-xs"></i>
              Modifier les coordonnées bancaires
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-5 col-xs-12 text-xs-center">
            <div class="post-user post-user-profile">
              <span class="thumb-xlg">
                <img
                  class="img-circle"
                  [ngClass]="setImgClasses()"
                  src={{sharedService.getProfilImageUrl()}}
                  alt="..."
                  data-toggle="modal"
                  data-target="#modal-picture"
                  style="cursor: pointer;"
                />
                <div modal-picture></div>
              </span>
              <h5 class="fw-normal">
                {{ currentUser.titre }}
                {{ currentUser.prenom }}
                <span class="fw-semi-bold">{{ currentUser.nom }}</span>
              </h5>
              <p *ngIf="isEmployer || isRecruiter">
                {{ isRecruiter ? "Recruteur" : "Employeur" }}
                {{ currentUser.employer.entreprises[0].nom }}
              </p>
              <p *ngIf="!isEmployer && !isRecruiter">Jobyer</p>
              <button [disabled]="showForm" class="btn btn-primary btn-sm mt" (click)="initForm()">
                <i class="fa fa-pencil-square-o ml-xs"></i>&nbsp;
                Modifier les informations
              </button>

              <ul class="contacts">
                <li><i class="fa fa-phone fa-fw mr-xs"></i><a href="#"> {{ phoneNumber }}</a></li>
                <li><i class="fa fa-envelope fa-fw mr-xs"></i><a href="#"> {{ email }}</a></li>
              </ul>
            </div>
          </div>
          <div *ngIf="isEmployer || isRecruiter" class="col-lg-8 col-md-7 col-xs-12">
            <div class="stats-row stats-row-profile mt text-xs-right">
              <div class="stat-item">
                <p class="value text-xs-right">{{ offerStats.published_offers }}</p>
                <h6 class="name">Offres publiées</h6>
              </div>
              <div class="stat-item">
                <p class="value text-xs-right">{{ missionStats.pending_recruitments }}</p>
                <h6 class="name">Recrutement en cours</h6>
              </div>
              <div class="stat-item">
                <p class="value text-xs-right">{{ missionStats.missions_in_progress }}</p>
                <h6 class="name">Contrats en cours</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div modal-bank-account></div>

  <div [hidden]="!showForm" class="col-xl-offset-2 col-xl-8 col-lg-offset-1 col-lg-10 col-xs-12">
    <section class="widget">
      <div class="widget-body">
        <form #myForm="ngForm" class="profile-form form-horizontal" role="form">
          <fieldset>
            <legend><strong>Saisie des Informations</strong></legend>
            <alert *ngIf="isNewUser" [type]="'info'+ ' alert-sm'" dismissible="true">
              <div>
                <span class="fw-semi-bold">Bienvenue sur Vit-On-Job.</span><br>
                Veuillez renseigner les informations de votre profil pour pouvoir créer une offre
              </div>
            </alert>


            <civility-names #civNames [currentUser]="currentUser" (onSendData)="onGetDataFromCivilityNames($event)" (onChange)="onNamesDataChange($event)"></civility-names>

            <div *ngIf="!isRecruiter">
              <civility-employer #civEmployer *ngIf="isEmployer" [currentUser]="currentUser" (onSendData)="onGetDataFromCivilityEmployer($event)" (onChange)="onEmployerDataChange($event)"></civility-employer>
              <civility-jobyer #civJobyer *ngIf="!isEmployer" [currentUser]="currentUser" (onSendData)="onGetDataFromCivilityJobyer($event)" (onChange)="onJobyerDataChange($event)" (onNationalityChange)="onJobyerNationalityChange($event)"></civility-jobyer>




              <!--div *ngIf="!isEmployer && !isFrench && isEuropean == 1" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{!isResident ? 'Titre de séjour délivré le' : 'Carte résident délivrée le'}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="dateStay" type="date" class="form-control" [(ngModel)]="dateStay"/>
                </div>
              </div>

              <div *ngIf="!isEmployer && !isFrench && isEuropean == 1" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{!isResident ? 'Titre de séjour valable du' : 'Carte de résident valable du'}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="dateFromStay" type="date" class="form-control" [(ngModel)]="dateFromStay"/>
                </div>
              </div>

              <div *ngIf="!isEmployer && !isFrench && isEuropean == 1" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{!isResident ? 'Titre de séjour valable au' : 'Carte de résident valable au'}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="dateToStay" type="date" class="form-control" [(ngModel)]="dateToStay"/>
                </div>
              </div-->



              <div *ngIf="isEmployer" class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Organisme de médecine de travail
                </label>
                <div class="col-md-7 col-xs-12">
                  <input type="hidden" class="select2 medecine-select form-control" name="medecineTravail"
                         placeholder="Organisme de médecine de travail" [(ngModel)]="medecineTravail"
                         name="medecineTravail"/>
                </div>
              </div>
              <div class="form-group row">
                <div *ngFor="let i of allImages; let idx = index" class="col-md-2 col-xs-12">
                    <img style="max-height: 100px;margin:1px"  src="{{i.data}}" alt=""/>
                    <button class="btn danger" style="width: 100%;" (click)="deleteImage(idx)">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>

              </div>

              <div class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  Joindre une photo {{scanTitle}}
                </label>
                <div class="col-md-8 col-xs-12">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                         style="width: 200px; height: 150px;">
                    </div>
                    <div>
                      <span class="btn btn-default btn-file"><span class="fileinput-new">Choisir</span><span
                              class="fileinput-exists">Modifier</span><input type="file" name="..." accept="image/*"></span>
                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Enlever</a>
                      <button (click)="appendImg()" class="btn btn-default fileinput-exists" >Ajouter</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{personalAddressLabel}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="autocompletePersonal" type="text" class="form-control" placeholder="Rechercher une adresse" (keyup)="watchPersonalAddress($event)"
                         [(ngModel)]="personalAddress" (input)="autocompletePersonalAddress()"/>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-xs-12 form-control-label text-md-right">
                  {{jobAddressLabel}}
                </label>
                <div class="col-md-7 col-xs-12">
                  <input id="autocompleteJob" type="text" class="form-control" placeholder="Rechercher une adresse" (keyup)="watchJobAddress($event)"
                         [(ngModel)]="jobAddress" (input)="autocompleteJobAddress()"/>
                </div>
              </div>
            </div>


          </fieldset>
          <div *ngIf="isEmployer" class="form-group row">
            <div class="col-md-12 col-xs-12 col-lg-12">
              <alert *ngIf="!!companyAlert" [type]="'danger'+ ' alert-sm'" dismissible="false">
                <div>
                  <span class="fw-semi-bold">Attention:</span>
                  {{companyAlert}}
                  <div>
                    <button class="btn btn-danger btn-xs pull-xs-right mr-xs" (click)="focus('companyname')">changer la
                      valeur
                    </button>
                    <button *ngIf="showCurrentCompanyBtn" class="btn btn-danger btn-xs pull-xs-right mr-xs"
                            (click)="setDefaultValue('companyname')">valeur par défault
                    </button>
                  </div>
                </div>
              </alert>
              <alert *ngIf="!!siretAlert" [type]="'danger'+ ' alert-sm'" dismissible="false">
                <div>

                  <span class="fw-semi-bold">Attention:</span>
                  {{siretAlert}}
                  <button class="btn btn-danger btn-xs pull-xs-right mr-xs" (click)="focus('siret')">changer la valeur
                  </button>
                  <button *ngIf="showCurrentSiretBtn" class="btn btn-danger btn-xs pull-xs-right mr-xs"
                          (click)="setDefaultValue('siret')">valeur par défault
                  </button>
                </div>
              </alert>
            </div>
          </div>
          <div class="clearfix">
            <div class="btn-toolbar pull-xs-right m-t-1">
              <div class="widget-body btn loaderPosition" [hidden]="!validation">
                <div class="loader animated fadeIn handle">
  										<span class="spinner">
  											<i class="fa fa-spinner fa-spin"></i>
  										</span>
                </div>
              </div>
              <button class="btn btn-primary" [disabled]="!isValidForm() || validation" (click)="updateCivility()">
                Valider
              </button>
              <button class="btn btn-default" (click)="closeForm()">Annuler</button>
            </div>
          </div>


        </form>
      </div>
    </section>
  </div>
</div>
