html {
  font-family: 'Maven Pro', sans-serif;
}
#logo {
  width: 7em;
}
#div-logo {

}

.mdl-layout__header .mdl-layout__drawer-button {
  color: #757575;
}
.search-div {
  position: absolute;
  margin-left: 4em;
  top: 20em;
}
#in-search{
  width: 70em;

}
#in-select{
  width: 10em;
}


* {
  box-sizing: border-box;
}

form {
  margin: 30px auto 110px;
}

.search_bar {
  background: transparent;
  border: #757575 solid 1px;
  box-shadow: 0 0 3px #ccc;
  position: relative;
  max-width: 720px;
}

.search_bar input[type=text] {
  border: none;
  box-shadow: none;
  font-weight: 600;
  font-size: 14px;
  width: 80%;
  padding: .5em;
  margin: 0;
  overflow: hidden;
}
.search_bar input[type=text]:focus {
  outline: none;
}
.search_bar button[type=submit] {
  background: #757575;
  color: rgba(255, 255, 255, 0);
  border: 1px solid #757575;
  width: 10%;
  min-width: 56px;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 0 3px 3px 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.search_bar button[type=submit]:after {
  content: '';
  position: absolute;
  top: 18%;
  right: 0;
  bottom: 22%;
  left: 4%;

  background-size: contain;
}
.search_bar button[type=submit]:hover, .search_bar button[type=submit]:focus {
  background-color: #14baa6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.search_bar .search_dropdown {
  font-weight: 600;
  min-width: 17px;
  background: #757575;
  border-right: 1px solid #757575;
  color: white;
  padding: 0 28px 0 13px;
  border-radius: 2px 0 0 2px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
}
.search_bar .search_dropdown:after {
  content: "\2193";
  color: rgba(85, 85, 85, 0);
  background: url("http://media.lib.byu.edu/assets/images/searchbar/1.0/down-arrow.svg") no-repeat top left;
  height: 8px;
  width: 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -6px;
}
.search_bar .search_dropdown:hover, .search_bar .search_dropdown.active {
  background: #14baa6;
  cursor: pointer;
  border-right-color: #757575;
}
.search_bar .search_dropdown > span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  white-space: nowrap;
  font-size: 15px;
}
.search_bar .search_dropdown ul {
  display: none;
  position: absolute;
  top: 105%;
  left: -1px;
  font-size: 14px;
  width: 225px;
  background: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #757575;
  border-radius: 3px;
  padding: 7px 0;
}
.search_bar .search_dropdown li {
  list-style-type: none;
  margin: 0;
  padding: 5px 18px;
  color: #757575;
  line-height: 1.2em;
  position: relative;
}
.search_bar .search_dropdown li:hover {
  background: #e7e7e7;
}
.search_bar .search_dropdown li.selected {
  background: #14baa6;
  color: #fff;
}
.search_bar.small {
  max-width: 300px;
}
.search_bar.small input[type=text] {
  font-size: 13px;
}
.search_bar.large {
  max-width: 560px;
}
.search_bar.large input[type=text] {
  font-size: 16px;
}
.search_bar.larger {
  max-width: 700px;
}
.search_bar.larger input[type=text] {
  font-size: 18px;
}
.search_bar.huge {
  max-width: 860px;
}
.search_bar.huge input[type=text] {
  font-size: 21px;
}
.search_bar ::-webkit-input-placeholder {
  font-weight: 400;
}
.search_bar ::-moz-placeholder {
  font-weight: 400;
}
.search_bar :-ms-input-placeholder {
  font-weight: 400;
}
.search_bar ::placeholder {
  font-weight: 400;
}

