<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active">Mes missions</li>
  <li class="active">Pointage</li>
</ol>
<div class="row">
  <div class="col-xs-12 pull-right" style="margin-bottom: 1em;">
    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-secondary btn-sm" name="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-xl-offset-2 col-xs-12">

    <section class="widget" widget>
      <header>
        <h4>
          {{ contract.titre }}
        </h4>
      </header>
      <div class="widget-body">

        <h5>Pointage</h5>

        <div *ngFor="let day of missionHours, let i=index">


          <table class="table table-striped table-condensed">

            <thead class="no-bd col-xs-12">
            <tr>
              <th colspan="4">
                {{day.jour_debut | dateConverter:'long'}}
              </th>
            </tr>
            <tr>
              <th>Heure</th>
              <th class="text-align-right">Prévue</th>
              <th class="text-align-center">
                Pointée
              </th>
              <th class="text-align-left">
              </th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td class="text-align-right">Début</td>
              <td class="text-align-right">{{(day.heure_debut_new != '' && day.heure_debut_new != 'null') ?
                (day.heure_debut_new | timeConverter:'minute') : (day.heure_debut | timeConverter:'minute')}}
              </td>
              <td class="text-align-center">
                {{ (day.heure_debut_pointe) ? day.heure_debut_pointe : '--:--' }}
              </td>
              <td class="text-align-left">
                <button
                        type="button" class="btn btn-primary btn-sm" [hidden]="!isEmpty(day.heure_debut_pointe)"
                        (click)="pointHour(false, day, true, false)">
                  Pointer
                </button>
              </td>
            </tr>

            <!--break time hours-->

            <tr *ngFor="let pause of missionPauses[i], let j=index">
              <td colspan="4" style="padding: 0; padding-top: 10px;">
                <table class="table table-striped table-condensed" width="400">
                  <tbody>
                  <tr>
                    <td class="text-align-right" width="100">Pause {{j + 1}}</td>
                  </tr>
                  <tr>
                    <td class="text-align-right" width="100">Début</td>
                    <td class="text-align-right" width="100">
                      <input type="time" [(ngModel)]="pause.pause_debut_temp"
                             [style.backgroundColor]="!isEmpty(pause.pause_debut_new) ? 'orange' : 'gray'" disabled="true"/>
                    </td>
                    <td class="text-align-right" width="100">
                      {{ (pause.pause_debut_pointe) ? pause.pause_debut_pointe : '--:--' }}
                    </td>
                    <td>
                      <button
                              type="button" class="btn btn-primary btn-sm" [hidden]="!isEmpty(pause.pause_debut_pointe)"
                              (click)="pointHour(false, pause, true, true)">
                        Pointer
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-align-right" width="100">Fin</td>
                    <td class="text-align-right" width="100">
                      <input type="time" [(ngModel)]="pause.pause_fin_temp"
                             [style.backgroundColor]="!isEmpty(pause.pause_fin_new) ? 'orange' : 'gray'" disabled="true"/>
                    </td>
                    <td class="text-align-right" width="100">
                      {{ (pause.pause_fin_pointe) ? pause.pause_fin_pointe : '--:--' }}
                    </td>
                    <td>
                      <button
                              type="button" class="btn btn-primary btn-sm" [hidden]="!isEmpty(pause.pause_fin_pointe)"
                              (click)="pointHour(false, pause, false, true)">
                        Pointer
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <tr>
              <td class="text-align-right">Fin</td>
              <td class="text-align-right">{{(day.heure_fin_new != '' && day.heure_fin_new != 'null') ?
                (day.heure_fin_new | timeConverter:'minute') : (day.heure_fin | timeConverter:'minute')}}
              </td>
              <td class="text-align-center">
                {{ (day.heure_fin_pointe) ? day.heure_fin_pointe : '--:--' }}
              </td>
              <td>
              <button
                      type="button" class="btn btn-primary btn-sm" [hidden]="!isEmpty(day.heure_fin_pointe)"
                      (click)="pointHour(false, day, false, false)">
                Pointer
              </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12">
          <!--<button
            type="button" class="btn btn-primary btn-sm"
            (click)="pointHour(false)">
            Pointer
          </button>-->
        </div>
      </div>
    </section>
  </div>
</div>
