<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/mission/list']">Suivi des missions</a></li>
</ol>
<div class="row">
  <div class="col-xs-12 pull-right" style="margin-bottom: 1em;">
    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-secondary btn-sm" name="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Retour</button></a>
  </div>
</div>
<div class="row">


      <label class="btn btn-gray active label-btn col-xs-12 col-md-12 col-lg-3" btnRadio="0" [(ngModel)]="typeMissionModel" (click)=loadList(0)>
        Missions en cours ({{ missionNowCount}})
      </label>
      <label class="btn btn-gray label-btn col-xs-12 col-md-12 col-lg-3" btnRadio="1" [(ngModel)]="typeMissionModel" (click)=loadList(1)>
        Missions en attente ({{ missionFutureCount }})
      </label>
      <label class="btn btn-gray label-btn col-xs-12 col-md-12 col-lg-3" btnRadio="2" [(ngModel)]="typeMissionModel" (click)=loadList(2)>
        Missions terminées ({{ missionPastCount }})
      </label>
      <label class="btn btn-gray label-btn col-xs-12 col-md-12 col-lg-3" btnRadio="3" [(ngModel)]="typeMissionModel" (click)=loadList(3)>
        Missions annulées ({{ missionCanceledCount }})
      </label>


</div>

<div class="row">
  <div class="col-xs-12">
    <div style="margin-bottom: 10px;" infinite-scroll
           [infiniteScrollDistance]="2"            
           [infiniteScrollThrottle]="500"
           (scrolled)="onScrollDown()">

      <section class="widget" widget *ngFor="let item of currentTypeList">
        <div class="widget-body row">

          <div class="col-sm-12">
            <h4 class="search-result-item-heading" (click)="goToDetailMission(item)">
              {{ item.titre }}
            </h4>
            <p class="description">
              {{ isEmployer ? 'Vous l\'avez signé ': 'Signé par ' + item.contact + ' ' }}
              le {{ toStringDate(item.date_signature) }}<br/>
              avec {{ isEmployer ? item.prenom +' '+ item.nom : item.nom  }}
            </p>
            <div class="col-sm-3 col-xs-12 mission-list-data-2">
              <b>Date de la mission</b>
              <p class="value3 mt-sm">
                {{ toStringDate(item.date_de_debut) }}
                {{(toStringDate(item.date_de_fin) != toStringDate(item.date_de_debut))
                ? 'au ' + toStringDate(item.date_de_fin)
                : ''
                }}
              </p>
              <p class="fs-mini text-muted">Contrat n°{{ item.numero }}</p>
              <button type="button" class="btn btn-secondary btn-sm btn-detail" (click)="goToDetailMission(item)">
                Détails de la mission
              </button>
              <!--<button
                type="button" class="btn btn-secondary btn-sm"
                (click)="goToMissionPointingPage(item)"
                [hidden]="item.option_mission != '2.0' || isEmployer || upperCase(item.releve_employeur) == 'OUI' || upperCase(item.vu) == 'NON'">
                Pointage
              </button>-->
            </div>

            <div class="col-sm-12">
              <span class="span-btn label {{ upperCase(item.signature_jobyer) == 'OUI' ? 'label-primary' : 'label-default' }}">1. Contrat signé</span>
              <span class="span-btn label {{ upperCase(item.vu) == 'OUI' ? 'label-primary' : 'label-default' }}">2. Horaires validés</span>
              <span class="span-btn label {{ upperCase(item.releve_employeur) == 'OUI' ? 'label-primary' : 'label-default' }}">3. Relevé généré</span>
              <span class="span-btn label {{ upperCase(item.approuve) == 'OUI' ? 'label-primary' : 'label-default' }}">4. Horaires signés</span>
              <span *ngIf="item.annule_par == 'jobyer' || item.annule_par == 'employer'" class="span-btn label label-danger">Annulée</span>
            </div>

          </div>

          <div class="col-sm-12 col-xs-12 mission-list-data pull-xs-right">
            <b>Date de la mission</b>
            <p class="value3 mt-sm">
              {{ toStringDate(item.date_de_debut) }}
              {{(toStringDate(item.date_de_fin) != toStringDate(item.date_de_debut))
              ? 'au ' + toStringDate(item.date_de_fin)
              : ''
              }}
            </p>
            <p class="fs-mini text-muted">Contrat n°{{ item.numero }}</p>
            <button type="button" class="btn btn-secondary btn-sm btn-detail" (click)="goToDetailMission(item)">
              Détails de la mission
            </button>
            <!--<div modal-component [hidden]="item.option_mission != '2.0' || isEmployer || upperCase(item.releve_employeur) == 'OUI' || upperCase(item.vu) == 'NON'"></div>-->
           <!-- <button
              type="button" class="btn btn-secondary btn-sm"
              (click)="goToMissionPointingPage(item)"
              [hidden]="item.option_mission != '2.0' || isEmployer || upperCase(item.releve_employeur) == 'OUI' || upperCase(item.vu) == 'NON'"
              [disabled]="item.disableBtnPointing"
            >
              Pointage
            </button>-->
          </div>
        </div>
      </section>
    </div>
    <div class="center" [hidden]="!loading">
      <div class="fa fa-refresh fa-spin"></div>&nbsp;&nbsp;Chargement en cours ...
    </div>
  </div>
</div>
