<ol class="breadcrumb">
  <li>VOUS ÊTES ICI</li>
  <li class="active"><a class="breadcrumb-link" [routerLink]="['/attachements']">Coffre numérique</a></li>
</ol>
<h1 class="page-title">Coffre numérique</h1>
<div class="col-lg-6 col-xs-12">
  <!--div pour la consultation de la pièce jointe-->
  <div *ngIf="viewMode" class="form-group row">
    <div class="screen-filler">
      <button class="screen-filler-btn" (click)="closeModal()" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <img class="screen-filler-img" alt="{{selFileName}}" [src]="photoURL()">
    </div>
  </div>
  
  <section class="widget">
    <div class="widget-body">
      <div *ngIf="emptySafe"><p class="attachments-info-box">Vous pouvez installer dès maintenant un document dans votre coffre numérique sécurisé</p></div>
      <form #myForm="ngForm" class="profile-form form-horizontal" role="form">
        <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
          <div [innerHTML]="alert.msg"></div>
        </alert>

        <fieldset>
          <h4>Ajouter un nouveau document</h4>
          <div class="form-group row required">
            <label class="col-md-4 col-xs-12 form-control-label text-md-right">Nom du document</label>
            <div class="col-md-4 col-xs-12">
              <select class="form-control" [(ngModel)]="fileName" [disabled]="isUploadInProgress" (change)="watchFiletype($event)" required>
                <option value="Badge aéroportuaire">Badge aéroportuaire</option>
            <option value="Carte de séjour">Carte de séjour</option>
            <option value="Carte nationale d'identité">Carte nationale d'identité</option>
            <option value="Carte professionnelle">Carte professionnelle</option>
            <option value="Carte vitale">Carte vitale</option>
            <option value="Justificatif de domicile">Justificatif de domicile</option>
            <option value="">Autres</option>
            </select>
          </div>
    </div>
  
    <div class="form-group row" *ngIf="isEmpty(fileName)">
      <label class="col-md-4 col-xs-12 form-control-label text-md-right"></label>
      <div class="col-md-4 col-xs-12">
        <input type="text" class="form-control" [(ngModel)]="fileNameNotDefault" [disabled]="isUploadInProgress" placeholder="Veuillez saisir le nom du document" required>
      </div>
          </div>
  
          <div class="form-group row">
            <label class="col-md-4 col-xs-12 form-control-label text-md-right">
              Télécharger (JPEG/PNG/PDF)
            </label>
            <div class="col-md-4 col-xs-12">
              <form>
                <input type="file" id="file" name="file" (change)="submitFile()" accept="image/x-png,image/jpeg,.pdf">
              </form>
            </div>
          </div>
          
          
          
          
          <!--<div class="form-group row">
            <label class="col-md-4 col-xs-12 form-control-label text-md-right">
              Télécharger (JPEG/PNG/PDF)
            </label>
            <div class="col-md-4 col-xs-12">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="form-group">
                  <input type="file" name="file" id="file" class="input-file form-control">
                  <label for="file" class="btn btn-tertiary js-labelFile">
                    <i class="icon fa fa-check"></i>
                    <span class="js-fileName">Choisir un fichier</span>
                  </label>
                  <small [hidden]="isEmpty(scanData)">cliquer pour remplacer</small>
                </div>

                <div class="fileinput-preview" data-trigger="fileinput"></div>
              </div>
            </div>
          </div>-->
          
        </fieldset>

        <div class="form-group row">
          <div class="col-md-12 col-xs-12">
            <button class="btn success btn-lg attachement-add-btn" (click)="saveFile()" [disabled]="isUploadInProgress || isEmpty(fileName + '' + fileNameNotDefault) || isEmpty(scanData)"><span class="icon"><i class ="glyphicon glyphicon-cloud-upload"></i></span> Ajouter</button>
          </div>
        </div>

      </form>
    </div>
  </section>

  <div class="row">
    <div class="col-xs-12">
      <section class="widget" [hidden]="emptySafe">
        <header><h4>Mon coffre numérique</h4></header>
        <div class="widget-body">
          <div *ngIf="attachments">
            <div
              attachements-directory
              [(cd)]="attachments"
              (viewFile)="onViewFile($event)"
              (deleteFile)="onDeleteFile($event)"
              (downloadFile)="onDownloadFile($event)"
            ></div>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
