@import "../../scss/application";

//@import "../../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";

.fileinput.fileinput-new {
  .thumbnail {
    padding: $thumbnail-padding;
    line-height: $line-height;
    background-color: $thumbnail-bg;
    border: $thumbnail-border-width solid $thumbnail-border-color;
    border-radius: $thumbnail-border-radius;
    transition: all .2s ease-in-out;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, .075));
  }
}

.fileinput-preview.fileinput-exists {
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  padding: 5px;
}

.fileinput.input-group {
  display: flex;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 $border-radius $border-radius 0;

  &.btn-xs,
  &.btn-sm {
    border-radius: 0 $border-radius-sm $border-radius-sm 0;
  }
  &.btn-lg {
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
  }
}

.form-group.has-warning .fileinput {
  .fileinput-preview {
    color: $state-warning-text;
  }
  .thumbnail {
    border-color: $state-warning-border;
  }
}

.form-group.has-error .fileinput {
  .fileinput-preview {
    color: $state-danger-text;
  }
  .thumbnail {
    border-color: $state-danger-border;
  }
}

.form-group.has-success .fileinput {
  .fileinput-preview {
    color: $state-success-text;
  }
  .thumbnail {
    border-color: $state-success-border;
  }
}

.attachments-info-box{
  color:#FFF !important;
  background-color: $primary-color-one;
  font-size: x-large;
  text-align: center;
}

.screen-filler {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  text-align: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}

.screen-filler-img{
  //max-width: 300px;
  //max-height: 300px;
  margin-top: 1%;
}

.screen-filler-btn{
  right: 0;
  top: 0;
  position: absolute;
}

.attachement-add-btn{
  float: right;
}
.inp-file{
  border: solid 1px $primary-color-one;
  padding: 0.4em;
  border-radius: 5px;
  color: $primary-color-one;

}
.fileinput-preview{
  margin-top: 1em;
  text-align: center;
}
.btn-tertiary {
  color: $primary-color-one;
  padding: 0;
  line-height: 40px;
  margin: auto;
  display: block;
  border: 2px solid $primary-color-one;
}
.btn-tertiary:hover, .btn-tertiary:focus {
  color: #888888;
  border-color: #888888;
}

/* input file style */
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}
.input-file + .js-labelFile .icon:before {
  content: "\f093";
}
.input-file + .js-labelFile.has-file .icon:before {
  content: "\f00c";
  color: #5AAC7B;
}
.fileinput-preview{
img{
  border: solid 2px $primary-color-one;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
}
}
.color-small{
  color: $primary-color-one;
}
.required > label:after {
  content: " *";
  color: red;
}

