@import "../../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.container-home {
  height: 100vh;
  background-size: cover;
}

.home-background-container {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 0;
  background-image: url('../../assets/images/bg_jobyer.png');
  background-size: cover;
}

.home-video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.home-logo {
  z-index: 2;
  position: relative;
  height: 12vh;
}

.search-link {
  margin-top: 15px;
  font-size: larger;
  text-align: center;
}

.home-search-bar-container {
  margin-top: -40vh;
  z-index: 1;
}

.search {
  margin-top: 10px;
}

.adv-search {
  color: #14BAA6;
}

/* Small devices (phones) */
@media (max-width: 767px) {
  .search {
    display: flex;
    width: 100%;
  }
  .home-logo {
    height: 10vh;
    margin-top: 0;
  }
  .home-search-bar-container {
    margin-top: -92vh;
  }
  .search-link {
    margin-top: 10px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .search {
    display: flex;
    width: 100%;
  }
  .home-logo {
    height: 12vh;
    margin-top: 0;
  }
  .home-search-bar-container {
    margin-top: -85vh;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .search {
    display: flex;
    width: 100%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-search-bar-container {
    margin-top: -65vh;
  }
}

.home-copyrigth {
  text-align: center;
}
/*
 * Bootstrap calendar
 */
.text-center{
  text-align: center;
}
.text-align {
  text-align: center;
}
.card-mb {
  background: rgba(#757575, 0.3);
  color: white;
  border-radius: 5px;
  margin: 0.5em;
  padding: 5px;
  min-height: 16em;
}
.btn-card{
  border: solid 1px;
  color: white;
  background-color: transparent!important;
  margin-bottom: 0.4em;
}

.padding-zero {
  padding: 0;
  margin: 0;
}
.title-card{
  min-height: 4em;
}
.mar-pad{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 480px) {
  .navbar{
    background-color: transparent!important;
  }
  .search__input {
    width: 70%!important;

  }
  .mb-img{
    background: url("../../assets/images/bg_jobyer.png") no-repeat center fixed;

  }
  .top {
    top:100%;
    background-color: #eee;
  }
  .pad{
    position: absolute;
    width: 100%;
    height: 100%;
  }

}
.btn-mb{
  padding:0;
}
@media screen and (max-width: 320px) {
  .home-search-bar-container-mb {
    margin-top: 18em !important;
  }
  .mb-img {
    background: url("../../assets/images/bg_jobyer.png") no-repeat center fixed;

  }
  .top {
    top: 100%;
    background-color: white;
  }
  .pad {
    position: absolute;
    width: 100%;
    height: 100%;
  }

}
.pad-r {
  padding-right: 0;
}
.pad-l{
  padding-left: 0;
}


.title-mb {
  margin: 0!important;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 481px) and(max-width: 780px) {
  .home-search-bar-container-mb{
    margin-top: 40em!important;
  }
  .search__input {
    width: 70%!important;

  }
  .mb-img{
    background: url("../../assets/images/bg_jobyer.png") no-repeat center fixed;

  }
  .top {
    top:100%;
    background-color: white;
  }
  .pad{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.search-mb{
  display: flex;
  width: 100%;

}
.home-search-bar-container-mb{
margin-top: 20em;
}

.logo-mobile {
  margin-top: 10em;
}
.logo-logo{
  width: 70%;
}
.search__input {
  border: 0;
  outline: 0;
  line-height: 50px;
  font-size: 14px;
  padding: 0 18px;
  width: 70%;

}
.logo-home {
  position: absolute;
  margin-top: -40%;
  width: 100%;
}

.centred-l {
  margin-right: auto;
  margin-left: auto;
}


.search__button {

  color: #fff;
  background-color: #14BAA6;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
  margin: -4px;
}
.search__button:active {

}

html {
  background-color: #EAEDF2;
  display: table;
  width: 100%;
  height: 100%;
  font-family: arial;
}

body {
  display: table-cell;
  vertical-align: middle;

}

.calendar {
  font-size: $font-size-mini;
  padding: $line-height-computed/2 0;
}

.calendar a {
  text-decoration: none;
  cursor: pointer;
  color: $gray-dark;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.calendar td {
  text-align: center;
}

.calendar .header {
  padding: 10px 0;
  color: #666;

  i {
    cursor: pointer;
  }
}

.calendar .prev_month {
  float: left;
}

.calendar .next_month {
  float: right;
}

.calendar .year {
  text-align: center;
  font-weight: 500;
}

.calendar .week_days {
  color: $gray-light;
}

.calendar .event {
  color: white;
  font-weight: bold;
  background-color: transparent;

  &:hover {
    > a {
      background-color: $gray-lighter;
    }
  }

  > a {
    background-color: $white;
    @include border-radius(50%);

    > span {
      display: inline-block;
      width: 6px;
      height: 6px;
      position: absolute;
      bottom: 1px;
      right: 1px;
      @include border-radius(50%);
    }
  }

  .popover {
    color: $text-color;
  }
}

.calendar .table td {
  padding: 1px 0;
  border-top: 0;
}

.calendar .table {
  margin-bottom: 3px;

  &.header {
    margin-bottom: $line-height-computed/2;
  }
}



.modal {
  width: 100% !important;
  height: 100% !important;
}

.play {

  top: 2em;
  color: white;
  font-size: 4em;
  background-color: transparent;
}

.div-search {
  width: 100%;
  //height: 10em;
  position: absolute;
  top: 60%;
  background-color: #eee;
  display: flex;
}

.div-play {
  width: 100%;
  //height: 10em;
  position: absolute;
  bottom: 50%;
  background-color: transparent;
  display: flex;
}

.input-search {
  width: 90%;
  margin: auto;
}
.video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  margin-top: 0;
  z-index: -100;
}

/*.content {
  padding: 0 !important;
}*/

.calendar .week_days td {
}

.calendar .visualmonthyear {
  color: $gray-light;
}

.dropdown-menu .calendar td a {
  padding: 0;
}

/**
 * Mapael
 */
.mapTooltip {
  position: fixed;
  padding: 2px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  font-size: $font-size-sm;
  color: $text-color;
}

.zoomIn,
.zoomOut {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  border: 1px solid #ccc;
  background-color: #fff;
  color: $text-color;
  line-height: 20px;
  text-align: center;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: $font-weight-bold;
  user-select: none;
}

.zoomOut {
  left: 36px;
}
.list-mb{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mapael {
  position: relative;
  margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;

  .map {
    position: relative;
  }

  .stats {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 5% 10%;
  }
}
.pp {
  font-size: 80%;
}
// Checkbox
.table td > .abc-checkbox,
.table th > .abc-checkbox {
  > label:after,
  > label:before {
    margin-left: -16px;
  }
}

/***********************/
/* Part:Progress Stats */
/***********************/
.progress-stats {
  .name {
    margin-bottom: 2px;
  }

  .description {
    margin-bottom: 2px;
  }

  .status {
    margin-top: 15px;
  }
  @include media-breakpoint-down(lg) {
    .description + .progress {
      margin-bottom: 0;
    }
  }
}

/***********************/
/*    Part:Stats Row   */
/***********************/
.stats-row {
  margin-bottom: 15px;
}

.stat-item {
  display: inline-block;
  padding-right: 15px;

  & + .stat-item {
    padding-left: 15px;
    border-left: 1px solid $hr-border-color;
  }

  .name {
    margin-bottom: 2px;
    margin-top: 10px;
  }

  .value {
    font-weight: bold;
  }

  &.stat-item-mini-chart {
    position: relative;
    top: -12px;
    padding-left: 0;
    border-left: none;
  }
}

.list-home-container{
  width: 100%;
  background-color: rgba(250,250,250, 0.7);
  margin: 0;
  padding: 0;
  background-color: #eee;
  text-align: center;

  .list-home-element {
    margin-bottom: 15px;
  }
  .on-right {
    text-align: right;
  }
}
.list-home-title{
  margin-top:10px;
  width: 100%;
  background-color: rgba(250,250,250, 0.7);
}
.arrow-key-span{
  position: relative;
  font-size: 30pt;
  top: calc(50% - 15pt);
}

.arrow-key-button{
  position: relative;
  height: 100%;
  border: 0;
  background: none;
  box-shadow:none;
  border-radius: 0px;
}

.home-card{
  height:100%;
}
.home-card-button{
  position: absolute;
  width: calc(100% - 10px);
  bottom: 0px;
  left: 5px;
}


/***********************************/
/**          Post Links           **/
/***********************************/

.post-links {
  margin-bottom: 0;
  font-size: $font-size-sm;
  padding-left: 0;
  @include clearfix();
  > li {
    float: left;
    list-style: none;

    + li {
      &:before {
        color: #999;
        content: "\25cf";
        padding: 0 8px;
      }
    }
    > a {
      text-decoration: none;
      color: $text-muted;
      &:hover {
        color: $text-muted;
      }
    }
  }

  &.no-separator > li + li {
    margin-left: 12px;
    &:before {
      content: normal;
    }
  }
}
.content-map {
  position: relative;
}
.pad-top {
  padding-top: 2em;
}

.result-element{
  width: 24%;
  min-width: 150px;
  margin-left:1px;
  margin-right:1px;
}

.page-footer{
  margin:1% 0;
}
/*
[home-list-component]{
  animation: pop 2s;
  animation-delay: 2s;

}
@keyframes pop {
  from { opacity:0; }
  to   { opacity:1; }
}
*/
