<div class="row" style="margin: 0; padding: 0">
  <div class="col-xs-12 mb-img pad" style="padding: 0">
<div class="container-home">
  <div align="center" class="video">

    <video class="collapse navbar-collapse" style="padding-left: 0;padding-right: 0" autoplay loop muted src="assets/video/Fotolia_115061056_V_HD720.mov" *ngIf="!isTablet"></video>


    <div class="home-search" *ngIf="!isTablet">
      <div class="row">
        <div class="logo-home col-xs-12 centred-l"><img class="home-logo centred-l" src="../../assets/images/logo/logo-white.png" alt=""></div>
        <div class="search centred-l col-xs-12">
          <div class="centred-l total-large">
            <input placeholder="Rechercher sur Vit-On-Job...." class="search__input" [(ngModel)]="scQuery" (keyup)="checkForEnterKey($event)"/>
            <button class="fa fa-search search__button" (click)="doSemanticSearch()"></button>
          </div>
        </div>
        <div class="col-xs-12 centred-l search-link"><a class="adv-search centred-l" [routerLink]=" ['/search/criteria'] ">Recherche avancée</a></div>
        <div class="search-notification centred-l col-xs-12">
          <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
            <div [innerHTML]="alert.msg"></div>
          </alert>
        </div>
      </div>
    </div>
    <div class="home-search-mb" *ngIf="isTablet">
      <div class="row">
        <div class="col-xs-12 logo-home centred-l">
          <img src="../../assets/images/logo/logo.png" class="centred-l home-logo" style="width: 70%">
        </div>
        <div class="search-mb centred-l clo-xs-12">
          <div class="centred-l total-large">
            <input placeholder="Rechercher sur Vit-On-Job...." class="search__input" [(ngModel)]="scQuery" (keyup)="checkForEnterKey($event)"/>
            <button class="fa fa-search search__button" (click)="doSemanticSearch()"></button>
          </div>
        </div>
        <div class="col-xs-12 centred-l search-link-mb"><a class="adv-search centred-l" [routerLink]=" ['/search/criteria'] ">Recherche avancée</a></div>
      </div>
    </div>


  </div>
</div>
    <div class="container-fluid list-home-container" [hidden]="upcomingOffers.length==0">
      <div class="row list-home-title title-mb">
        <div class="col-xl-12 centred-l"><h2>Offres imminentes</h2></div>
      </div>
      <div class="row">
        <div class="col-xs-1 col-sm-1 pad-r">
          <button (click)="previousOffers()" class="arrow-key-button btn-mb" [disabled]="previousUpcomingOffers.length == 0"><span
            class="glyphicon glyphicon-chevron-left arrow-key-span"></span></button>
        </div>
        <div class="col-sm-10 col-xs-10 row" >
          <div class="list-home-element result-element " *ngFor="let o of upcomingOffers">
            <ul class="list-group widget-chat-list-group">
              <li class="list-group-item on-right">
                <table>
                  <tr>
                    <td style="text-align: center;">
                      <span class="thumb">
                        <img class="img-circle"
                             src="{{ projectTarget == 'jobyer'
                             ? '../../assets/images/people/employer.jpg'
                             : '../../assets/images/people/jobyer.jpg'
                             }}" alt="..."
                        />
                      </span>
                    </td>
                    <td><h5 class="sender">{{o.title}}</h5></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <p class="body" style="color: #999999; text-align: right">
                        <small>
                          Offre créée le {{simplifyDate(o.creationDate)}}<br/>
                          <span *ngIf="(projectTarget === 'employer')">Disponible à partir du </span>
                          <span *ngIf="(projectTarget === 'jobyer')">Début de la mission </span>
                          {{simplifyDate(o.startAvailability)}}
                        </small>
                      </p>
                    </td>
                  </tr>
                </table>

              </li>
              <li class="list-group-item on-right">
                <ul class="post-links">
                  <li>
                    <a class="btn btn-sm btn-primary" style="color: white; font-weight: normal" (click)="searchOffer(o)">Détails</a>
                    <recruit-button (onRecruite)="onRecruite(o)" *ngIf="projectTarget == 'employer' && !isRecruteur"></recruit-button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 pad-r">
          <button (click)="nextOffers()" class="arrow-key-button btn-mb" [disabled]="nextUpcomingOffers.length == 0"><span
            class="glyphicon glyphicon-chevron-right arrow-key-span"></span></button>
        </div>
      </div>
    </div>

    <div class="container-fluid list-home-container" [hidden]="recentOffers.length==0">
      <div class="row list-home-title title-mb">
        <div class="col-xl-12 centred-l"><h2>Offres récentes</h2></div>
      </div>
      <div class="row">
        <div class="col-xs-1 col-sm-1 pad-r">
          <button (click)="previousOffers()" class="arrow-key-button btn-mb" [disabled]="previousRecentOffers.length == 0"><span
            class="glyphicon glyphicon-chevron-left arrow-key-span"></span></button>
        </div>
        <div class="col-sm-10 col-xs-10 row" >
          <div class="list-home-element result-element " *ngFor="let o of recentOffers">
            <ul class="list-group widget-chat-list-group">
              <li class="list-group-item on-right">
                <table>
                  <tr>
                    <td style="text-align: center;">
                  <span class="thumb">
                    <img class="img-circle"
                         src="{{ projectTarget == 'jobyer'
                         ? '../../assets/images/people/employer.jpg'
                         : '../../assets/images/people/jobyer.jpg'
                         }}" alt="..."
                    />
                  </span>
                    </td>
                    <td><h5 class="sender">{{o.title}}</h5></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <p class="body" style="color: #999999; text-align: right">
                        <small>
                          Offre créée le {{simplifyDate(o.creationDate)}}<br/>
                          <span *ngIf="(projectTarget === 'employer')">Disponible à partir du </span>
                          <span *ngIf="(projectTarget === 'jobyer')">Début de la mission </span>
                          {{simplifyDate(o.startAvailability)}}
                        </small>
                      </p>
                    </td>
                  </tr>
                </table>

              </li>
              <li class="list-group-item on-right">
                <ul class="post-links">
                  <li>
                    <a class="btn btn-sm btn-primary" style="color: white; font-weight: normal" (click)="searchOffer(o)">Détails</a>
                    <recruit-button (onRecruite)="onRecruite(o)" *ngIf="projectTarget == 'employer' && !isRecruteur"></recruit-button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 pad-r">
          <button (click)="nextOffers()" class="arrow-key-button btn-mb" [disabled]="nextRecentOffers.length == 0"><span
            class="glyphicon glyphicon-chevron-right arrow-key-span"></span></button>
        </div>
      </div>
    </div>

    <div class="container-fluid list-home-container" [hidden]="recentUsers.length==0">
      <div class="row list-home-title title-mb">
        <div class="col-xl-12 centred-l"><h2>{{projectTarget == 'jobyer'?'Nouvelles entreprises':'Nouveaux Jobyers'}}</h2></div>
      </div>
      <div class="row">
        <div class="col-xs-1 col-sm-1 pad-r">
          <button (click)="previousUsers()" class="arrow-key-button btn-mb" [disabled]="previousRecentUsers.length == 0"><span
            class="glyphicon glyphicon-chevron-left arrow-key-span"></span></button>
        </div>
        <div class="col-sm-10 col-xs-10 " >
          <div class="row">
            <div class="list-home-element result-element row" *ngFor="let o of recentUsers">
              <ul class="list-group widget-chat-list-group">
                <li class="list-group-item on-right">
                  <table>
                    <tr>
                      <td style="text-align: center;">
                  <span class="thumb">
                    <img class="img-circle"
                         src="{{ projectTarget == 'jobyer'
                         ? '../../assets/images/people/employer.jpg'
                         : '../../assets/images/people/jobyer.jpg'
                         }}" alt="..."
                    />
                  </span>
                      </td>
                      <td><h5 class="sender">{{o.name}}</h5></td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <p class="body" style="color: #999999; text-align: right">
                          <small>
                            A rejoint Vit-on-job le {{simplifyDate(o.creationDate)}}<br/>
                          </small>
                        </p>
                      </td>
                    </tr>
                  </table>

                </li>
                <li class="list-group-item on-right">
                  <ul class="post-links">
                    <li>
                      <a class="btn btn-sm btn-primary" style="color: white; font-weight: normal" href="#">Contacter</a>

                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-xs-1 col-sm-1 pad-l">
          <button (click)="nextUsers()" class="arrow-key-button btn-mb" [disabled]="nextRecentUsers.length == 0"><span
            class="glyphicon glyphicon-chevron-right arrow-key-span"></span></button>
        </div>
      </div>


      <div modal-update-password>

      </div>
      <div modal-notification-contract [jobyer]="currentJobyer" *ngIf="projectTarget == 'employer' && !isRecruteur">

      </div>
      <div modal-general-condition (onRefuse)="onGCRefused($event)">

      </div>
      <div modal-welcome>

      </div>
      <div modal-profile [obj]="obj">

      </div>
