<div class="row" style="margin: 0; padding: 0">
  <div class="col-xs-12 mb-img pad" style="padding: 0">
    <div class="container-home">
      <div align="center" class="video">

        <video class="collapse navbar-collapse" style="padding-left: 0;padding-right: 0" autoplay loop muted src="assets/video/Fotolia_115061056_V_HD720.mov" *ngIf="!isTablet"></video>


        <div class="home-search" *ngIf="!isTablet">
          <div class="row">
            <div class="logo-home col-xs-12 centred-l"><img class="home-logo centred-l" src="../../assets/images/logo/logo-white.png" alt=""></div>
            <div class="search centred-l clo-xs-12">
              <div class="centred-l total-large">
                <input placeholder="Rechercher sur Vit-On-Job...." class="search__input" [(ngModel)]="scQuery" (keyup)="checkForEnterKey($event)"/>
                <button class="fa fa-search search__button" (click)="doSemanticSearch()"></button>
              </div>
            </div>
            <div class="search-notification centred-l col-xs-12">
              <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
                <div [innerHTML]="alert.msg"></div>
              </alert>
            </div>
            <div class="col-xs-12 centred-l search-link"><a class="adv-search centred-l" [routerLink]=" ['/search/criteria'] ">Recherche avancée</a></div>
          </div>
        </div>
        <div class="home-search-mb" *ngIf="isTablet">
          <div class="row">
            <div class="col-xs-12 logo-home centred-l">
              <img src="../../assets/images/logo/logo.png" class="centred-l home-logo" style="width: 70%">
            </div>
            <div class="search-mb centred-l clo-xs-12">
              <div class="centred-l total-large">
                <input placeholder="Rechercher sur Vit-On-Job...." class="search__input" [(ngModel)]="scQuery" (keyup)="checkForEnterKey($event)"/>
                <button class="fa fa-search search__button" (click)="doSemanticSearch()"></button>
              </div>
            </div>
            <div class="col-xs-12 centred-l search-link-mb"><a class="adv-search centred-l" [routerLink]=" ['/search/criteria'] ">Recherche avancée</a></div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="col-xs-12 pad top centred-l text-center" style="padding: 0">
    <div class="container-fluid list-home-container" [hidden]="upcomingOffers.length==0" style="margin: 0; padding: 0;">
      <div class="row list-home-title title-mb">
        <div class="col-xl-12 centred-l"><h2>Offres imminentes</h2></div>
      </div>
      <div class="row centred-l">
        <div class="col-sm-2 col-xs-2"><button (click)="previousOffers()" class="arrow-key-button btn-mb"><span class="glyphicon glyphicon-chevron-left arrow-key-span"></span></button></div>
        <div class="col-sm-2 col-xs-8" *ngFor="let o of upcomingOffers">
          <div class="row card-mb">
            <div class="col-sm-12 text-align">
              <p class="sender pp">{{o.title}}</p>
            </div>
            <div class="col-sm-12 text-align">
              <img class="img-circle" style="width: 3em" src="{{ projectTarget == 'jobyer' ? '../../assets/images/people/employer.jpg' : '../../assets/images/people/jobyer.jpg' }}" alt="..." />
            </div>
            <div class="col-sm-12 text-align">
              <p class="body pp" style="color: #999999;">
                <small class="centred-l">
                  Offre créée le {{simplifyDate(o.creationDate)}}<br/>
                  {{projectTarget == 'jobyer'?'Disponible à partir du':'Début de mission'}}
                  {{simplifyDate(o.startAvailability)}}
                </small>
              </p>
            </div>
            <div class="col-sm-12 text-align">
              <a class="btn btn-sm btn-primary" style="color: white; font-weight: normal" (click)="searchOffer(o)">Détails</a>
              <recruit-button class="centred-l" (onRecruite)="onRecruite(o)" *ngIf="projectTarget == 'employer' && !isRecruteur"></recruit-button>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-2"><button class="arrow-key-button" (click)="nextOffers()"><span class="glyphicon glyphicon-chevron-right arrow-key-span"></span></button></div>
      </div>
     <!-- <div class="row">
        <div class="col-xs-2 col-sm-2 pad-r">
          <button (click)="previousOffers()" class="arrow-key-button btn-mb"><span
            class="glyphicon glyphicon-chevron-left arrow-key-span"></span></button>
        </div>
        <div class="col-xs-7 col-sm-4 centred-l mar-pad">
          <div class="row centred-l">
            <div class="col-xs-8  col-sm-5 centred-l card-mb mar-pad" *ngFor="let o of upcomingOffers">
              <div class="row">
                <div class="col-xs-12"><p class="sender pp" style="margin-bottom: 0">{{o.title}}</p></div>
                <div class="row centred-l">
                  <div class="col-xs-12" style="padding: 0">
                    <img class="img-circle" style="width: 3em" src="{{ projectTarget == 'jobyer' ? '../../assets/images/people/employer.jpg' : '../../assets/images/people/jobyer.jpg' }}" alt="..." />
                  </div>
                  <div class="col-xs-12">
                    <p class="body pp" style="color: #999999;">
                      <small class="centred-l">
                        Offre créée le {{simplifyDate(o.creationDate)}}<br/>
                        {{projectTarget == 'jobyer'?'Disponible à partir du':'Début de mission'}}
                        {{simplifyDate(o.startAvailability)}}
                      </small>
                    </p>
                  </div>
                </div>
                <div class="col-xs-12">
                  <a class="btn btn-sm btn-primary" style="color: white; font-weight: normal" (click)="searchOffer(o)">Détails</a>
                  <recruit-button class="centred-l" (onRecruite)="onRecruite(o)" *ngIf="projectTarget == 'employer' && !isRecruteur"></recruit-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 pad-l">
          <button class="arrow-key-button" (click)="nextOffers()"><span
            class="glyphicon glyphicon-chevron-right arrow-key-span"></span></button>
        </div>
      </div>-->
    </div>
    <div class="container-fluid list-home-container" [hidden]="recentOffers.length==0" style="margin: 0; padding: 0;background-color: #eee;">
      <div class="row list-home-title title-mb">
        <div class="col-xl-12  centred-l"><h2>Offres récemment créées</h2></div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 pad-r">
          <button (click)="previousOffers()" class="arrow-key-button"><span
            class="glyphicon glyphicon-chevron-left arrow-key-span"></span></button>
        </div>
        <div class="col-xs-7 col-sm-4 centred-l mar-pad">
          <div class="row centred-l">
            <div class="col-xs-8 col-sm-5 centred-l card-mb mar-pad" *ngFor="let o of recentOffers">
              <div class="row">
                <div class="col-xs-12"><p class="sender pp" style="margin-bottom: 0">{{o.title}}</p></div>
                <div class="row centred-l">
                  <div class="col-xs-12" style="padding: 0">
                    <img class="img-circle" style="width: 3em" src="{{ projectTarget == 'jobyer' ? '../../assets/images/people/employer.jpg' : '../../assets/images/people/jobyer.jpg' }}" alt="..." />
                  </div>
                  <div class="col-xs-12">
                    <p class="body pp" style="color: #999999;">
                      <small class="centred-l">
                        Offre créée le {{simplifyDate(o.creationDate)}}<br/>
                        {{projectTarget == 'jobyer'?'Disponible à partir du':'Début de mission'}}
                        {{simplifyDate(o.startAvailability)}}
                      </small>
                    </p>
                  </div>
                </div>
                <div class="col-xs-12">
                  <a class="btn btn-sm btn-primary" style="color: white; font-weight: normal" (click)="searchOffer(o)">Détails</a>
                  <recruit-button class="centred-l" (onRecruite)="onRecruite(o)" *ngIf="projectTarget == 'employer' && !isRecruteur"></recruit-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 pad-l">
          <button class="arrow-key-button" (click)="nextOffers()"><span
            class="glyphicon glyphicon-chevron-right arrow-key-span"></span></button>
        </div>
      </div>
    </div>
    <div class="container-fluid list-home-container" [hidden]="recentUsers.length==0" style="margin: 0; padding: 0;background-color: #eee;">
      <div class="row list-home-title title-mb">
        <div class="col-xl-12 centred-l"><h2>{{projectTarget == 'jobyer'?'Nouvelles entreprises':'Nouveaux Jobyers'}}</h2></div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2"><button style="padding: 0" (click)="previousUsers()" class="arrow-key-button" > <span class="glyphicon glyphicon-chevron-left arrow-key-span"></span> </button></div>
        <div class="col-xs-7 col-sm-4 centred-l mar-pad">
          <div class="row centred-l">
            <div class="col-xs-8 col-sm-5 centred-l mar-pad card-mb" *ngFor="let o of recentUsers">
              <div class="row">
                <div class="col-xs-12">
                  <span class="thumb-xlg">
            <img class="img-circle" style="width: 3em;" src="{{projectTarget == 'jobyer'?'../../assets/images/people/employer.jpg':'../../assets/images/people/jobyer.jpg'}}" alt="">
          </span>
                </div>
                <div class="col-xs-12">
                  <p class="">{{o.name}}</p>
                </div>
                <div class="col-xs-12">
                  <small>
                    <p class="">
                      <span>A rejoint Vit-On-Job le &nbsp;</span>{{simplifyDate(o.creationDate)}}<br/>
                    </p>
                  </small>
                </div>
                <div class="col-xs-12">
                  <a href="#" style="width: 60%"class="btn btn-sm btn-primary centred-l">Contacter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2"><button style="padding: 0" class="arrow-key-button" (click)="nextUsers()" > <span class="glyphicon glyphicon-chevron-right arrow-key-span"></span> </button></div>
      </div>
    </div>
    <footer class="page-footer collapse navbar-collapse" style="text-align: center;">
      2016 &copy; Vit-On-Job est une marque de Manaona.
    </footer>
  </div>
  <div modal-update-password></div>
  <div modal-notification-contract [jobyer]="currentJobyer" *ngIf="projectTarget == 'employer' && !isRecruteur"></div>
  <div modal-general-condition (onRefuse)="onGCRefused($event)"></div>
  <div modal-welcome></div>
  <div modal-profile [obj]="obj"></div>

