<ol class="breadcrumb">
	<li>Vous êtes ici</li>
	<li class="active">Mes offres</li>
	<li class="active">Nouvelle offre</li>
</ol>
<h1 class="page-title">{{currentUser.estEmployeur ? 'Employeur' : 'Jobyer'}} - <span class="fw-semi-bold">Nouvelle offre</span></h1>

<div class="row">
	<div class="col-lg-8 col-xl-offset-2 col-xs-12">
		<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type + ' alert-sm'" dismissible="true">
			<div [innerHTML]="alert.msg"></div>
		</alert>
		<section class="widget" widget>
			<header>
				<h6>
					Nouvelle offre
				</h6>
			</header>
			<div class="widget-body">
				<form class="form-horizontal" role="form">
					<fieldset>
						<legend> <strong>Job</strong></legend>
						<div class="form-group row">
							<label class="col-md-4 col-xs-12 form-control-label text-md-right">Secteur</label>
							<div class="col-md-7 col-xs-12">
								<select class="form-control" [(ngModel)]="offer.jobData.idSector" (change)="sectorSelected($event.target.value)">
									<option *ngFor="let s of sectors" [value]="s.id"> {{s.libelle}}</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="hint-field" class="col-md-4 form-control-label text-md-right">
								Job
							</label>
							<div class="col-md-7 col-xs-12">
								<select class="form-control" [(ngModel)]="offer.jobData.idJob" (change)="jobSelected($event.target.value)">
									<option *ngFor="let j of jobs" [value]="j.id"> {{j.libelle}}</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-xs-12 form-control-label text-md-right" for="tooltip-enabled">Niveau</label>
							<div class="col-md-7 col-xs-12">
								<div class="abc-radio">
									<input type="radio" name="radio3" id="radio5" value="junior" [checked]="offer.jobData.level == 'junior'" (click)="watchLevel($event)">
									<label for="radio5">
										Débutant
									</label>
								</div>
								<div class="abc-radio abc-radio-warning">
									<input type="radio" name="radio3" id="radio6" value="senior" [checked]="offer.jobData.level != 'junior'" (click)="watchLevel($event)">
									<label for="radio6">
										Expérimenté
									</label>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-xs-12 form-control-label text-md-right">Taux horaire</label>
							<div class="col-md-4 col-xs-12">
								<input type="number" class="form-control" [(ngModel)]="offer.jobData.remuneration">
							</div>
							<div class="col-md-3 col-xs-12">
								<select class="form-control" disabled>
									<option> EUR </option>
								</select>
							</div>
						</div>
					</fieldset>	
		
					<fieldset>
						<legend> <strong>Disponibilités</strong></legend>
						<div class="form-group row">
							<label class="col-md-6 col-xs-6 form-control-label">Créneaux</label>
							<label class="col-md-2 col-xs-2 form-control-label">De</label>
							<label class="col-md-2 col-xs-2 form-control-label">A</label>
						</div>
						<div class="form-group row" *ngFor="let item of slots, let j = index">
							<div class="col-md-6 col-xs-12">
							<!--<datetime [timepicker]="false" [(ngModel)]="item.date"></datetime>-->
							<input class="form-control" [(ngModel)]="item.date" disabled/>
							</div>
							<div class="col-md-2 col-xs-12">
							<input class="form-control" [(ngModel)]="item.startHour" disabled/>
							</div>
							<div class="col-md-2 col-xs-12">
							<input class="form-control" [(ngModel)]="item.endHour" disabled/>
							</div>
							<div class="col-md-2 col-xs-12">
								<button class="btn btn-secondary mb-xs" role="button" (click)="removeSlot(j)">
								<i class="glyphicon glyphicon-trash"></i>
							  </button>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6 col-xs-12">
								<datetime id="slotDate" [timepicker]="false" [datepicker]="{autoclose: true,format: 'dd/mm/yyyy', language: 'fr'}" [(ngModel)]="slot.date"></datetime>
							</div>
							<div class="col-md-2 col-xs-12">
								<datetime id="slotSHour" [datepicker]="false" [timepicker]="{ showMeridian: false, minuteStep: 15 }" [(ngModel)]="slot.startHour"></datetime>
							</div>
							<div class="col-md-2 col-xs-12">
								<datetime id="slotEHour" [datepicker]="false" [timepicker]="{ showMeridian: false, minuteStep: 15 }" [(ngModel)]="slot.endHour"></datetime>
							</div>
							<div class="col-md-2 col-xs-12">
								<button class="btn btn-danger mb-xs" role="button" (click)="addSlot()">
								<i class="glyphicon glyphicon-plus"></i>
							  </button>
							</div>
						</div>
					</fieldset>
					<div class="row">	
						<div class="col-md-6 col-xs-12">
						<fieldset>
							<legend><strong>Qualités</strong></legend>
							<div class="form-group row">
								<div class="col-md-10 col-xs-12">
									<select class="form-control" [(ngModel)]="selectedQuality">
										<option *ngFor="let q of qualities" [value]="q.idQuality"> {{q.libelle}}</option>
									</select>
								</div>
								<div class="col-md-2 col-xs-12">
									<button class="btn btn-danger mb-xs" role="button" (click)="addQuality()">
										<i class="glyphicon glyphicon-plus"></i>
								  </button>
								</div>
							</div>
							<div class="form-group row" *ngFor="let item of offer.qualityData">
								<label class="col-md-10 col-xs-6 form-control-label">{{item.libelle}}</label>
								<div class="col-md-2 col-xs-12">
									<button class="btn btn-secondary mb-xs" role="button">
									<i class="glyphicon glyphicon-trash" (click)="removeQuality(item)"></i>
								  </button>
								</div>
							</div>
						</fieldset>
						</div>
						<div class="col-md-6 col-xs-12">
						<fieldset>
							<legend><strong>Langues</strong></legend>
							<div class="form-group row">
								<div class="col-md-6 col-xs-12">
									<select class="form-control" [(ngModel)]="selectedLang">
										<option *ngFor="let l of langs" [value]="l.idLanguage"> {{l.libelle}}</option>
									</select>
								</div>
								<div class="col-md-4 col-xs-12">
									<select class="form-control" [(ngModel)]="selectedLevel">
										<option value="junior">Débutant</option>
										<option value="senior">Courant</option>
									</select>
								</div>
								<div class="col-md-2 col-xs-12">
									<button class="btn btn-danger mb-xs" role="button" (click)="addLanguage()">
										<i class="glyphicon glyphicon-plus"></i>
								  </button>
								</div>
							</div>
							<div class="form-group row" *ngFor="let item of offer.languageData">
								<label class="col-md-6 col-xs-6 form-control-label">{{item.libelle}}</label>
								<label class="col-md-4 col-xs-6 form-control-label">{{item.level == 'junior' ? 'Débutant' : 'Courant'}}</label>
								<div class="col-md-2 col-xs-12">
									<button class="btn btn-secondary mb-xs" role="button">
									<i class="glyphicon glyphicon-trash" (click)="removeLanguage(item)"></i>
								  </button>
								</div>
							</div>
						</fieldset>	
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-4 col-md-7 col-xs-12">
								<button type="submit" class="btn btn-primary" (click)="addOffer()">Sauvegarder</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>