<div class="modal fade modal-margin-top" id="modal-general-condition" style="height: 90% !important">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"  *ngIf="currentUser && !hasRefused">
        <h4 class="modal-title text-xs-center fw-bold mt" id="myModalLabel1">{{gConditions.title}}</h4>

        <div class="container-fluid" style="border: 2px solid #e5e5e5; text-align: justify; margin-top: 2em">

          <h5 class="modal-title fw-bold mt">{{gConditions.legalInformation.title}}</h5>
          <p>
            {{gConditions.legalInformation.content}}
          </p>

          <h5 class="modal-title fw-bold mt">{{gConditions.preamble.title}}</h5>
          <p>
            {{gConditions.preamble.content}}
          </p>

          <h5 class="modal-title fw-bold mt">{{gConditions.object.title}}</h5>
          <p>
            {{gConditions.object.content}}
          </p>

          <div *ngFor="let article of gConditions.articles">
            <h5 class="modal-title fw-bold mt">
              Article {{article.code}}: {{article.title}}</h5>
            <div *ngFor="let subArticle of article.content">
              <h5 class="modal-title fw-bold mt" *ngIf="subArticle.subTitle">
                Article {{article.code}}.{{subArticle.subCode}}: {{subArticle.subTitle}}</h5>
              <p>
                {{subArticle.subContent}}
              </p>
            </div>
          </div>

          <h6 class="modal-title text-xs-center fw-bold mt">{{gConditions.footer}}</h6>
        </div>
      </div>

      <div class="modal-header"  *ngIf="currentUser && hasRefused">
        <h4 class="modal-title text-xs-center fw-bold mt" id="myModalLabel1">Vit-On-Job</h4>

        <p class="text-xs-center text-muted mt-sm" style="line-height: 2;">
          {{refusalMsg}}
        </p>

      </div>

      <div class="modal-footer" *ngIf="currentUser && !hasRefused">
        <button type="button" class="btn btn-inverse" (click)="refuse()">Je refuse</button>
        <button type="button" class="btn btn-success" (click)="connect()">J'accepte</button>
      </div>

      <div class="modal-footer" *ngIf="currentUser && hasRefused">
        <button type="button" class="btn btn-inverse" (click)="logOut('n')">Non, merci</button>
        <button type="button" class="btn btn-success" (click)="logOut('y')">Oui, contactez-moi</button>
      </div>
    </div>
  </div>
</div>
