.top-element {
  z-index: 10000;
}

.advert-details-body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  legend {
    margin-top: .5em;
  }

}

.button-bar {
  margin-bottom: 20px;
  text-align: center;
}
